osb/POSAService/ODPOSAService/resource/schema/XMLSchema_450867130.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Exceptions"><xs:complexType name="PartnerServiceFault"><xs:sequence><xs:element minOccurs="0" name="ErrorCode" type="xs:int"/><xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="PartnerServiceFault" nillable="true" type="tns:PartnerServiceFault"/></xs:schema>