osb/POSAService/ODPOSAService/resource/schema/XMLSchema_-1628437961.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://Microsoft.com/mscis/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://Microsoft.com/mscis/">
	<xs:import schemaLocation="XMLSchema_-242234567.xsd"
		namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<xs:element name="HealthCheck">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="HealthCheckResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="HealthCheckResult"
					nillable="true" type="q1:ArrayOfstring"
					xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ActivateToken">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="vendorSerialNumber"
					nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="storeId" nillable="true"
					type="xs:string" />
				<xs:element minOccurs="0" name="clientTransactionId"
					nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="attributes" nillable="true"
					type="q2:ArrayOfKeyValueOfstringstring" xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ActivateTokenResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="ActivateTokenResult"
					type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeactivateToken">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="vendorSerialNumber"
					nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="storeId" nillable="true"
					type="xs:string" />
				<xs:element minOccurs="0" name="clientTransactionId"
					nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="attributes" nillable="true"
					type="q3:ArrayOfKeyValueOfstringstring" xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeactivateTokenResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="DeactivateTokenResult"
					type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CheckStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="vendorSerialNumber"
					nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CheckStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="CheckStatusResult"
					nillable="true" type="tns:SerialNumberStatus" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SerialNumberStatus">
		<xs:sequence>
			<xs:element minOccurs="0" name="TokenStatusCode" type="xs:int" />
			<xs:element minOccurs="0" name="TokenStatusDescription"
				nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SerialNumberStatus" nillable="true"
		type="tns:SerialNumberStatus" />
	<xs:element name="Ping">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="PingResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
</xs:schema>