Trunk/xxom/bpel/I1151DPSCancelOrderProcess_Out/I1151DPSCancelOrderProcess/DPSCancel_ClearStaging/bpel/DPSCancel_ClearStaging.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/DPSCancel_ClearStaging"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="DPSCancel_ClearStagingProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="DPSCancel_ClearStagingProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>