xxfin/bpel/archive/GetVikingCreditStatus/bpel/VKCreditCheck_Request.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--Native format was generated from COBOL copybook : C:\dev\workspaces\jdevWorkspace\FinanceBPELApplication\GetVikingCreditStatus\VKCreditCheck_Request_Copybook.txt-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:extn="http://xmlns.oracle.com/pcbpel/nxsd/extensions" targetNamespace="http://TargetNamespace.com/EnqueRequest" xmlns:tns="http://TargetNamespace.com/EnqueRequest" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:encoding="cp037" nxsd:byteOrder="bigEndian" nxsd:stream="chars">
   <xsd:element name="Root-Element">
      <xsd:complexType>
         <xsd:sequence>
            <!--COBOL declaration :05 REQUEST-AREA-->
            <xsd:element name="REQUEST-AREA" minOccurs="1" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <!--COBOL declaration : 10 CUSTOMER_ACCT_NUMBER PIC X(025)-->
                     <xsd:element name="CUSTOMER_ACCT_NUMBER" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="25"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
