soa/ValidateEmployee/ValidateEmployeeProviderABCS/CI_OD_CI_EMP_PWD_VAL.1.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="CI_OD_CI_EMP_PWD_VAL.1"
                  targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/services/CI_OD_CI_EMP_PWD_VAL.1"
                  xmlns:M1068738.V1="http://xmlns.oracle.com/Enterprise/Tools/schemas/M1068738.V1"
                  xmlns:M241439.V1="http://xmlns.oracle.com/Enterprise/Tools/schemas/M241439.V1"
                  xmlns:M974361.V1="http://xmlns.oracle.com/Enterprise/Tools/schemas/M974361.V1"
                  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://xmlns.oracle.com/Enterprise/Tools/services/CI_OD_CI_EMP_PWD_VAL.1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy">
  <wsp:UsagePolicy wsdl:Required="true"/>
  <plnk:partnerLinkType name="CI_OD_CI_EMP_PWD_VAL_PartnerLinkType">
    <plnk:role name="CI_OD_CI_EMP_PWD_VAL_Provider">
      <plnk:portType name="tns:CI_OD_CI_EMP_PWD_VAL_PortType"/>
    </plnk:role>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/M1068738.V1"
                  schemaLocation="xsd/M1068738.V1.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/M974361.V1"
                  schemaLocation="xsd/M974361.V1.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/M241439.V1"
                  schemaLocation="xsd/M241439.V1.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="M1068738.V1">
    <wsdl:documentation>M1068738</wsdl:documentation>
    <wsdl:part element="M1068738.V1:Get__CompIntfc__OD_CI_EMP_PWD_VAL"
               name="parameter"/>
  </wsdl:message>
  <wsdl:message name="M974361.V1">
    <wsdl:documentation>M974361</wsdl:documentation>
    <wsdl:part element="M974361.V1:Get__CompIntfc__OD_CI_EMP_PWD_VALResponse"
               name="parameter"/>
  </wsdl:message>
  <wsdl:message name="M241439.V1">
    <wsdl:documentation>M241439</wsdl:documentation>
    <wsdl:part element="M241439.V1:CIFault" name="parameter"/>
  </wsdl:message>
  <wsdl:portType name="CI_OD_CI_EMP_PWD_VAL_PortType">
    <wsdl:operation name="CI_OD_CI_EMP_PWD_VAL_G">
      <wsdl:documentation>CI_OD_CI_EMP_PWD_VAL_G</wsdl:documentation>
      <wsdl:input message="tns:M1068738.V1" name="M1068738.V1"/>
      <wsdl:output message="tns:M974361.V1" name="M974361.V1"/>
      <wsdl:fault message="tns:M241439.V1" name="M241439.V1"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CI_OD_CI_EMP_PWD_VAL_Binding"
                type="tns:CI_OD_CI_EMP_PWD_VAL_PortType">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CI_OD_CI_EMP_PWD_VAL_G">
      <soap:operation soapAction="CI_OD_CI_EMP_PWD_VAL_G.V1" style="document"/>
      <wsp:Policy wsu:Id="UsernameTokenSecurityPolicyPasswordOptional"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <wsp:ExactlyOne>
          <wsp:All>
            <wsse:SecurityToken wsp:Usage="wsp:Required"
                                xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
              <wsse:TokenType>wsse:UserNameToken</wsse:TokenType>
              <Claims>
                <SubjectName MatchType="wsse:Exact"/>
                <UsePassword wsp:Usage="wsp:Optional"/>
              </Claims>
            </wsse:SecurityToken>
          </wsp:All>
        </wsp:ExactlyOne>
      </wsp:Policy>
      <wsdl:input name="M1068738.V1">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   use="literal"/>
      </wsdl:input>
      <wsdl:output name="M974361.V1">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   use="literal"/>
      </wsdl:output>
      <wsdl:fault name="M241439.V1">
        <soap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    name="M241439.V1" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CI_OD_CI_EMP_PWD_VAL">
    <wsdl:documentation>CI_OD_CI_EMP_PWD_VAL</wsdl:documentation>
    <wsdl:port binding="tns:CI_OD_CI_EMP_PWD_VAL_Binding"
               name="CI_OD_CI_EMP_PWD_VAL_Port">
      <soap:address location="https://pshrdev.na.odcorp.net/PSIGW/PeopleSoftServiceListeningConnector/CI_OD_CI_EMP_PWD_VAL.1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>