xxfin/soa/PeopleSoftUpgrade/SyncDB2FoundationTables/V2/SynchJobFunctionPsftToDB2Service/xsd/OD_JOBFUNCTION_SYNC.XSD

<?xml version="1.0"?> 
<xsd:schema elementFormDefault="qualified" 
targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/OD_JOBFUNCTION_SYNC.v1" 
xmlns="http://xmlns.oracle.com/Enterprise/Tools/schemas/OD_JOBFUNCTION_SYNC.v1"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 
  <xsd:element name="OD_JOBFUNCTION_SYNC" type="OD_JOBFUNCTION_SYNC_TypeShape"/> 
  <xsd:complexType name="OD_JOBFUNCTION_SYNC_TypeShape"> 
    <xsd:sequence> 
      <xsd:element name="FieldTypes" type="FieldTypes_TypeShape"/> 
      <xsd:element name="MsgData" type="MsgData_TypeShape"/> 
    </xsd:sequence> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypes_TypeShape"> 
    <xsd:all> 
      <xsd:element name="JOBFUNCTION_TBL" type="FieldTypesJOBFUNCTION_TBL_TypeShape"/> 
      <xsd:element name="PSCAMA" type="FieldTypesPSCAMA_TypeShape"/> 
    </xsd:all> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesJOBFUNCTION_TBL_TypeShape"> 
    <xsd:sequence> 
      <xsd:element name="JOB_FUNCTION" type="FieldTypesCharFieldType"/> 
      <xsd:element name="EFFDT" type="FieldTypesDateFieldType"/> 
      <xsd:element name="DESCR" type="FieldTypesCharFieldType"/> 
      <xsd:element name="EFF_STATUS" type="FieldTypesCharFieldType"/> 
      <xsd:element minOccurs="0" name="DESCRSHORT" type="FieldTypesCharFieldType"/> 
      <xsd:element minOccurs="0" name="INAIL_CODE" type="FieldTypesCharFieldType"/> 
    </xsd:sequence> 
    <xsd:attribute fixed="R" name="class" type="xsd:string" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesPSCAMA_TypeShape"> 
    <xsd:sequence> 
      <xsd:element minOccurs="0" name="LANGUAGE_CD" type="FieldTypesCharFieldType"/> 
      <xsd:element minOccurs="0" name="AUDIT_ACTN" type="FieldTypesCharFieldType"/> 
      <xsd:element minOccurs="0" name="BASE_LANGUAGE_CD" type="FieldTypesCharFieldType"/> 
      <xsd:element minOccurs="0" name="MSG_SEQ_FLG" type="FieldTypesCharFieldType"/> 
      <xsd:element minOccurs="0" name="PROCESS_INSTANCE" type="FieldTypesNumberFieldType"/> 
      <xsd:element minOccurs="0" name="PUBLISH_RULE_ID" type="FieldTypesCharFieldType"/> 
      <xsd:element minOccurs="0" name="MSGNODENAME" type="FieldTypesCharFieldType"/> 
    </xsd:sequence> 
    <xsd:attribute fixed="R" name="class" type="xsd:string" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesCharFieldType"> 
    <xsd:attribute fixed="CHAR" name="type" type="xsd:string" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesNumberFieldType"> 
    <xsd:attribute fixed="NUMBER" name="type" type="xsd:string" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesDateFieldType"> 
    <xsd:attribute fixed="DATE" name="type" type="xsd:string" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesTimeFieldType"> 
    <xsd:attribute fixed="TIME" name="type" type="xsd:string" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesDateTimeFieldType"> 
    <xsd:attribute fixed="DATETIME" name="type" type="xsd:string" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="FieldTypesImageRefFieldType"> 
    <xsd:attribute fixed="IMAGEREFERENCE" name="type" type="xsd:string" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="MsgData_TypeShape"> 
    <xsd:sequence> 
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Transaction" type="Transaction_TypeShape"/> 
    </xsd:sequence> 
  </xsd:complexType> 
  <xsd:complexType name="Transaction_TypeShape"> 
    <xsd:all> 
      <xsd:element minOccurs="0" name="JOBFUNCTION_TBL" type="JOBFUNCTION_TBLMsgDataRecord_TypeShape"/> 
      <xsd:element name="PSCAMA" type="PSCAMAMsgDataRecord_TypeShape"/> 
    </xsd:all> 
  </xsd:complexType> 
  <xsd:complexType name="JOBFUNCTION_TBLMsgDataRecord_TypeShape"> 
    <xsd:sequence> 
      <xsd:element name="JOB_FUNCTION" type="JOB_FUNCTION_TypeShape"/> 
      <xsd:element name="EFFDT" type="EFFDT_TypeShape"/> 
      <xsd:element name="DESCR" type="DESCR_TypeShape"/> 
      <xsd:element name="EFF_STATUS" type="EFF_STATUS_TypeShape"/> 
      <xsd:element minOccurs="0" name="DESCRSHORT" type="DESCRSHORT_TypeShape"/> 
      <xsd:element minOccurs="0" name="INAIL_CODE" type="INAIL_CODE_TypeShape"/> 
    </xsd:sequence> 
    <xsd:attribute fixed="R" name="class" type="xsd:string" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="JOB_FUNCTION_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="JOB_FUNCTION_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="EFFDT_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="EFFDT_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="DESCR_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="DESCR_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="EFF_STATUS_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="EFF_STATUS_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="DESCRSHORT_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="DESCRSHORT_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="INAIL_CODE_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="INAIL_CODE_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:simpleType name="JOB_FUNCTION_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>JOB_FUNCTION is a character of length 3. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="3"/> 
      <xsd:whiteSpace value="preserve"/> 
      <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="EFFDT_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>Effective Date</xsd:documentation> 
      <xsd:documentation>EFFDT is a date.</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:date"> 
      <xsd:pattern value="(\d{4}-\d{2}-\d{2})"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="DESCR_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>Description</xsd:documentation> 
      <xsd:documentation>DESCR is a character of length 30</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30"/> 
      <xsd:whiteSpace value="preserve"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="EFF_STATUS_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>Effective Status</xsd:documentation> 
      <xsd:documentation>EFF_STATUS is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:enumeration value="A"/> 
      <xsd:enumeration value="I"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="DESCRSHORT_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>Short Description</xsd:documentation> 
      <xsd:documentation>DESCRSHORT is a character of length 10</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="10"/> 
      <xsd:whiteSpace value="preserve"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="INAIL_CODE_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>INAIL_CODE is a character of length 11. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="11"/> 
      <xsd:whiteSpace value="preserve"/> 
      <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:complexType name="PSCAMAMsgDataRecord_TypeShape"> 
    <xsd:sequence> 
      <xsd:element minOccurs="0" name="LANGUAGE_CD" type="LANGUAGE_CD_TypeShape"/> 
      <xsd:element minOccurs="0" name="AUDIT_ACTN" type="AUDIT_ACTN_TypeShape"/> 
      <xsd:element minOccurs="0" name="BASE_LANGUAGE_CD" type="BASE_LANGUAGE_CD_TypeShape"/> 
      <xsd:element minOccurs="0" name="MSG_SEQ_FLG" type="MSG_SEQ_FLG_TypeShape"/> 
      <xsd:element minOccurs="0" name="PROCESS_INSTANCE" type="PROCESS_INSTANCE_TypeShape"/> 
      <xsd:element minOccurs="0" name="PUBLISH_RULE_ID" type="PUBLISH_RULE_ID_TypeShape"/> 
      <xsd:element minOccurs="0" name="MSGNODENAME" type="MSGNODENAME_TypeShape"/> 
    </xsd:sequence> 
    <xsd:attribute fixed="R" name="class" type="xsd:string" use="required"/> 
  </xsd:complexType> 
  <xsd:complexType name="LANGUAGE_CD_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="LANGUAGE_CD_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="AUDIT_ACTN_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="AUDIT_ACTN_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="BASE_LANGUAGE_CD_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="BASE_LANGUAGE_CD_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="MSG_SEQ_FLG_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="MSG_SEQ_FLG_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="PROCESS_INSTANCE_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="PROCESS_INSTANCE_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="PUBLISH_RULE_ID_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="PUBLISH_RULE_ID_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:complexType name="MSGNODENAME_TypeShape"> 
    <xsd:simpleContent> 
      <xsd:extension base="MSGNODENAME_TypeDef"> 
        <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType> 
  <xsd:simpleType name="LANGUAGE_CD_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>Language Code</xsd:documentation> 
      <xsd:documentation>LANGUAGE_CD is a character of length 3. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="3"/> 
      <xsd:whiteSpace value="preserve"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="AUDIT_ACTN_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>Audit Action Code for Application Messages.  This tells the subscriber whether the row has been added, changed, or deleted.</xsd:documentation> 
      <xsd:documentation>AUDIT_ACTN is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="1"/> 
      <xsd:whiteSpace value="preserve"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="BASE_LANGUAGE_CD_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>BASE_LANGUAGE_CD is a character of length 3. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="3"/> 
      <xsd:whiteSpace value="preserve"/> 
      <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="MSG_SEQ_FLG_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>MSG_SEQ_FLG is a character of length 1. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="1"/> 
      <xsd:whiteSpace value="preserve"/> 
      <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="PROCESS_INSTANCE_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>Process Instance</xsd:documentation> 
      <xsd:documentation>PROCESS_INSTANCE is a number of length 10 with a decimal position of 0</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:integer"> 
      <xsd:totalDigits value="10"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="PUBLISH_RULE_ID_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>Publish Rule ID</xsd:documentation> 
      <xsd:documentation>PUBLISH_RULE_ID is a character of length 30. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30"/> 
      <xsd:whiteSpace value="preserve"/> 
      <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
  <xsd:simpleType name="MSGNODENAME_TypeDef"> 
    <xsd:annotation> 
      <xsd:documentation>Application Message Node Name.  Name of the Application Message Node Definition.</xsd:documentation> 
      <xsd:documentation>MSGNODENAME is a character of length 30. Allows Uppercase characters including numbers</xsd:documentation> 
    </xsd:annotation> 
    <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30"/> 
      <xsd:whiteSpace value="preserve"/> 
      <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/> 
    </xsd:restriction> 
  </xsd:simpleType> 
</xsd:schema> 