bpel/BPELInvokeESP/bpel/BPELInvokeESP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="BPELInvokeESP"
             targetNamespace="http://xmlns.oracle.com/BPELInvokeESP"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:client="http://xmlns.oracle.com/BPELInvokeESP"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	TYPE DEFINITION - List of services participating in this BPEL process
	The default output of the BPEL designer uses strings as input and 
	output to the BPEL Process. But you can define or import any XML 
	Schema type and use them as part of the message types.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --> 
    	<import namespace="http://schemas.oracle.com/bpel/extension" location="RuntimeFault.wsdl"/>	
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://xmlns.oracle.com/BPELInvokeESP" schemaLocation="BPELInvokeESP.xsd" />
		</schema>
	</types>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	MESSAGE TYPE DEFINITION - Definition of the message types used as 
	part of the port type defintions
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->      
	<message name="BPELInvokeESPRequestMessage">
		<part name="payload" element="client:BPELInvokeESPProcessRequest"/>
	</message>
	<message name="BPELInvokeESPResponseMessage">
		<part name="payload" element="client:BPELInvokeESPProcessResponse"/>
	</message>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PORT TYPE DEFINITION - A port type groups a set of operations into
	a logical service unit.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<!-- portType implemented by the BPELInvokeESP BPEL process -->
	<portType name="BPELInvokeESP">
		<operation name="initiate">
			<input  message="client:BPELInvokeESPRequestMessage" />
		</operation>
	</portType>
	<portType name="BPELInvokeESPCallback">
		<operation name="onResult">
			<input message="client:BPELInvokeESPResponseMessage" />
		</operation>
	</portType>	

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PARTNER LINK TYPE DEFINITION
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --> 
	<plnk:partnerLinkType name="BPELInvokeESP">
		<plnk:role name="BPELInvokeESPProvider">
			<plnk:portType name="client:BPELInvokeESP"/>
		</plnk:role>
		<plnk:role name="BPELInvokeESPRequester">
			<plnk:portType name="client:BPELInvokeESPCallback"/>
		</plnk:role>		
	</plnk:partnerLinkType>
</definitions>
