soa/PeopleSoftUpgrade/SyncSupplier/SynchSupplierRMSProvABCS/NASupplier_rms_inb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="NASupplier_rms_inb"
     targetNamespace="http://xmlns.officedepot.com/Merchant/NASupplier_rms_inb/NASupplier_rms_inb"
     xmlns:ns2="http://www.openapplications.org/officedepot/merchandising/foundation/1"
     xmlns:ns1="http://www.openapplications.org/oagis/9"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:client="http://xmlns.officedepot.com/Merchant/NASupplier_rms_inb/NASupplier_rms_inb"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="NASupplier_rms_inb">
        <plnk:role name="NASupplier_rms_inbProvider" portType="client:NASupplier_rms_inb"/>
        <plnk:role name="NASupplier_rms_inbRequester" portType="client:NASupplier_rms_inbCallback"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.openapplications.org/oagis/9" schemaLocation="oramds:/apps/ODCommon/oagis/v91/message/bod/SyncSupplierPartyMaster.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.openapplications.org/officedepot/merchandising/foundation/1"
                 schemaLocation="oramds:/apps/ODCommon/xmllib/merch/CommonResponse.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="NASupplier_rms_inbResponseMessage">
        <wsdl:part name="payload" element="ns2:CommonResponse"/>
    </wsdl:message>
    <wsdl:message name="NASupplier_rms_inbRequestMessage">
        <wsdl:part name="payload" element="ns1:SyncSupplierPartyMaster"/>
    </wsdl:message>
    <wsdl:portType name="NASupplier_rms_inbCallback">
        <wsdl:operation name="onResult">
            <wsdl:input message="client:NASupplier_rms_inbResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="NASupplier_rms_inb">
        <wsdl:operation name="initiate">
            <wsdl:input message="client:NASupplier_rms_inbRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
