soa/PeopleSoftUpgrade/SyncSupplier/SynchSupplierRMSProvABCS/nasupplier_rms_inb_client_ep.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="NASupplier_rms_inb"
     targetNamespace="http://xmlns.officedepot.com/Merchant/NASupplier_rms_inb/NASupplier_rms_inb"
     xmlns:ns2="http://www.openapplications.org/officedepot/finance/foundation/1"
     xmlns:ns1="http://www.openapplications.org/oagis/9"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:client="http://xmlns.officedepot.com/Merchant/NASupplier_rms_inb/NASupplier_rms_inb"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <wsdl:documentation>
        <abstractWSDL>http://soadev01.na.odcorp.net/soa-infra/services/finance/NASupplier_rms_inb!1.0/NASupplier_rms_inb.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="NASupplier_rms_inb">
        <plnk:role name="NASupplier_rms_inbRequester" portType="client:NASupplier_rms_inbCallback"/>
        <plnk:role name="NASupplier_rms_inbProvider" portType="client:NASupplier_rms_inb"/>
    </plnk:partnerLinkType>
    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
         wsu:Id="wsaddr_policy">
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
    </wsp:Policy>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.openapplications.org/oagis/9" schemaLocation="http://soadev01.na.odcorp.net:80/soa-infra/services/finance/NASupplier_rms_inb/apps/ODCommon/oagis/v91/message/bod/SyncSupplierPartyMaster.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.openapplications.org/officedepot/finance/foundation/1"
                 schemaLocation="http://soadev01.na.odcorp.net:80/soa-infra/services/finance/NASupplier_rms_inb/apps/ODCommon/xmllib/finance/CommonResponse.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="NASupplier_rms_inbResponseMessage">
        <wsdl:part name="payload" element="ns2:CommonResponse"/>
    </wsdl:message>
    <wsdl:message name="NASupplier_rms_inbRequestMessage">
        <wsdl:part name="payload" element="ns1:SyncSupplierPartyMaster"/>
    </wsdl:message>
    <wsdl:portType name="NASupplier_rms_inbCallback">
        <wsdl:operation name="onResult">
            <wsdl:input message="client:NASupplier_rms_inbResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="NASupplier_rms_inb">
        <wsdl:operation name="initiate">
            <wsdl:input message="client:NASupplier_rms_inbRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NASupplier_rms_inbCallbackBinding" type="client:NASupplier_rms_inbCallback">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="onResult">
            <soap:operation style="document" soapAction="onResult"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.officedepot.com/Merchant/NASupplier_rms_inb/NASupplier_rms_inb"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NASupplier_rms_inbBinding" type="client:NASupplier_rms_inb">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wsaddr_policy"
             wsdl:required="false"/>
        <wsdl:operation name="initiate">
            <soap:operation style="document" soapAction="initiate"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.officedepot.com/Merchant/NASupplier_rms_inb/NASupplier_rms_inb"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="nasupplier_rms_inb_client_ep">
        <wsdl:port name="NASupplier_rms_inb_pt" binding="client:NASupplier_rms_inbBinding">
            <soap:address location="http://soadev01.na.odcorp.net:80/soa-infra/services/finance/NASupplier_rms_inb/nasupplier_rms_inb_client_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
