xxptp/bpel/I1013_Modifiers/I1013_Modifiers_EBS_In/bpel/APPS_BPEL_QP_MODIFIERS_PUB_QP_MODIFIERS_PUB-24PROCESS_MODI.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/APPS/BPEL_QP_MODIFIERS_PUB/QP_MODIFIERS_PUB-24PROCESS_MODI/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/APPS/BPEL_QP_MODIFIERS_PUB/QP_MODIFIERS_PUB-24PROCESS_MODI/">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_API_VERSION_NUMBER" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_INIT_MSG_LIST" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_RETURN_VALUES" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_COMMIT" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MODIFIER_LIST_REC" type="db:QP_MODIFIERS_PUB_MODIFIER_LIS" db:index="8" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="P_MODIFIER_LIST_VAL_REC" type="db:QP_MODIFIERS_PUB_MODIFIER_L19" db:index="9" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="P_MODIFIERS_TBL" type="db:QP_MODIFIERS_PUB_MODIFIERS_TB" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_MODIFIERS_VAL_TBL" type="db:QP_MODIFIERS_PUB_MODIFIERS_VA" db:index="11" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_QUALIFIERS_TBL" type="db:QP_MODIFIERS_PUB_QUALIFIERS_T" db:index="12" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_QUALIFIERS_VAL_TBL" type="db:QP_MODIFIERS_PUB_QUALIFIERS_V" db:index="13" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_PRICING_ATTR_TBL" type="db:QP_MODIFIERS_PUB_PRICING_ATTR" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_PRICING_ATTR_VAL_TBL" type="db:QP_MODIFIERS_PUB_PRICING_AT20" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="X_RETURN_STATUS" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="X_MSG_COUNT" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="X_MSG_DATA" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="X_MODIFIER_LIST_REC" type="db:QP_MODIFIERS_PUB_MODIFIER_LIS" db:index="16" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="X_MODIFIER_LIST_VAL_REC" type="db:QP_MODIFIERS_PUB_MODIFIER_L19" db:index="17" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="X_MODIFIERS_TBL" type="db:QP_MODIFIERS_PUB_MODIFIERS_TB" db:index="18" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="X_MODIFIERS_VAL_TBL" type="db:QP_MODIFIERS_PUB_MODIFIERS_VA" db:index="19" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="X_QUALIFIERS_TBL" type="db:QP_MODIFIERS_PUB_QUALIFIERS_T" db:index="20" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="X_QUALIFIERS_VAL_TBL" type="db:QP_MODIFIERS_PUB_QUALIFIERS_V" db:index="21" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="X_PRICING_ATTR_TBL" type="db:QP_MODIFIERS_PUB_PRICING_ATTR" db:index="22" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="X_PRICING_ATTR_VAL_TBL" type="db:QP_MODIFIERS_PUB_PRICING_AT20" db:index="23" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="QP_MODIFIERS_PUB_MODIFIERS_VA">
      <sequence>
         <element name="P_MODIFIERS_VAL_TBL_ITEM" type="db:QP_MODIFIERS_PUB_MODIFIERS_29" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="QP_MODIFIERS_PUB_MODIFIER_L19">
      <sequence>
         <element name="AUTOMATIC" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CURRENCY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DISCOUNT_LINES" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FREIGHT_TERMS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_HEADER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRORATE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_METHOD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TERMS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_SOURCE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="QP_MODIFIERS_PUB_QUALIFIERS_V">
      <sequence>
         <element name="P_QUALIFIERS_VAL_TBL_ITEM" type="db:QP_QUALIFIER_RULES_PUB_QUAL31" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="QP_MODIFIERS_PUB_PRICING_AT32">
      <sequence>
         <element name="ACCUMULATE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE10" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE11" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE12" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE13" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE14" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE15" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE6" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE7" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE8" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE9" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE_GROUPING_NO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CREATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="EXCLUDER_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LAST_UPDATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_LOGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_LINE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRICING_ATTRIBUTE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICING_ATTRIBUTE_CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICING_ATTRIBUTE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRICING_ATTR_VALUE_FROM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICING_ATTR_VALUE_TO" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRODUCT_ATTRIBUTE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRODUCT_ATTRIBUTE_CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRODUCT_ATTR_VALUE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRODUCT_UOM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PROGRAM_APPLICATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="PRODUCT_ATTRIBUTE_DATATYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICING_ATTRIBUTE_DATATYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COMPARISON_OPERATOR_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRICING_PHASE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REQUEST_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRICING_ATTR_VALUE_FROM_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRICING_ATTR_VALUE_TO_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUALIFICATION_IND" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RETURN_STATUS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DB_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OPERATION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MODIFIERS_INDEX" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="QP_MODIFIERS_PUB_PRICING_AT33">
      <sequence>
         <element name="ACCUMULATE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="EXCLUDER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_LINE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICING_ATTRIBUTE_DESC" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICING_ATTR_VALUE_FROM_DESC" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICING_ATTR_VALUE_TO_DESC" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRODUCT_UOM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_HEADER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICING_PHASE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="QP_MODIFIERS_PUB_MODIFIERS_RE">
      <sequence>
         <element name="ARITHMETIC_OPERATOR" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE10" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE11" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE12" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE13" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE14" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE15" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE6" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE7" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE8" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE9" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="AUTOMATIC_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COMMENTS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2000"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CREATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="EFFECTIVE_PERIOD_UOM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="END_DATE_ACTIVE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="ESTIM_ACCRUAL_RATE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="GENERATE_USING_FORMULA_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INVENTORY_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_LOGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_LINE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_LINE_TYPE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_PRICE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MODIFIER_LEVEL_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="NUMBER_EFFECTIVE_PERIODS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OPERAND" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ORGANIZATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OVERRIDE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PERCENT_PRICE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRICE_BREAK_TYPE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICE_BY_FORMULA_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRIMARY_UOM_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRINT_ON_INVOICE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PROGRAM_APPLICATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="REBATE_TRXN_TYPE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RELATED_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RELATIONSHIP_TYPE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REPRICE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REQUEST_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REVISION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REVISION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="REVISION_REASON_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="START_DATE_ACTIVE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="SUBSTITUTION_ATTRIBUTE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SUBSTITUTION_CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SUBSTITUTION_VALUE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ACCRUAL_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICING_GROUP_SEQUENCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INCOMPATIBILITY_GRP_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_LINE_NO" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RLTD_MODIFIER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FROM_RLTD_MODIFIER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TO_RLTD_MODIFIER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RLTD_MODIFIER_GRP_NO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RLTD_MODIFIER_GRP_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICING_PHASE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRODUCT_PRECEDENCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EXPIRATION_PERIOD_START_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="NUMBER_EXPIRATION_PERIODS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EXPIRATION_PERIOD_UOM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="EXPIRATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="ESTIM_GL_VALUE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BENEFIT_PRICE_LIST_LINE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BENEFIT_LIMIT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CHARGE_TYPE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CHARGE_SUBTYPE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="BENEFIT_QTY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BENEFIT_UOM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ACCRUAL_CONVERSION_RATE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRORATION_TYPE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="INCLUDE_ON_RETURNS_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RETURN_STATUS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DB_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OPERATION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MODIFIER_PARENT_INDEX" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUALIFICATION_IND" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NET_AMOUNT_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ACCUM_ATTRIBUTE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="QP_MODIFIERS_PUB_MODIFIERS_29">
      <sequence>
         <element name="AUTOMATIC" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="BASE_UOM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="GENERATE_USING_FORMULA" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="GL_CLASS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="INVENTORY_ITEM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_HEADER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_LINE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_LINE_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_PRICE_UOM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MODIFIER_LEVEL" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ORGANIZATION_" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OVERRIDE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICE_BREAK_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICE_BY_FORMULA" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRIMARY_UOM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRINT_ON_INVOICE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REBATE_SUBTYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REBATE_TRANSACTION_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RELATED_ITEM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RELATIONSHIP_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REPRICE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REVISION_REASON" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="QP_QUALIFIER_RULES_PUB_QUAL30">
      <sequence>
         <element name="ATTRIBUTE1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE10" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE11" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE12" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE13" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE14" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE15" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE6" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE7" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE8" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE9" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COMPARISON_OPERATOR_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CREATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATED_FROM_RULE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="END_DATE_ACTIVE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="EXCLUDER_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LAST_UPDATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_LOGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_LINE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_APPLICATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="QUALIFIER_ATTRIBUTE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUALIFIER_ATTR_VALUE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUALIFIER_ATTR_VALUE_TO" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUALIFIER_CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUALIFIER_DATATYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUALIFIER_GROUPING_NO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUALIFIER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUALIFIER_PRECEDENCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUALIFIER_RULE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REQUEST_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="START_DATE_ACTIVE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LIST_TYPE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUAL_ATTR_VALUE_FROM_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUAL_ATTR_VALUE_TO_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ACTIVE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SEARCH_IND" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUALIFIER_GROUP_CNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="HEADER_QUALS_EXIST_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DISTINCT_ROW_COUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RETURN_STATUS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DB_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OPERATION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="QP_MODIFIERS_PUB_QUALIFIERS_T">
      <sequence>
         <element name="P_QUALIFIERS_TBL_ITEM" type="db:QP_QUALIFIER_RULES_PUB_QUAL30" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="QP_MODIFIERS_PUB_PRICING_AT20">
      <sequence>
         <element name="P_PRICING_ATTR_VAL_TBL_ITEM" type="db:QP_MODIFIERS_PUB_PRICING_AT33" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="QP_MODIFIERS_PUB_MODIFIERS_TB">
      <sequence>
         <element name="P_MODIFIERS_TBL_ITEM" type="db:QP_MODIFIERS_PUB_MODIFIERS_RE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="QP_MODIFIERS_PUB_MODIFIER_LIS">
      <sequence>
         <element name="ATTRIBUTE1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE10" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE11" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE12" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE13" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE14" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE15" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE6" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE7" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE8" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE9" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="AUTOMATIC_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COMMENTS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2000"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CREATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CURRENCY_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DISCOUNT_LINES_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="END_DATE_ACTIVE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="FREIGHT_TERMS_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="GSA_INDICATOR" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LAST_UPDATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_LOGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_TYPE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PROGRAM_APPLICATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="PRORATE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REQUEST_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ROUNDING_FACTOR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SHIP_METHOD_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="START_DATE_ACTIVE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="TERMS_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SOURCE_SYSTEM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ACTIVE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PARENT_LIST_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="START_DATE_ACTIVE_FIRST" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="END_DATE_ACTIVE_FIRST" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="ACTIVE_DATE_FIRST_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="START_DATE_ACTIVE_SECOND" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="END_DATE_ACTIVE_SECOND" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="ACTIVE_DATE_SECOND_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ASK_FOR_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DESCRIPTION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2000"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VERSION_NO" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RETURN_STATUS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DB_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OPERATION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PTE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_SOURCE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ORIG_SYSTEM_HEADER_REF" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHAREABLE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="QP_QUALIFIER_RULES_PUB_QUAL31">
      <sequence>
         <element name="CREATED_FROM_RULE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_HEADER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_LINE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUALIFIER_RULE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUALIFIER_ATTRIBUTE_DESC" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUALIFIER_ATTR_VALUE_DESC" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUALIFIER_ATTR_VALUE_TO_DESC" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="QP_MODIFIERS_PUB_PRICING_ATTR">
      <sequence>
         <element name="P_PRICING_ATTR_TBL_ITEM" type="db:QP_MODIFIERS_PUB_PRICING_AT32" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
</schema>
