bpel/NASupplier_rms_inb/bpel/NASupplier_rms_inb.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/NASupplier_rms_inb"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="NASupplier_rms_inbProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="NASupplier_rms_inbProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>