bpel/NASupplier_rms_inb/bpel/RMS10_OD_EBS_SUPPLIER_SQL_VALIDATE_OPERATION.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/RMS10/OD_EBS_SUPPLIER_SQL/VALIDATE_OPERATION/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/RMS10/OD_EBS_SUPPLIER_SQL/VALIDATE_OPERATION/">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="O_ERROR_MESSAGE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="O_DEFAULT_MESSAGE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_VENDOR_ID" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_NAME1" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_VENDOR_NAME_SHORT" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OLD_VENDOR_ID" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_VENDOR_STATUS" type="dateTime" db:index="8" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="I_VNDR_TIN" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_ADDR1_ADDRESS_SEQ_NUM" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_ADDR1_ADDRESS1" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_ADDR1_ADDRESS2" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_ADDR1_CITY" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_ADDR1_STATE" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_ADDR1_COUNTRY" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_ADDR1_POSTAL" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_ADDR1_EMAILID" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_ADDR1_PHONE" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_ADDR1_FAX" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_ADDR1_EXTENSION" type="decimal" db:index="20" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_COUNTRY_CODE" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_CURRENCY_CD" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_PYMNT_TERMS_CD" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_FREIGHT_TERMS" type="string" db:index="24" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_BANK_CD" type="string" db:index="25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_FACTORING_FLG" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_STD_ID_NUM_QUAL" type="string" db:index="27" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_TIN" type="string" db:index="28" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_CONTACT_NAME" type="string" db:index="29" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_MINORITY_BUS_CD" type="string" db:index="30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_MINORITY_BUS_CAT" type="string" db:index="31" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_LANG" type="decimal" db:index="32" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_RET_ALLOW_IND" type="string" db:index="33" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_RET_MIN_DOL_AMT" type="decimal" db:index="34" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_HANDLING_PCT" type="decimal" db:index="35" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_EDI_PO_IND" type="string" db:index="36" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_EDI_PO_CHG" type="string" db:index="37" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_EDI_PO_CONFIRM" type="string" db:index="38" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_EDI_ASN" type="string" db:index="39" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_EDI_SALES_RPT_FREQ" type="string" db:index="40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_EDI_SUPP_AVAILABLE_IND" type="string" db:index="41" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_EDI_INVC_IND" type="string" db:index="42" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_BACKORDER_IND" type="string" db:index="43" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_DELIVERY_POLICY" type="string" db:index="44" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_DEFAULT_ITEM_LEAD_TIME" type="decimal" db:index="45" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_OD_SEASONAL_IND" type="string" db:index="46" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OD_SEASONAL_START_DATE" type="dateTime" db:index="47" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="I_OD_SEASONAL_END_DATE" type="dateTime" db:index="48" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="I_OD_SEASONAL_TERMS" type="string" db:index="49" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OD_NEW_STORE_IND" type="string" db:index="50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OD_NEW_STORE_TERMS" type="string" db:index="51" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OD_VEND_PROG_VEND_YR" type="decimal" db:index="52" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_OD_CONTRACT_DT" type="dateTime" db:index="53" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="I_OD_VEND_SIG_DT" type="dateTime" db:index="54" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="I_OD_PARENT_COMPANY" type="string" db:index="55" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OD_PARENT_DUNS_NBR" type="decimal" db:index="56" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_OD_MIN_PREPAID_AMT" type="decimal" db:index="57" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_OD_MIN_PREPAID_CD" type="string" db:index="58" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OD_DEDUCT_FROM_INV_FLG" type="string" db:index="59" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OD_GST_TAX_FLG" type="string" db:index="60" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OD_GST_REG_NBR" type="string" db:index="61" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OD_LATE_SHIP_FLAG" type="string" db:index="62" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OD_PROD_OBSOLETE_CD" type="string" db:index="63" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OD_PROD_OBSOLETE_DAYS" type="decimal" db:index="64" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_OD_PROD_OBSOLETE_PCT" type="decimal" db:index="65" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_OD_EDI_DISTRIBUTION_CD" type="string" db:index="66" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OD_EDI_STORE_816_FLG" type="string" db:index="67" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OD_EDI_EFT_820_FLG" type="string" db:index="68" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OD_EDI_ADJ_FOR_DMG_861_FLG" type="string" db:index="69" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_OD_SUPPLIER_SHIP_TO_CD" type="string" db:index="70" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_SUP_RETURN_CD" type="string" db:index="71" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_RTV_FREIGHT_CD" type="string" db:index="72" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_RTV_RGA_MARKED_IND" type="string" db:index="73" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_RTV_RMV_PS_IND" type="string" db:index="74" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_RTV_RGA" type="string" db:index="75" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_CONT_RGA_IND" type="string" db:index="76" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_RTV_MIN_QTY" type="decimal" db:index="77" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_RTV_DESTROY_PCT" type="decimal" db:index="78" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_RTV_DESTROY_IND" type="string" db:index="79" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_RTV_INSTRUCTIONS_1" type="string" db:index="80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_RTV_INSTRUCTIONS_2" type="string" db:index="81" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_RTV_SERIAL_REQ_IND" type="string" db:index="82" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_RTV_DD_LIMIT_AMT" type="decimal" db:index="83" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_PAY_FREQUENCY_CD" type="string" db:index="84" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="L_RESULT" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="O_ERROR_MESSAGE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="O_DEFAULT_MESSAGE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
