xxfin/bpel/archive/CE_StoreBankDeposits_Upload/bpel/StoreBankDeposit_CPYBK_3.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--Native format was generated from COBOL copybook : C:\BPEL\StoreBankDeposit_CPYBK.txt-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            xmlns:extn="http://xmlns.oracle.com/pcbpel/nxsd/extensions"
            targetNamespace="http://TargetNamespace.com/FTPGetStoreBankDeposits"
            xmlns:tns="http://TargetNamespace.com/FTPGetStoreBankDeposits"
            elementFormDefault="qualified" attributeFormDefault="unqualified"
            nxsd:version="NXSD" nxsd:encoding="ASCII" nxsd:byteOrder="bigEndian"
            nxsd:stream="chars">
   <xsd:element name="Root-Element">
      <xsd:complexType>
         <xsd:sequence>
            <!--COBOL declaration : 01 IN-RECORD-->
            <xsd:element name="IN-RECORD" minOccurs="1" maxOccurs="unbounded"
                         nxsd:style="array" nxsd:cellSeparatedBy="${eol}">
               <xsd:complexType>
                  <xsd:sequence>
                     <!--COBOL declaration : 10 IN-SALES-DATE PIC 9(08)-->
                     <xsd:element name="IN-SALES-DATE" type="xsd:dateTime"
                                  nxsd:dateFormat="yyyyMMdd"
                                  nxsd:style="fixedLength" nxsd:length="8"/>
                     <!--COBOL declaration : 10 IN-LOC PIC X(04)-->
                     <xsd:element name="IN-LOC" type="xsd:string"
                                  nxsd:style="fixedLength" nxsd:padStyle="tail"
                                  nxsd:paddedBy=" " nxsd:length="4"/>
                     <!--COBOL declaration : 10 IN-AMOUNT PIC 9(10)V99-->
                     <xsd:element name="IN-AMOUNT" type="xsd:decimal"
                                  nxsd:style="virtualDecimal"
                                  extn:assumeDecimal="10" extn:picSize="12"/>
                     <!--COBOL declaration : 10 IN-DEPOSIT-TYPE PIC X(03)-->
                     <xsd:element name="IN-DEPOSIT-TYPE" type="xsd:string"
                                  nxsd:style="fixedLength" nxsd:padStyle="tail"
                                  nxsd:paddedBy=" " nxsd:length="3"/>
                     <!--COBOL declaration : 10 IN-SERIAL-NUM PIC X(04)-->
                     <xsd:element name="IN-SERIAL-NUM" type="xsd:string"
                                  nxsd:style="fixedLength" nxsd:padStyle="tail"
                                  nxsd:paddedBy=" " nxsd:length="4"/>
                     <!--COBOL declaration : 10 IN-LOG-NUM PIC X(10)-->
                     <xsd:element name="IN-LOG-NUM" type="xsd:string"
                                  nxsd:style="fixedLength" nxsd:padStyle="tail"
                                  nxsd:paddedBy=" " nxsd:length="10"/>
                     <!--COBOL declaration : 10 IN-BAG-NUM PIC X(07)-->
                     <xsd:element name="IN-BAG-NUM" type="xsd:string"
                                  nxsd:style="fixedLength" nxsd:padStyle="tail"
                                  nxsd:paddedBy=" " nxsd:length="7"/>
                     <!--COBOL declaration : 10 IN-PETTY-CASH-FLG PIC X(01)-->
                     <xsd:element name="IN-PETTY-CASH-FLG" type="xsd:string"
                                  nxsd:style="fixedLength" nxsd:padStyle="tail"
                                  nxsd:paddedBy=" " nxsd:length="1"/>
                     <!--COBOL declaration : 10 IN-FILLER PIC X(11)-->
                     <xsd:element name="IN-FILLER" type="xsd:string"
                                  nxsd:style="fixedLength" nxsd:padStyle="tail"
                                  nxsd:paddedBy=" " nxsd:length="11"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
