soa/PeopleSoftUpgrade/SyncSupplier/SynchSupplierPSFTProvABCS/UpdateSupplierCPEbizDBAdaptorV1.wsdl

<?binding.jca UpdateSupplierCPEbizDBAdaptorV1_db.jca?>
<wsdl:definitions name="UpdateSupplierCPEbizDBAdaptorV1" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/VendorSynch/SynchSupplierPSFTProvABCS/UpdateSupplierCPEbizDBAdaptorV1" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/VendorSynch/SynchSupplierPSFTProvABCS/UpdateSupplierCPEbizDBAdaptorV1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/UpdateSupplierCPEbizDBAdaptorV1">
    <plt:partnerLinkType name="UpdateSupplierCPEbizDBAdaptorV1_plt">
        <plt:role name="UpdateSupplierCPEbizDBAdaptorV1_role">
            <plt:portType name="tns:UpdateSupplierCPEbizDBAdaptorV1_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/UpdateSupplierCPEbizDBAdaptorV1" schemaLocation="xsd/UpdateSupplierCPEbizDBAdaptorV1_table.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="XxApSuppExtractCollection_msg">
        <wsdl:part name="XxApSuppExtractCollection" element="top:XxApSuppExtractCollection"/>
    </wsdl:message>
    <wsdl:message name="UpdateSupplierCPEbizDBAdaptorV1Select_inputParameters">
        <wsdl:part name="UpdateSupplierCPEbizDBAdaptorV1Select_inputParameters" element="top:UpdateSupplierCPEbizDBAdaptorV1Select_Ext_SystemInputParameters"/>
    </wsdl:message>
    <wsdl:portType name="UpdateSupplierCPEbizDBAdaptorV1_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:XxApSuppExtractCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateSupplierCPEbizDBAdaptorV1Select">
            <wsdl:input message="tns:UpdateSupplierCPEbizDBAdaptorV1Select_inputParameters"/>
            <wsdl:output message="tns:XxApSuppExtractCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
