xxfin/bpel/ProcessInvoiceRealTime/bpel/ProcessInvoiceRealTime.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ProcessInvoiceRealTime"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ProcessInvoiceRealTimeProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ProcessInvoiceRealTimeProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
				<element name="Message" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>