Trunk/xxom/bpel/ServiceB2BOutboundAck/bpel/B2BoutboundAckResponse.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ServiceB2BoutboundAck"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="B2BoutboundAckResponse">
		<complexType>
			<sequence>
				<element name="ReturnCode" type="string"/> 
                                <element name="ReturnMsg" type="string" />
			</sequence>
		</complexType>
	</element>
</schema>