xxfin/bpel/I1026_ARCRDCHK_Realtime/bpel/I1026_MQ_Response.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--Native format was generated from COBOL copybook MCSCEBS-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:extn="http://xmlns.oracle.com/pcbpel/nxsd/extensions" targetNamespace="http://TargetNamespace.com/plWriteResponse" xmlns:tns="http://TargetNamespace.com/plWriteResponse" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:encoding="cp037" nxsd:byteOrder="bigEndian" nxsd:stream="bytes">
   <xsd:element name="Response">
      <xsd:complexType>
         <xsd:sequence minOccurs="1" maxOccurs="unbounded">
            <!--COBOL declaration : 05 HEADER-AREA-->
            <xsd:element name="HEADER-AREA">
               <xsd:complexType>
                  <xsd:sequence>
                     <!--COBOL declaration : 10 HDR-DATE-TIME PIC S9(015) COMP-3-->
                     <xsd:element name="HDR-DATE-TIME" type="xsd:long" nxsd:style="comp3" extn:sign="ticked" extn:picSize="15"/>
                     <!--COBOL declaration : 10 HDR-EIBTASKN PIC S9(007) COMP-3-->
                     <xsd:element name="HDR-EIBTASKN" type="xsd:long" nxsd:style="comp3" extn:sign="ticked" extn:picSize="7"/>
                     <!--COBOL declaration : 10 HDR-TERMID PIC X(004)-->
                     <xsd:element name="HDR-TERMID" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="4"/>
                     <!--COBOL declaration : 10 HDR-TRANID PIC X(004)-->
                     <xsd:element name="HDR-TRANID" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="4"/>
                     <!--COBOL declaration : 10 HDR-SYSID PIC X(004)-->
                     <xsd:element name="HDR-SYSID" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="4"/>
                     <!--COBOL declaration : 10 HDR-PROG PIC X(008)-->
                     <xsd:element name="HDR-PROG" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="8"/>
                     <!--COBOL declaration : 10 HDR-TSQNAME PIC X(008)-->
                     <xsd:element name="HDR-TSQNAME" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="8"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <!--COBOL declaration : 05 RESPONSE-AREA-->
            <xsd:element name="RESPONSE-AREA">
               <xsd:complexType>
                  <xsd:sequence>
                     <!--COBOL declaration : 10 RES-ERC PIC X(002)-->
                <!--     <xsd:element name="RES-ERC" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/> -->
                     <!--COBOL declaration : 10 RES-PROVIDER-RESPONSE PIC X(006)-->
                     <xsd:element name="RES-PROVIDER-RESPONSE" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="6"/>
                     <!--COBOL declaration : 10 RES-APPROVAL-CODE PIC X(008)-->
                  <!--   <xsd:element name="RES-APPROVAL-CODE" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="8"/> -->
                     <!--COBOL declaration : 10 RES-ACTION-CODE PIC X(003)-->
                     <xsd:element name="RES-ACTION-CODE" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="3"/>
                     <!--COBOL declaration : 10 RES-MESSAGE PIC X(038)-->
                     <xsd:element name="RES-MESSAGE" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="38"/>
                     <!--COBOL declaration : 10 RES-MESS-LENGTH PIC X(002)-->
                <!--     <xsd:element name="RES-MESS-LENGTH" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/> -->
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
