bpel/XX_OM_DMDEXTLEG_BPEL/DemandExtractLeagcySeasonal/bpel/DemandExtractLeagcySeasonal.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/DemandExtractLeagcySeasonal"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="DemandExtractLeagcySeasonalProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="DemandExtractLeagcySeasonalProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>