Trunk/xxfin/bpel/archive/ProcessInvoiceInbound_OAGIS/bpel/ProcessInvoiceInbound_OAGIS.wsdl

<definitions
     name="ProcessInvoiceInbound_OAGIS"
     targetNamespace="http://xmlns.oracle.com/ProcessInvoiceInbound_OAGIS"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://www.openapplications.org/oagis/9"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.oracle.com/ProcessInvoiceInbound_OAGIS"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.openapplications.org/oagis/9"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/ProcessInvoiceInbound_OAGIS">
            <import namespace="http://xmlns.oracle.com/ProcessInvoiceInbound_OAGIS" schemaLocation="ProcessInvoiceInbound_OAGIS.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.openapplications.org/oagis/9"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/ProcessInvoiceInbound_OAGIS">
            <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="http://chilsoa01d.na.odcorp.net:7778/orabpel/xmllib/eaixml/oagis/v91/message/bod/ProcessInvoice.xsd"/>
        </xsd:schema>
    </types>
    <message name="ProcessInvoiceInbound_OAGISRequestMessage">
        <part name="payload" element="ns1:ProcessInvoice"/>
    </message>
    <message name="ProcessInvoiceInbound_OAGISResponseMessage">
        <part name="payload" element="client:ProcessInvoiceInbound_OAGISProcessResponse"/>
    </message>
    <portType name="ProcessInvoiceInbound_OAGIS">
        <operation name="initiate">
            <input message="client:ProcessInvoiceInbound_OAGISRequestMessage"/>
        </operation>
    </portType>
    <portType name="ProcessInvoiceInbound_OAGISCallback">
        <operation name="onResult">
            <input message="client:ProcessInvoiceInbound_OAGISResponseMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="ProcessInvoiceInbound_OAGIS">
        <plnk:role name="ProcessInvoiceInbound_OAGISProvider">
            <plnk:portType name="client:ProcessInvoiceInbound_OAGIS"/>
        </plnk:role>
        <plnk:role name="ProcessInvoiceInbound_OAGISRequester">
            <plnk:portType name="client:ProcessInvoiceInbound_OAGISCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
