bpel/archive/ProcessInvoiceInbound_OAGIS/bpel/ProcessInvoiceInbound_OAGIS.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ProcessInvoiceInbound_OAGIS"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ProcessInvoiceInbound_OAGISProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ProcessInvoiceInbound_OAGISProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>