bpel/I1153DPSJobConfirmationRelease_In/I1153DPSJobConfirmationProcess/DPSJobConfirmation_Child/bpel/I1153_DPSNowPrintEBS_ConfChild.wsdl

<definitions
     name="I1153_DPSNowPrintEBS_ConfChild"
     targetNamespace="http://xmlns.oracle.com/I1153_DPSNowPrintEBS_ConfChild"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://xmlbeans.orderProcessing.externalVendors.officedepot.com"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.oracle.com/I1153_DPSNowPrintEBS_ConfChild"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlbeans.orderProcessing.externalVendors.officedepot.com"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/I1153_DPSNowPrintEBS_ConfChild">
            <import namespace="http://xmlns.oracle.com/I1153_DPSNowPrintEBS_ConfChild" schemaLocation="I1153_DPSNowPrintEBS_ConfChild.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlbeans.orderProcessing.externalVendors.officedepot.com"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/I1153_DPSNowPrintEBS_ConfChild">
            <xsd:import namespace="http://xmlbeans.orderProcessing.externalVendors.officedepot.com"
                 schemaLocation="ConfirmOrderRequest.xsd"/>
        </xsd:schema>
    </types>
    <message name="I1153_DPSNowPrintEBS_ConfChildResponseMessage">
        <part name="payload" element="client:I1153_DPSNowPrintEBS_ConfChildProcessResponse"/>
    </message>
    <message name="I1153_DPSNowPrintEBS_ConfChildRequestMessage">
        <part name="payload" element="ns1:ConfirmOrderRequest"/>
    </message>
    <portType name="I1153_DPSNowPrintEBS_ConfChildCallback">
        <operation name="onResult">
            <input message="client:I1153_DPSNowPrintEBS_ConfChildResponseMessage"/>
        </operation>
    </portType>
    <portType name="I1153_DPSNowPrintEBS_ConfChild">
        <operation name="initiate">
            <input message="client:I1153_DPSNowPrintEBS_ConfChildRequestMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="I1153_DPSNowPrintEBS_ConfChild">
        <plnk:role name="I1153_DPSNowPrintEBS_ConfChildProvider">
            <plnk:portType name="client:I1153_DPSNowPrintEBS_ConfChild"/>
        </plnk:role>
        <plnk:role name="I1153_DPSNowPrintEBS_ConfChildRequester">
            <plnk:portType name="client:I1153_DPSNowPrintEBS_ConfChildCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
