bpel/I1186_SupplierInventoryFeed_In/I1186_SupplierInventoryFeed_Wrapper/SupplierInvFeedInitiatingProcess/bpel/SupplierInvFeedInitiatingProcess.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SupplierInvFeedInitiatingProcess"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="SupplierInvFeedInitiatingProcessProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="SupplierInvFeedInitiatingProcessProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>