bpel/GetFiscalPeriodRates/bpel/GetFiscalPeriodRates.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="GetFiscalPeriodRates"
             targetNamespace="http://xmlns.oracle.com/GetFiscalPeriodRates"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:client="http://xmlns.oracle.com/GetFiscalPeriodRates"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	TYPE DEFINITION - List of services participating in this BPEL process
	The default output of the BPEL designer uses strings as input and 
	output to the BPEL Process. But you can define or import any XML 
	Schema type and use them as part of the message types.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->   
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://xmlns.oracle.com/GetFiscalPeriodRates" schemaLocation="GetFiscalPeriodRates.xsd" />
		</schema>
	</types>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	MESSAGE TYPE DEFINITION - Definition of the message types used as 
	part of the port type defintions
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->      
	<message name="GetFiscalPeriodRatesRequestMessage">
		<part name="payload" element="client:GetFiscalPeriodRatesProcessRequest"/>
	</message>
	<message name="GetFiscalPeriodRatesResponseMessage">
		<part name="payload" element="client:GetFiscalPeriodRatesProcessResponse"/>
	</message>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PORT TYPE DEFINITION - A port type groups a set of operations into
	a logical service unit.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
         <!-- Commented for defect 4980-->

	<!-- portType implemented by the GetFiscalPeriodRates BPEL process -->
	<!--<portType name="GetFiscalPeriodRates">
		<operation name="process">
			<input  message="client:GetFiscalPeriodRatesRequestMessage" />
			<output message="client:GetFiscalPeriodRatesResponseMessage"/>
		</operation>
	</portType>-->
        
         <!-- Added for defect 4980-->

        <portType name="GetFiscalPeriodRates">
		<operation name="initiate">
			<input  message="client:GetFiscalPeriodRatesRequestMessage" />
		</operation>
	</portType>

	<portType name="GetFiscalPeriodRatesCallback">
		<operation name="onResult">
			<input message="client:GetFiscalPeriodRatesResponseMessage"/>
		</operation>
	</portType>
        
        <!-- End -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PARTNER LINK TYPE DEFINITION
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --> 
	<plnk:partnerLinkType name="GetFiscalPeriodRates">
         <!-- Commneted for defect 4980-->

		<!--<plnk:role name="GetFiscalPeriodRatesProvider">
			<plnk:portType name="client:GetFiscalPeriodRates"/>
		</plnk:role>-->
             <!-- Added for defect 4980-->
                <plnk:role name="GetFiscalPeriodRatesProvider">
			<plnk:portType name="client:GetFiscalPeriodRates"/>
		</plnk:role>
                <plnk:role name="GetFiscalPeriodRatesRequester">
			<plnk:portType name="client:GetFiscalPeriodRatesCallback"/>
		</plnk:role>
             <!-- End -->
	</plnk:partnerLinkType>
</definitions>
