bpel/ItemMaster_rms/ItemMaster_ebs_inb/bpel/APPS_BPEL_I0142_ITEMEBSIN_XX_INV_ITEM_IN_PKG-24INTERFACE_.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/APPS/BPEL_I0142_ITEMEBSIN/XX_INV_ITEM_IN_PKG-24INTERFACE_/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/APPS/BPEL_I0142_ITEMEBSIN/XX_INV_ITEM_IN_PKG-24INTERFACE_/">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_CREATED_BY" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_ACTIONEXPRESSION" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_REASON_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_RMS_TIMESTAMP" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MASTER_ITEM_HDR_REC" type="db:XX_INV_ITEM_IN_PKG_G_MASTER_I" db:index="4" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="P_MASTER_ITEM_CATEGORY_REC" type="db:XX_INV_ITEM_IN_PKG_G_MASTER_1" db:index="5" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="P_MASTER_ITEM_ATTRI_REC" type="db:XX_INV_ITEM_IN_PKG_ROWTYPE_SQ" db:index="6" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="P_LOCATION_REC" type="db:XX_INV_ITEM_IN_PKG_G_LOCATION" db:index="7" db:type="Struct" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="X_MESSAGE_CODE" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="X_MESSAGE_DATA" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="XXINVITEMINPKGGLOCATION_ROWTY">
      <sequence>
         <element name="SOURCE_SYSTEM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="5"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SOURCE_SYSTEM_REF" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="INVENTORY_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ORGANIZATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OD_DIST_TARGET" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OD_EBW_QTY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OD_INFINITE_QTY_CD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="18"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_LOCK_UP_ITEM_FLG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_PROPRIETARY_TYPE_CD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="18"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_REPLEN_SUB_TYPE_CD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="18"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_REPLEN_TYPE_CD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="18"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_WHSE_ITEM_CD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="18"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_ABC_CLASS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="18"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LOCAL_ITEM_DESC" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="300"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LOCAL_SHORT_DESC" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="60"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRIMARY_SUPP" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OD_CHANNEL_BLOCK" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LAST_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_LOGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CREATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RMS_TIMESTAMP" type="dateTime" db:type="TIMESTAMP" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XX_INV_ITEM_IN_PKG_G_MASTER_1">
      <sequence>
         <element name="DEPT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="40"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CLASS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="40"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SUBCLASS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="40"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRIVATE_BRAND_LABEL" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="40"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="XX_INV_ITEM_IN_PKG_G_LOCATION">
      <sequence>
         <element name="ATTRIBUTE" type="db:XXINVITEMINPKGGLOCATION_ROWTY" db:type="Struct" minOccurs="0" nillable="true"/>
         <element name="LOCATION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ITEM_STATUS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="XX_INV_ITEM_IN_PKG_G_MASTER_I">
      <sequence>
         <element name="DESCRIPTION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="500"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ITEM_NUMBER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="40"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TAX_CATEGORY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ITEM_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ITEM_STATUS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="BASE_UOM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SELLABLE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ORDERABLE_IND" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="XX_INV_ITEM_IN_PKG_ROWTYPE_SQ">
      <sequence>
         <element name="SOURCE_SYSTEM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="5"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SOURCE_SYSTEM_REF" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="INVENTORY_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ORGANIZATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ORDER_AS_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PACK_IND" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PACK_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PACKAGE_SIZE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SHIP_ALONE_IND" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="HANDLING_SENSITIVITY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="18"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_META_CD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="18"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_OVRSIZE_DELVRY_FLG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_PROD_PROTECT_CD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="18"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_GIFT_CERTIF_FLG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_IMPRINTED_ITEM_FLG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_RECYCLE_FLG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_READY_TO_ASSEMBLE_FLG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_PRIVATE_BRAND_FLG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_GSA_FLG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_HUB_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_CALL_FOR_PRICE_CD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="18"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_COST_UP_FLG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MASTER_ITEM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="75"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SUBSELL_MASTER_QTY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SIMPLE_PACK_IND" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_SELL_RESTRICT_CD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="18"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_LIST_OFF_FLG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_ASSORTMENT_CD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="18"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_OFF_CAT_FLG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_RETAIL_PRICING_FLG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_COUPON_DISC_FLG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_SKU_TYPE_CD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="18"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ITEM_NUMBER_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="18"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHORT_DESC" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="60"/>
               </restriction>
            </simpleType>
         </element>
         <element name="STORE_ORD_MULT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LAST_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_LOGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CREATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RMS_TIMESTAMP" type="dateTime" db:type="TIMESTAMP" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
</schema>
