bpel/ItemMaster_rms/ItemMaster_ebs_inb/bpel/ItemMaster_ebs_inb.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ItemMaster_ebs_inb"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ItemMaster_ebs_inbProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ItemMaster_ebs_inbProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>