Trunk/xxfin/bpel/ConcurrentProgramStatus/bpel/ConcurrentProgramStatus.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ConcurrentProgramStatus"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ConcurrentProgramStatusProcessRequest">
		<complexType>
			<sequence>
				<element name="Request_Id" type="string"/>
                                <element name="Child_Request" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ConcurrentProgramStatusProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
				<element name="Error_Desc" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>