Trunk/xxom/bpel/OMServiceOrder2AOPS/bpel/OMServiceOrder2AOPS.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/OMServiceOrder2AOPS"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="OMServiceOrder2AOPSProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="OMServiceOrder2AOPSProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>