Trunk/xxom/bpel/OMServiceOrder2AOPS/bpel/OmSOResponseToAops.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--Native format was generated from COBOL copybook : C:\product\JDEV_10.1.3.1\jdev\mywork\ODBELProjects\ProcessScmPod\bpel\POD.txt-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:extn="http://xmlns.oracle.com/pcbpel/nxsd/extensions" targetNamespace="http://TargetNamespace.com/EnqueueSOResponseAops" xmlns:tns="http://TargetNamespace.com/EnqueueSOResponseAops" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:encoding="cp037" nxsd:byteOrder="bigEndian" nxsd:stream="chars">
   <xsd:element name="Root-Element">
      <xsd:complexType>
         <xsd:sequence>
            <!--COBOL declaration :05 SERVICE_ORDER_RESPONSE_QUEUE-->
            <xsd:element name="ODTechService" minOccurs="1" maxOccurs="1">
               <xsd:complexType>
                    <xsd:sequence>
                      <!-- <xsd:element name="request_type" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="10"/> -->
                      <!-- <xsd:element name="action_code" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="3"/> -->
                      <xsd:element name="request_number" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="15"/>
                      <xsd:element name="order_number" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="12"/>
                      <!--   <xsd:element name="filler" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="4002"/> -->
                     </xsd:sequence>                    
               </xsd:complexType>               
            </xsd:element>
            <xsd:element name="sku_rec" minOccurs="1" maxOccurs="unbounded">
               <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="sku" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="6"/>
                      <xsd:element name="sku_quantity" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="50"/>
                      <!--<xsd:element name="attribute1" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/> -->                                       
                      <!-- <xsd:element name="attribute2" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/>  -->                                      
                     </xsd:sequence>                                         
               </xsd:complexType>               
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
