soa/PeopleSoftUpgrade/SyncDB2FoundationTables/V1/SynchJobFunctionPsftToDB2Service/InsertUpdateJobFunctionDB2Data.wsdl

<?binding.jca InsertUpdateJobFunctionDB2Data_db.jca?>
<wsdl:definitions name="InsertUpdateJobFunctionDB2Data" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/Application1/DB2FoundationTbls/InsertUpdateJobFunctionDB2Data" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/Application1/DB2FoundationTbls/InsertUpdateJobFunctionDB2Data" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/InsertUpdateJobFunctionDB2Data">
    <plt:partnerLinkType name="InsertUpdateJobFunctionDB2Data_plt">
        <plt:role name="InsertUpdateJobFunctionDB2Data_role">
            <plt:portType name="tns:InsertUpdateJobFunctionDB2Data_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/InsertUpdateJobFunctionDB2Data" schemaLocation="xsd/InsertUpdateJobFunctionDB2Data_table.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="PsJobfunctionTblCollection_msg">
        <wsdl:part name="PsJobfunctionTblCollection" element="top:PsJobfunctionTblCollection"/>
    </wsdl:message>
    <wsdl:message name="InsertUpdateJobFunctionDB2DataSelect_inputParameters">
        <wsdl:part name="InsertUpdateJobFunctionDB2DataSelect_inputParameters" element="top:InsertUpdateJobFunctionDB2DataSelect_InputParamJobFuncInputParameters"/>
    </wsdl:message>
    <wsdl:portType name="InsertUpdateJobFunctionDB2Data_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:PsJobfunctionTblCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <wsdl:input message="tns:PsJobfunctionTblCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:PsJobfunctionTblCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="InsertUpdateJobFunctionDB2DataSelect">
            <wsdl:input message="tns:InsertUpdateJobFunctionDB2DataSelect_inputParameters"/>
            <wsdl:output message="tns:PsJobfunctionTblCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
