xxfin/bpel/archive/UpdateRecipientDetails/bpel/Recipient6.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/Recipient6"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="Recipient6ProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="Recipient6ProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>