xxfin/bpel/archive/UpdateRecipientDetails/bpel/UpdateRecipientDetails.wsdl

<definitions
     name="UpdateRecipientDetails"
     targetNamespace="http://xmlns.oracle.com/Recipient6"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.oracle.com/Recipient6"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:client="http://xmlns.oracle.com/Recipient6">
            <import namespace="http://xmlns.oracle.com/Recipient6" schemaLocation="Recipient6.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:client="http://xmlns.oracle.com/Recipient6">
            <xsd:import namespace="http://xmlns.oracle.com/Recipient6" schemaLocation="recipient.xsd"/>
        </xsd:schema>
    </types>
    <message name="Recipient6ResponseMessage">
        <part name="payload" element="client:Recipient6ProcessResponse"/>
    </message>
    <message name="Recipient6RequestMessage">
        <part name="payload" element="client:Recipient6ProcessRequest"/>
    </message>
    <portType name="Recipient6Callback">
        <operation name="onResult">
            <input message="client:Recipient6ResponseMessage"/>
        </operation>
    </portType>
    <portType name="Recipient6">
        <operation name="initiate">
            <input message="client:Recipient6RequestMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="Recipient6">
        <plnk:role name="Recipient6Provider">
            <plnk:portType name="client:Recipient6"/>
        </plnk:role>
        <plnk:role name="Recipient6Requester">
            <plnk:portType name="client:Recipient6Callback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
