xxfin/bpel/ProcessAPInvoiceFiles/bpel/ProcessAPInvoiceFiles.wsdl

<definitions
     name="ProcessAPInvoiceFiles"
     targetNamespace="http://xmlns.oracle.com/ProcessAPInvoiceFiles"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://xmlns.oracle.com/PostJournalEntry"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns3="http://www.openapplications.org/oagis/9"
     xmlns:ns2="http://schemas.oracle.com/service/bpel/common"
     xmlns:client="http://xmlns.oracle.com/ProcessAPInvoiceFiles"
    >
    <import namespace="http://schemas.oracle.com/bpel/extension" location="RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/PostJournalEntry"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ns3="http://www.openapplications.org/oagis/9"
             xmlns:ns2="http://schemas.oracle.com/service/bpel/common" xmlns:client="http://xmlns.oracle.com/ProcessAPInvoiceFiles">
            <import namespace="http://xmlns.oracle.com/ProcessAPInvoiceFiles" schemaLocation="ProcessAPInvoiceFiles.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/PostJournalEntry"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ns3="http://www.openapplications.org/oagis/9"
             xmlns:ns2="http://schemas.oracle.com/service/bpel/common" xmlns:client="http://xmlns.oracle.com/ProcessAPInvoiceFiles">
            <xsd:import namespace="http://xmlns.oracle.com/PostJournalEntry" schemaLocation="FileHeader.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/PostJournalEntry"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ns3="http://www.openapplications.org/oagis/9"
             xmlns:ns2="http://schemas.oracle.com/service/bpel/common" xmlns:client="http://xmlns.oracle.com/ProcessAPInvoiceFiles">
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="params.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/PostJournalEntry"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ns3="http://www.openapplications.org/oagis/9"
             xmlns:ns2="http://schemas.oracle.com/service/bpel/common" xmlns:client="http://xmlns.oracle.com/ProcessAPInvoiceFiles">
            <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="http://esbdev01.na.odcorp.net/orabpel/xmllib/eaixml/oagis/v91/message/bod/ProcessInvoice.xsd"/>
        </xsd:schema>
    </types>
    <message name="ProcessAPInvoiceFilesRequestMessage">
        <part name="payload" element="ns1:fileHeader"/>
    </message>
    <message name="ProcessAPInvoiceFilesResponseMessage">
        <part name="payload" element="client:ProcessAPInvoiceFilesProcessResponse"/>
    </message>
    <portType name="ProcessAPInvoiceFiles">
        <operation name="initiate">
            <input message="client:ProcessAPInvoiceFilesRequestMessage"/>
        </operation>
    </portType>
    <portType name="ProcessAPInvoiceFilesCallback">
        <operation name="onResult">
            <input message="client:ProcessAPInvoiceFilesResponseMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="ProcessAPInvoiceFiles">
        <plnk:role name="ProcessAPInvoiceFilesProvider">
            <plnk:portType name="client:ProcessAPInvoiceFiles"/>
        </plnk:role>
        <plnk:role name="ProcessAPInvoiceFilesRequester">
            <plnk:portType name="client:ProcessAPInvoiceFilesCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
