bpel/I1186_SupplierInventoryFeed_In/I1186_SupplierInventoryFeed_In/SupplierInvFeedProcess/bpel/SupplierInvFeedProcess.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SupplierInvFeedProcess"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="SupplierInvFeedProcessProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="SupplierInvFeedProcessProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>