Trunk/xxfin/bpel/ValidateGLCOASegments/bpel/ValidateGLCOASegments.wsdl

<definitions
     name="ValidateGLCOASegments"
     targetNamespace="http://xmlns.oracle.com/ValidateGLCOASegments"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:client="http://xmlns.oracle.com/ValidateGLCOASegments"
     xmlns:glval="http://www.officedepot.com/glcoa/validation/"
    >
    <import namespace="http://schemas.oracle.com/bpel/extension" location="http://chilsoa01d.na.odcorp.net:7778/orabpel/xmllib/RuntimeFault.wsdl"/>
    <types>
        <xsd:schema targetNamespace="http://www.officedepot.com/glcoa/validation/" xmlns="http://www.officedepot.com/glcoa/validation/"
             xmlns:od="http://www.officedepot.com/glcoa/validation/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:client="http://xmlns.oracle.com/ValidateGLCOASegments" xmlns:glval="http://www.officedepot.com/glcoa/validation/">
            <xsd:element name="GLCOARequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="COAName" type="xsd:string"/>
                        <xsd:element name="Company" type="xsd:string"/>
                        <xsd:element name="CostCenter" type="xsd:string"/>
                        <xsd:element name="Account" type="xsd:string"/>
                        <xsd:element name="Location" type="xsd:string"/>
                        <xsd:element name="Intercompany" type="xsd:string"/>
                        <xsd:element name="LOB" type="xsd:string"/>
                        <xsd:element name="Future" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GLCOAResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ReturnMessage" type="xsd:string"/>
                        <xsd:element name="ValidCombo" type="xsd:string"/>
                        <xsd:element name="Company" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.officedepot.com/glcoa/validation/" schemaLocation="ValidateGLCOASegments.xsd"/>
        </xsd:schema>
    </types>
    <message name="ValidateGLCOASegmentsRequestMessage">
        <part name="input" element="glval:GLCOARequest"/>
    </message>
    <message name="ValidateGLCOASegmentsResponseMessage">
        <part name="result" element="glval:GLCOAResponse"/>
    </message>
    <portType name="ValidateGLCOASegments">
        <operation name="process">
            <input message="client:ValidateGLCOASegmentsRequestMessage"/>
            <output message="client:ValidateGLCOASegmentsResponseMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="ValidateGLCOASegments">
        <plnk:role name="ValidateGLCOASegmentsProvider">
            <plnk:portType name="client:ValidateGLCOASegments"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
