bpel/ProcessAPInvoiceFiles/bpel/ProcessAPInvoiceFiles.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ProcessAPInvoiceFiles"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ProcessAPInvoiceFilesProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ProcessAPInvoiceFilesProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>