Trunk/xxfin/bpel/SyncInvoicePaymentStatus/bpel/Finance_InvoicePayment.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/Finance_InvoicePayment"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="Finance_InvoicePaymentProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="Finance_InvoicePaymentProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>