Trunk/xxfin/bpel/SyncInvoicePaymentStatus/bpel/SyncInvoicePaymentStatus.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SyncInvoicePaymentStatus"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="SyncInvoicePaymentStatusProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="SyncInvoicePaymentStatusProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>