bpel/I0227_PosPmtFeed&I0153_KioskOrdRel/I0227_LegacyPOS_EBS_In/bpel/I0227_LegacyPOS_EBS_In.wsdl

<definitions
     name="I0227_LegacyPOS_EBS_In"
     targetNamespace="http://xmlns.oracle.com/I0227_LegacyPOS_EBS_In"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://www.thiscompany.com/ns/sales"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:client="http://xmlns.oracle.com/I0227_LegacyPOS_EBS_In"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.thiscompany.com/ns/sales"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/I0227_LegacyPOS_EBS_In">
            <import namespace="http://xmlns.oracle.com/I0227_LegacyPOS_EBS_In" schemaLocation="I0227_LegacyPOS_EBS_In.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.thiscompany.com/ns/sales"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/I0227_LegacyPOS_EBS_In">
            <xsd:import namespace="http://www.thiscompany.com/ns/sales" schemaLocation="LegacyPOS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.thiscompany.com/ns/sales"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/I0227_LegacyPOS_EBS_In">
            <xsd:import namespace="http://www.thiscompany.com/ns/sales" schemaLocation="AcknowledgeLegacyPOS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.thiscompany.com/ns/sales" schemaLocation="ErrorLegacyPOS.xsd"/>
        </xsd:schema>
    </types>
    <message name="I0227_LegacyPOS_EBS_InRequestMessage">
        <part name="payload" element="ns1:POS"/>
    </message>
    <message name="LegErrMsg">
        <part name="LegErrMsg" element="ns1:Error"/>
    </message>
    <message name="LegAckMsg">
        <part name="LegAckMsg" element="ns1:POSACK"/>
    </message>
    <message name="I0227_LegacyPOS_EBS_InResponseMessage">
        <part name="payload" element="ns1:POS"/>
    </message>
    <portType name="I0227_LegacyPOS_EBS_In">
        <operation name="initiate">
            <input message="client:I0227_LegacyPOS_EBS_InRequestMessage"/>
        </operation>
    </portType>
    <portType name="I0227_LegacyPOS_EBS_InCallback">
        <operation name="onAck">
            <input message="client:LegAckMsg"/>
        </operation>
        <operation name="onErr">
            <input message="client:LegErrMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="I0227_LegacyPOS_EBS_In">
        <plnk:role name="I0227_LegacyPOS_EBS_InProvider">
            <plnk:portType name="client:I0227_LegacyPOS_EBS_In"/>
        </plnk:role>
        <plnk:role name="I0227_LegacyPOS_EBS_InRequester">
            <plnk:portType name="client:I0227_LegacyPOS_EBS_InCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
