bpel/PostJournalEntry/bpel/PostJournalEntryGLSI.wsdl

<definitions
     name="PostJournalEntryGLSI"
     targetNamespace="http://xmlns.oracle.com/PostJournalEntryGLSI"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/PostJournalEntryGLSI"
     xmlns:ns1="http://schemas.oracle.com/service/bpel/common"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.oracle.com/PostJournalEntryGLSI"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/PostJournalEntryGLSI" schemaLocation="PostJournalEntryGLSI.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="params.xsd"/>
        </xsd:schema>
    </types>
    <message name="PostJournalEntryGLSIResponseMessage">
        <part name="payload" element="tns:PostJournalEntryGLSIProcessResponse"/>
    </message>
    <message name="PostJournalEntryGLSIRequestMessage">
        <part name="payload" element="tns:PostJournalEntryGLSIProcessRequest"/>
    </message>
    <portType name="PostJournalEntryGLSICallback">
        <operation name="onResult">
            <input message="tns:PostJournalEntryGLSIResponseMessage"/>
        </operation>
    </portType>
    <portType name="PostJournalEntryGLSI">
        <operation name="initiate">
            <input message="tns:PostJournalEntryGLSIRequestMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="PostJournalEntryGLSI">
        <plnk:role name="PostJournalEntryGLSIProvider">
            <plnk:portType name="client:PostJournalEntryGLSI"/>
        </plnk:role>
        <plnk:role name="PostJournalEntryGLSIRequester">
            <plnk:portType name="client:PostJournalEntryGLSICallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
