Trunk/xxptp/bpel/I1013_Modifiers/I1013_Modifiers_EBS_In/bpel/I1013_Modifiers_EBS_In.wsdl

<definitions
     name="I1013_Modifiers_EBS_In"
     targetNamespace="http://xmlns.oracle.com/I1013_Modifiers_EBS_In"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://www.openapplications.org/officedepot/merchandising/foundation/1"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns3="http://schemas.oracle.com/bpel/extension"
     xmlns:ns2="http://xmlns.oracle.com/pcbpel/adapter/db/APPS/BPEL_QP_MODIFIERS_PUB/QP_MODIFIERS_PUB-24PROCESS_MODI/"
     xmlns:client="http://xmlns.oracle.com/I1013_Modifiers_EBS_In"
    >
    <import namespace="http://schemas.oracle.com/bpel/extension" location="RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/I1013_Modifiers_EBS_In" schemaLocation="I1013_Modifiers_EBS_In.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.openapplications.org/officedepot/merchandising/foundation/1"
                 schemaLocation="http://chilsoa01d.na.odcorp.net:7778/orabpel/xmllib/merchFndXml/officedepot/merchandising/foundation/v1/message/bod/CommonResponse.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/APPS/BPEL_QP_MODIFIERS_PUB/QP_MODIFIERS_PUB-24PROCESS_MODI/"
                 schemaLocation="APPS_BPEL_QP_MODIFIERS_PUB_QP_MODIFIERS_PUB-24PROCESS_MODI.xsd"/>
        </xsd:schema>
    </types>
    <message name="I1013_Modifiers_EBS_InRequestMessage">
        <part name="payload" element="ns2:InputParameters"/>
    </message>
    <message name="I1013_Modifiers_EBS_InResponseMessage">
        <part name="payload" element="ns1:CommonResponse"/>
    </message>
    <portType name="I1013_Modifiers_EBS_In">
        <operation name="initiate">
            <input message="client:I1013_Modifiers_EBS_InRequestMessage"/>
        </operation>
    </portType>
    <portType name="I1013_Modifiers_EBS_InCallback">
        <operation name="onResult">
            <input message="client:I1013_Modifiers_EBS_InResponseMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="I1013_Modifiers_EBS_In">
        <plnk:role name="I1013_Modifiers_EBS_InProvider">
            <plnk:portType name="client:I1013_Modifiers_EBS_In"/>
        </plnk:role>
        <plnk:role name="I1013_Modifiers_EBS_InRequester">
            <plnk:portType name="client:I1013_Modifiers_EBS_InCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
