bpel/ServiceRequestCreate/bpel/APPS_XX_CS_TDS_SR_PKG_CREATE_SERVICEREQUEST.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/APPS/XX_CS_TDS_SR_PKG/CREATE_SERVICEREQUEST/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/APPS/XX_CS_TDS_SR_PKG/CREATE_SERVICEREQUEST/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_SR_REQ_REC" type="db:XX_CS_TDS_SR_REC_TYPE" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="X_RETURN_STATUS" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="X_MSG_DATA" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_ORDER_TBL" type="db:XX_CS_SR_ORDER_TBL" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_SR_REQ_REC" type="db:XX_CS_TDS_SR_REC_TYPE" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="X_REQUEST_ID" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="X_REQUEST_NUM" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="X_ORDER_NUM" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="X_RETURN_STATUS" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="X_MSG_DATA" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_ORDER_TBL" type="db:XX_CS_SR_ORDER_TBL" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="XX_CS_TDS_SR_REC_TYPE">
      <sequence>
         <element name="REQUEST_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="REQUEST_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REQUEST_NUMBER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DESCRIPTION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CUSTOMER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_SKU_ID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="USER_ID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LANGUAGE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="4"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CONTACT_ID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="15"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CONTACT_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CONTACT_PHONE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CONTACT_EMAIL" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CONTACT_FAX" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COMMENTS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3000"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ORDER_NUMBER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CUSTOMER_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SHIP_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="SHIP_TO" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="EMPLOYEE_ID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LOCATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PREFERRED_CONTACT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DEV_QUES_ANS_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE6" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE7" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE8" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE9" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE10" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="XX_CS_SR_ORDER_REC_TYPE">
      <sequence>
         <element name="ORDER_NUMBER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ORDER_SUB" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SKU_ID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="100"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SKU_DESCRIPTION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1000"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MANUFACTURER_INFO" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="250"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ORDER_LINK" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="4000"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1000"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1000"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1000"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1000"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1000"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="XX_CS_SR_ORDER_TBL">
      <sequence>
         <element name="P_ORDER_TBL_ITEM" type="db:XX_CS_SR_ORDER_REC_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
</schema>
