bpel/ServiceRequestCreate/bpel/OMServiceOrder2AOPS.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--Native format was generated from COBOL copybook : C:\product\JDEV_10.1.3.1\jdev\mywork\ODBELProjects\ProcessScmPod\bpel\POD.txt-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:extn="http://xmlns.oracle.com/pcbpel/nxsd/extensions" targetNamespace="http://TargetNamespace.com/OMServiceOrderEvent" xmlns:tns="http://TargetNamespace.com/OMServiceOrderEvent" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:encoding="cp037" nxsd:byteOrder="bigEndian" nxsd:stream="chars">
   <xsd:element name="Root-Element">
      <xsd:complexType>
         <xsd:sequence>
            <!--COBOL declaration :05 SERVICE_ORDER_REQUEST_QUEUE-->
            <xsd:element name="FIELD_SERVICE_ORDER_HEADER" minOccurs="1" maxOccurs="1">
               <xsd:complexType>
                    <xsd:sequence>
                     <xsd:element name="request_type" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="10"/>
                     <xsd:element name="action_code" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="3"/>
                     <xsd:element name="request_number" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="15"/>                                       
                     <xsd:element name="order_number" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="12"/>   
                     <xsd:element name="filler" type="xsd:string" nxsd:style="fixedLength" minOccurs="0" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="253"/>   
                     <!--<xsd:element name="attribute1" type="xsd:string" nxsd:style="fixedLength" minOccurs="0" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/>
                     <xsd:element name="attribute2" type="xsd:string" nxsd:style="fixedLength" minOccurs="0" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/>
                     <xsd:element name="attribute3" type="xsd:string" nxsd:style="fixedLength" minOccurs="0" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/>
                     <xsd:element name="attribute4" type="xsd:string" nxsd:style="fixedLength" minOccurs="0" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/>
                     <xsd:element name="attribute5" type="xsd:string" nxsd:style="fixedLength" minOccurs="0" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/>-->
                     </xsd:sequence>                    
               </xsd:complexType>               
            </xsd:element>
            <xsd:element name="SKU_RECORD" minOccurs="1" maxOccurs="unbounded">
               <xsd:complexType>
                    <xsd:sequence>
                     <!--COBOL declaration : 10 sku PIC X(06)-->
                     <xsd:element name="sku" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="5"/>
                     <!--COBOL declaration : 10 sku_quantity PIC X(05)-->
                     <xsd:element name="sku_quantity" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="5"/>
                     <!--COBOL declaration : 10 order_line PIC X(05)-->
                    <!-- <xsd:element name="attribute1" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" minOccurs="0" nxsd:paddedBy=" " nxsd:length="150"/>
                     <xsd:element name="attribute2" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" minOccurs="0" nxsd:paddedBy=" " nxsd:length="150"/>
                     <xsd:element name="attribute3" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" minOccurs="0" nxsd:paddedBy=" " nxsd:length="150"/>
                     <xsd:element name="attribute4" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" minOccurs="0" nxsd:paddedBy=" " nxsd:length="150"/>
                     <xsd:element name="attribute5" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" minOccurs="0" nxsd:paddedBy=" " nxsd:length="150"/> -->
                     </xsd:sequence>                                         
               </xsd:complexType>               
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
