bpel/ServiceRequestCreate/bpel/SrCreate.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--Native format was generated from COBOL copybook : C:\Documents and Settings\bala-edupuganti\Desktop\SrCreate_copyBook.txt-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:extn="http://xmlns.oracle.com/pcbpel/nxsd/extensions" targetNamespace="http://TargetNamespace.com/InboundService" xmlns:tns="http://TargetNamespace.com/InboundService" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:encoding="cp037" nxsd:byteOrder="bigEndian" nxsd:stream="chars">
   <xsd:element name="Root-Element">
      <xsd:complexType>
         <xsd:sequence>
            <!--COBOL declaration :01 SERVICE_MQ-->
            <xsd:element name="SERVICE_MQ" minOccurs="1" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <!--COBOL declaration : 05 order_type PIC X(10)-->
                     <xsd:element name="order_type" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="10"/>
                     <!--COBOL declaration : 05 action_code PIC X(3)-->
                     <xsd:element name="action_code" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="3"/>
                     <!--COBOL declaration : 05 request_date PIC X(14)-->
                     <xsd:element name="request_date" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="14"/>
                     <!--COBOL declaration : 05 request_number PIC X(15)-->
                     <xsd:element name="request_number" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="15"/>
                     <!--COBOL declaration : 05 dev_ques_ans_id PIC X(15)-->
                     <xsd:element name="dev_ques_ans_id" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="15"/>
                     <!--COBOL declaration : 05 order_number PIC X(12)-->
                     <xsd:element name="order_number" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="12"/>
                     <!--COBOL declaration : 05 order_date PIC X(14)-->
                     <xsd:element name="order_date" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="14"/>
                     <!--COBOL declaration : 05 store_number PIC X(6)-->
                     <xsd:element name="store_number" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="6"/>
                     <!--COBOL declaration : 05 customer_ref PIC X(8)-->
                     <xsd:element name="customer_ref" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="8"/>
                     <!--COBOL declaration : 05 Ship_to_ref PIC X(5)-->
                     <xsd:element name="Ship_to_ref" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="5"/>
                     <!--COBOL declaration : 05 Bill_to_ref PIC X(5)-->
                     <xsd:element name="Bill_to_ref" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="5"/>
                     <!--COBOL declaration : 05 contact_name PIC X(25)-->
                     <xsd:element name="contact_name" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="25"/>
                     <!--COBOL declaration : 05 contact_phone PIC X(11)-->
                     <xsd:element name="contact_phone" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="11"/>
                     <!--COBOL declaration : 05 contact_phone_ext PIC X(4)-->
                     <xsd:element name="contact_phone_ext" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="4"/>
                     <!--COBOL declaration : 05 contact_email PIC X(102)-->
                     <xsd:element name="contact_email" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="102"/>
                     <!--COBOL declaration : 05 contact_fax PIC X(11)-->
                     <xsd:element name="contact_fax" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="11"/>
                     <!--COBOL declaration : 05 comments PIC X(90)-->
                     <xsd:element name="comments" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="90"/>
                     <!--COBOL declaration : 05 order_source PIC X(10)-->
                     <xsd:element name="order_source" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="10"/>
                     <!--COBOL declaration : 05 order_source PIC X(15)-->
                     <xsd:element name="employee_id" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="10"/>
                     <!--COBOL declaration : 05 contact_id PIC X(14)-->
                     <xsd:element name="contact_id" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="14"/>
                     <!--COBOL declaration : 05 Filler PIC X(50)-->
                     <xsd:element name="Filler" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="157"/>
                     <!--COBOL declaration : 05 SKU_record Occurs 11 times-->
                     <xsd:element name="SKU_record" minOccurs="1" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <!--COBOL declaration : 10 Sku PIC X(6)-->
                              <xsd:element name="Sku" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="6"/>
                              <!--COBOL declaration : 10 Sku_quantity PIC X(5)-->
                              <xsd:element name="Sku_quantity" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="5"/>
                              <!--COBOL declaration : 10 Sku_catagory PIC X(2)-->
                              <xsd:element name="Sku_catagory" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="3"/>
                              <!--COBOL declaration : 10 Sku_parent_cat PIC X(2)-->
                              <xsd:element name="Sku_parent_cat" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="3"/>
                              <!--COBOL declaration : 10 Sku_vendor PIC X(39)-->
                              <xsd:element name="Sku_vendor" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="39"/>
                              <!--COBOL declaration : 10 Sku_parent_Sku PIC X(6)-->
                              <xsd:element name="Sku_parent_Sku" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="6"/>
                              <!--COBOL declaration : 05 document_number PIC X(10)-->
                              <xsd:element name="document_number" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="14"/>
                              <!--COBOL declaration : 05 occurance PIC X(1)-->
                              <xsd:element name="occurance" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="1"/>
                              <!--COBOL declaration : 05 occur_on PIC X(2)-->
                              <xsd:element name="occur_on" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/>
                              <!--COBOL declaration : 05 occur_every PIC X(1)-->
                              <xsd:element name="occur_every" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="1"/>
                              <!--COBOL declaration : 05 start_date PIC X(15)-->
                              <xsd:element name="start_date" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="8"/>
                              <!--COBOL declaration : 05 end_date PIC X(15)-->
                              <xsd:element name="end_date" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="8"/>
                              <xsd:element name="Filler" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="30"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
