xxfin/bpel/ProcessTDMDCNData/bpel/SyncFileRead.wsdl

<definitions
     name="SyncFileRead"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/SyncFileRead/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/SyncFileRead/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:imp1="http://TargetNamespace.com/FTPDCNFiles"
     xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/file/"
    >
    <import namespace="http://xmlns.oracle.com/pcbpel/adapter/file/" location="fileAdapterOutboundHeader.wsdl"/>
    <types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/SyncFileRead/"
              xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://TargetNamespace.com/FTPDCNFiles" schemaLocation="TDMDCNData.xsd" />
        <element name="empty"><complexType/></element>
      </schema>
    </types>
    <message name="Empty_msg">
        <part name="Empty" element="tns:empty"/>
    </message>
    <message name="TDMDCN_msg">
        <part name="TDMDCN" element="imp1:TDMDCN"/>
    </message>
    <portType name="SynchChunkedRead_ptt">
        <operation name="SynchChunkedRead">
            <input message="tns:Empty_msg"/>
            <output message="tns:TDMDCN_msg"/>
        </operation>
    </portType>
    <binding name="SynchChunkedRead_binding" type="tns:SynchChunkedRead_ptt">
    <jca:binding  />
        <operation name="SynchChunkedRead">
      <jca:operation
          LogicalDirectory="FileInPath"
          InteractionSpec="oracle.tip.adapter.file.outbound.ChunkedInteractionSpec"
          ChunkSize="2000"
          LogicalArchiveDirectory="ArchIn"
          DeleteFile="true"
          FileName="TDM_AP_DCN*.txt"
          OpaqueSchema="false" >
      </jca:operation>
      <input>
        <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
      </input>
        </operation>
    </binding>
    <service name="SyncFileRead">
        <port name="SynchChunkedRead_pt" binding="tns:SynchChunkedRead_binding">
      <jca:address location="eis/FileAdapter" />
        </port>
    </service>
  <plt:partnerLinkType name="SynchChunkedRead_plt" >
    <plt:role name="SynchChunkedRead_role" >
      <plt:portType name="tns:SynchChunkedRead_ptt" />
    </plt:role>
  </plt:partnerLinkType>
</definitions>
