bpel/XX_OM_DMDEXTLEG_BPEL/DemandExtractLegacyFuture/bpel/DemandExtractLegacyFuture.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/DemandExtractLegacyFuture"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="DemandExtractLegacyFutureProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="DemandExtractLegacyFutureProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>