Trunk/xxfin/bpel/ProcessTDMDCNData/bpel/ProcessTDMDCNData.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ProcessTDMDCNData"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ProcessTDMDCNDataProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ProcessTDMDCNDataProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>