bpel/ProcessTDMDCNData/bpel/ProcessTDMDCNData.wsdl

<definitions
     name="ProcessTDMDCNData"
     targetNamespace="http://xmlns.oracle.com/ProcessTDMDCNData"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://xmlns.oracle.com/PostJournalEntry"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns2="http://schemas.oracle.com/service/bpel/common"
     xmlns:client="http://xmlns.oracle.com/ProcessTDMDCNData"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/ProcessTDMDCNData" schemaLocation="ProcessTDMDCNData.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/PostJournalEntry" schemaLocation="FileHeader.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="params.xsd"/>
        </xsd:schema>
    </types>
    <message name="ProcessTDMDCNDataRequestMessage">
        <part name="payload" type="ns1:InboundFileHeaderType"/>
    </message>
    <message name="ProcessTDMDCNDataResponseMessage">
        <part name="payload" element="client:ProcessTDMDCNDataProcessResponse"/>
    </message>
    <portType name="ProcessTDMDCNData">
        <operation name="initiate">
            <input message="client:ProcessTDMDCNDataRequestMessage"/>
        </operation>
    </portType>
    <portType name="ProcessTDMDCNDataCallback">
        <operation name="onResult">
            <input message="client:ProcessTDMDCNDataResponseMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="ProcessTDMDCNData">
        <plnk:role name="ProcessTDMDCNDataProvider">
            <plnk:portType name="client:ProcessTDMDCNData"/>
        </plnk:role>
        <plnk:role name="ProcessTDMDCNDataRequester">
            <plnk:portType name="client:ProcessTDMDCNDataCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
