bpel/SyncInvoicePaymentStatus/bpel/Finance_InvoicePayment.wsdl

<definitions
     name="Finance_InvoicePayment"
     targetNamespace="http://xmlns.oracle.com/Finance_InvoicePayment"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://schemas.oracle.com/service/bpel/common"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.oracle.com/Finance_InvoicePayment"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.oracle.com/service/bpel/common"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/Finance_InvoicePayment">
            <import namespace="http://xmlns.oracle.com/Finance_InvoicePayment" schemaLocation="Finance_InvoicePayment.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.oracle.com/service/bpel/common"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/Finance_InvoicePayment">
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="params.xsd"/>
        </xsd:schema>
    </types>
    <message name="Finance_InvoicePaymentRequestMessage">
        <part name="payload" element="client:Finance_InvoicePaymentProcessRequest"/>
    </message>
    <message name="Finance_InvoicePaymentResponseMessage">
        <part name="payload" element="client:Finance_InvoicePaymentProcessResponse"/>
    </message>
    <portType name="Finance_InvoicePayment">
        <operation name="initiate">
            <input message="client:Finance_InvoicePaymentRequestMessage"/>
        </operation>
    </portType>
    <portType name="Finance_InvoicePaymentCallback">
        <operation name="onResult">
            <input message="client:Finance_InvoicePaymentResponseMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="Finance_InvoicePayment">
        <plnk:role name="Finance_InvoicePaymentProvider">
            <plnk:portType name="client:Finance_InvoicePayment"/>
        </plnk:role>
        <plnk:role name="Finance_InvoicePaymentRequester">
            <plnk:portType name="client:Finance_InvoicePaymentCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
