Trunk/xxom/bpel/I0030_Cartonization_WMS/I0030_CARTONIZATION_EBS_IN/bpel/CA06_INBOUND.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--Native format was generated from COBOL copybook : U:\My Documents\Project Simplify\MD50\INT-I0030_Cartonization-Cartonization Process\WMS MQ CopyBook\CA06_INBOUND.txt-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:extn="http://xmlns.oracle.com/pcbpel/nxsd/extensions" targetNamespace="http://TargetNamespace.com/CA06MQIN1" xmlns:tns="http://TargetNamespace.com/CA06MQIN1" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:encoding="cp037" nxsd:byteOrder="bigEndian" nxsd:stream="chars">
   <xsd:element name="Root-Element">
      <xsd:complexType>
         <xsd:sequence>
            <!--COBOL declaration :01 INPUT-MESSAGE-->
            <xsd:element name="INPUT-MESSAGE" minOccurs="1" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <!--COBOL declaration : 05 WS-OTMC-DELIV-NBR PIC X(12) VALUE SPACES: 
 Clause could not be correctly converted to a schema type. Please modify the generated schema to cater to this type.
 Refer to the documentation for assistance.-->
                     <xsd:element name="WS-OTMC-DELIV-NBR" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="12"/>
                     <!--COBOL declaration : 05 WS-OTMC-DC-NBR PIC X(02) VALUE SPACES: 
 Clause could not be correctly converted to a schema type. Please modify the generated schema to cater to this type.
 Refer to the documentation for assistance.-->
                     <xsd:element name="WS-OTMC-DC-NBR" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/>
                     <!--COBOL declaration : 05 WS-OTMC-WHS-NBR PIC X(02) VALUE SPACES: 
 Clause could not be correctly converted to a schema type. Please modify the generated schema to cater to this type.
 Refer to the documentation for assistance.-->
                     <xsd:element name="WS-OTMC-WHS-NBR" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/>
                     <!--COBOL declaration : 05 WS-OTMC-RETURN-TYPE PIC X(02) VALUE SPACES: 
 Clause could not be correctly converted to a schema type. Please modify the generated schema to cater to this type.
 Refer to the documentation for assistance.-->
                     <xsd:element name="WS-OTMC-RETURN-TYPE" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/>
                     <!--COBOL declaration : 05 WS-OTMC-SKU OCCURS 300 TIMES-->
                     <xsd:element name="WS-OTMC-SKU" minOccurs="300" maxOccurs="300">
                        <xsd:complexType>
                           <xsd:sequence>
                              <!--COBOL declaration : 10 WS-OTMC-DELIV-LINE-NBR PIC X(10) VALUE SPACES: 
 Clause could not be correctly converted to a schema type. Please modify the generated schema to cater to this type.
 Refer to the documentation for assistance.-->
                              <xsd:element name="WS-OTMC-DELIV-LINE-NBR" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="10"/>
                              <!--COBOL declaration : 10 WS-OTMC-SKU-ID PIC X(08) VALUE SPACES: 
 Clause could not be correctly converted to a schema type. Please modify the generated schema to cater to this type.
 Refer to the documentation for assistance.-->
                              <xsd:element name="WS-OTMC-SKU-ID" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="8"/>
                              <!--COBOL declaration : 10 WS-OTMC-SKU-QTY PIC 9(06)V99 VALUE ZEROS: 
 Clause could not be correctly converted to a schema type. Please modify the generated schema to cater to this type.
 Refer to the documentation for assistance.-->
                              <xsd:element name="WS-OTMC-SKU-QTY" type="xsd:decimal" nxsd:style="virtualDecimal" extn:assumeDecimal="6" extn:picSize="8"/>
                              <!--COBOL declaration : 10 WS-OTMC-WHSLE-SUPPLIER PIC X(02) VALUE SPACES: 
 Clause could not be correctly converted to a schema type. Please modify the generated schema to cater to this type.
 Refer to the documentation for assistance.-->
                              <xsd:element name="WS-OTMC-WHSLE-SUPPLIER" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <!--COBOL declaration : 05 FILLER PIC X(81) VALUE SPACES: 
 Clause could not be correctly converted to a schema type. Please modify the generated schema to cater to this type.
 Refer to the documentation for assistance.-->
                     <xsd:element name="FILLER" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="81"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
