Trunk/xxfin/bpel/ProcessAPInvoiceFiles/bpel/ExtensityChunkFileRead.wsdl

<definitions
     name="ExtensityChunkFileRead"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/ExtensityChunkFileRead/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/ExtensityChunkFileRead/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:imp1="http://www.na.odcorp.com/ExtensityInvoiceRead"
     xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/file/"
    >
    <import namespace="http://xmlns.oracle.com/pcbpel/adapter/file/" location="fileAdapterOutboundHeader.wsdl"/>
    <types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/ExtensityChunkFileRead/"
              xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://www.na.odcorp.com/ExtensityInvoiceRead" schemaLocation="Extensity.xsd" />
        <element name="empty"><complexType/></element>
      </schema>
    </types>
    <message name="Empty_msg">
        <part name="Empty" element="tns:empty"/>
    </message>
    <message name="Extensity_msg">
        <part name="Extensity" element="imp1:Extensity"/>
    </message>
    <portType name="SynchChunked_ptt">
        <operation name="SynchChunked">
            <input message="tns:Empty_msg"/>
            <output message="tns:Extensity_msg"/>
        </operation>
    </portType>
    <binding name="SynchChunked_binding" type="tns:SynchChunked_ptt">
    <jca:binding  />
        <operation name="SynchChunked">
      <jca:operation
            LogicalDirectory="Inbound_Path"
          InteractionSpec="oracle.tip.adapter.file.outbound.ChunkedInteractionSpec"
          ChunkSize="300"
          DeleteFile="true"
          FileName="File_Name_In"
          OpaqueSchema="false" >
      </jca:operation>
      <input>
        <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
      </input>
        </operation>
    </binding>
    <service name="ExtensityChunkFileRead">
        <port name="SynchChunked_pt" binding="tns:SynchChunked_binding">
      <jca:address location="eis/FileAdapter" />
        </port>
    </service>
  <plt:partnerLinkType name="SynchChunked_plt" >
    <plt:role name="SynchChunked_role" >
      <plt:portType name="tns:SynchChunked_ptt" />
    </plt:role>
  </plt:partnerLinkType>
</definitions>
