bpel/ProcessAJBFiles/bpel/ProcessAJBFiles.wsdl

<definitions
     name="ProcessAJBFiles"
     targetNamespace="http://xmlns.oracle.com/ProcessAJBFiles"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://xmlns.oracle.com/PostJournalEntry"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns2="http://schemas.oracle.com/service/bpel/common"
     xmlns:client="http://xmlns.oracle.com/ProcessAJBFiles"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/ProcessAJBFiles" schemaLocation="ProcessAJBFiles.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/PostJournalEntry" schemaLocation="FileHeader.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="params.xsd"/>
        </xsd:schema>
    </types>
    <message name="ProcessAJBFilesResponseMessage">
        <part name="payload" element="client:ProcessAJBFilesProcessResponse"/>
    </message>
    <message name="ProcessAJBFilesRequestMessage">
        <part name="payload" element="ns1:fileHeader"/>
    </message>
    <portType name="ProcessAJBFilesCallback">
        <operation name="onResult">
            <input message="client:ProcessAJBFilesResponseMessage"/>
        </operation>
    </portType>
    <portType name="ProcessAJBFiles">
        <operation name="initiate">
            <input message="client:ProcessAJBFilesRequestMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="ProcessAJBFiles">
        <plnk:role name="ProcessAJBFilesProvider">
            <plnk:portType name="client:ProcessAJBFiles"/>
        </plnk:role>
        <plnk:role name="ProcessAJBFilesRequester">
            <plnk:portType name="client:ProcessAJBFilesCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
