bpel/ProcessAJBFiles/bpel/ServiceFileAJB999Read.wsdl

<definitions
     name="ServiceFileAJB999Read"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/ServiceFileAJB999Read/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/ServiceFileAJB999Read/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:imp1="http://TargetNamespace.com/InboundService_AJB999"
     xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/file/"
    >
    <import namespace="http://xmlns.oracle.com/pcbpel/adapter/file/" location="fileAdapterOutboundHeader.wsdl"/>
    <types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/ServiceFileAJB999Read/"
              xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://TargetNamespace.com/InboundService_AJB999" schemaLocation="AJB999_2.xsd" />
        <element name="empty"><complexType/></element>
      </schema>
    </types>
    <message name="Empty_msg">
        <part name="Empty" element="tns:empty"/>
    </message>
    <message name="Root-Element_AJB999_msg">
        <part name="Root-Element_AJB999" element="imp1:Root-Element_AJB999"/>
    </message>
    <portType name="SynchChunkedRead_ptt">
        <operation name="SynchChunkedRead">
            <input message="tns:Empty_msg"/>
            <output message="tns:Root-Element_AJB999_msg"/>
        </operation>
    </portType>
    <binding name="SynchChunkedRead_binding" type="tns:SynchChunkedRead_ptt">
    <jca:binding  />
        <operation name="SynchChunkedRead">
      <jca:operation
          LogicalDirectory="Inbound_Path"
          InteractionSpec="oracle.tip.adapter.file.outbound.ChunkedInteractionSpec"
          ChunkSize="2000"
          DeleteFile="true"
          FileName="File_Name_In"
          OpaqueSchema="false" >
      </jca:operation>
      <input>
        <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
      </input>
        </operation>
    </binding>
    <service name="ServiceFileAJB999Read">
        <port name="SynchChunkedRead_pt" binding="tns:SynchChunkedRead_binding">
      <jca:address location="eis/FileAdapter" />
        </port>
    </service>
  <plt:partnerLinkType name="SynchChunkedRead_plt" >
    <plt:role name="SynchChunkedRead_role" >
      <plt:portType name="tns:SynchChunkedRead_ptt" />
    </plt:role>
  </plt:partnerLinkType>
</definitions>
