bpel/I0236_PriceList/I0236_PriceList_EBS_In/bpel/I0236_PriceList_EBS_In.wsdl

<definitions
     name="I0236_PriceList_EBS_In"
     targetNamespace="http://xmlns.oracle.com/I0236_PriceList_EBS_In"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://xmlns.oracle.com/pcbpel/adapter/db/top/ReadRMS10"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:ns3="http://schemas.oracle.com/bpel/extension"
     xmlns:ns2="http://www.openapplications.org/officedepot/merchandising/foundation/1"
     xmlns:client="http://xmlns.oracle.com/I0236_PriceList_EBS_In"
    >
    <import namespace="http://schemas.oracle.com/bpel/extension" location="RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/pcbpel/adapter/db/top/ReadRMS10"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ns2="http://www.openapplications.org/officedepot/merchandising/foundation/1"
             xmlns:client="http://xmlns.oracle.com/I0236_PriceList_EBS_In">
            <import namespace="http://xmlns.oracle.com/I0236_PriceList_EBS_In" schemaLocation="I0236_PriceList_EBS_In.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/pcbpel/adapter/db/top/ReadRMS10"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ns2="http://www.openapplications.org/officedepot/merchandising/foundation/1"
             xmlns:client="http://xmlns.oracle.com/I0236_PriceList_EBS_In">
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ReadRMS10" schemaLocation="ReadRMS10_table.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/pcbpel/adapter/db/top/ReadRMS10"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ns2="http://www.openapplications.org/officedepot/merchandising/foundation/1"
             xmlns:client="http://xmlns.oracle.com/I0236_PriceList_EBS_In">
            <xsd:import namespace="http://www.openapplications.org/officedepot/merchandising/foundation/1"
                 schemaLocation="http://chilsoa01d.na.odcorp.net:7778/orabpel/xmllib/merchFndXml/officedepot/merchandising/foundation/v1/message/bod/CommonResponse.xsd"/>
        </xsd:schema>
    </types>
    <message name="I0236_PriceList_EBS_InRequestMessage">
        <part name="payload" element="ns1:OdStagePricelistCollection"/>
    </message>
    <message name="I0236_PriceList_EBS_InResponseMessage">
        <part name="payload" element="ns2:CommonResponse"/>
    </message>
    <portType name="I0236_PriceList_EBS_In">
        <operation name="initiate">
            <input message="client:I0236_PriceList_EBS_InRequestMessage"/>
        </operation>
    </portType>
    <portType name="I0236_PriceList_EBS_InCallback">
        <operation name="onResult">
            <input message="client:I0236_PriceList_EBS_InResponseMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="I0236_PriceList_EBS_In">
        <plnk:role name="I0236_PriceList_EBS_InProvider">
            <plnk:portType name="client:I0236_PriceList_EBS_In"/>
        </plnk:role>
        <plnk:role name="I0236_PriceList_EBS_InRequester">
            <plnk:portType name="client:I0236_PriceList_EBS_InCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
