bpel/FTPGLFiles/bpel/FileHeader.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/"
            targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/"
            elementFormDefault="qualified">
  <xsd:element name="fileHeader" type="tns:InboundFileHeaderType"/>
  <xsd:complexType name="InboundFileHeaderType">
    <xsd:sequence>
      <xsd:element name="fileName" type="xsd:string"/>
      <xsd:element name="directory" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
