bpel/I1151DPSCancelOrderProcess_Out/I1151DPSCancelOrderProcess/DPSCancel_SendSalesOrderInfo/bpel/DPSCancel_SendSalesOrderInfo.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/DPSCancel_SendSalesOrderInfo"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="DPSCancel_SendSalesOrderInfoProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="DPSCancel_SendSalesOrderInfoProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>