xxptp/bpel/I0236_PriceList/I0236_PriceList_EBS_In/bpel/APPS_BPEL_PLPRICELISTPROCESS_XX_QP_PRICELIST_PKG-24CREATE_PR.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/APPS/BPEL_PLPRICELISTPROCESS/XX_QP_PRICELIST_PKG-24CREATE_PR/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/APPS/BPEL_PLPRICELISTPROCESS/XX_QP_PRICELIST_PKG-24CREATE_PR/">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_PRICELIST_HEADER" type="db:XX_QP_PRICELIST_PKG_PRICE_LIS" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="P_PRICELIST_QUALIFIERS" type="db:XX_QP_PRICELIST_PKG_QUALIFIER" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_PRICE_LIST_ATTRIBUTES" type="db:XX_QP_PRICELIST_PKG_PRICING_A" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_PRICE_LIST_LINES" type="db:XX_QP_PRICELIST_PKG_PRICE_LI1" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="XX_QP_PRICELIST_PKG_PRICING_A">
      <sequence>
         <element name="P_PRICE_LIST_ATTRIBUTES_ITEM" type="db:QP_PRICE_LIST_PUB_PRICING_ATT" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="QP_QUALIFIER_RULES_PUB_QUALIF">
      <sequence>
         <element name="ATTRIBUTE1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE10" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE11" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE12" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE13" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE14" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE15" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE6" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE7" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE8" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE9" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COMPARISON_OPERATOR_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CREATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATED_FROM_RULE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="END_DATE_ACTIVE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="EXCLUDER_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LAST_UPDATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_LOGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_LINE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_APPLICATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="QUALIFIER_ATTRIBUTE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUALIFIER_ATTR_VALUE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUALIFIER_ATTR_VALUE_TO" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUALIFIER_CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUALIFIER_DATATYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUALIFIER_GROUPING_NO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUALIFIER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUALIFIER_PRECEDENCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUALIFIER_RULE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REQUEST_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="START_DATE_ACTIVE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LIST_TYPE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QUAL_ATTR_VALUE_FROM_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUAL_ATTR_VALUE_TO_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ACTIVE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SEARCH_IND" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUALIFIER_GROUP_CNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="HEADER_QUALS_EXIST_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DISTINCT_ROW_COUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RETURN_STATUS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DB_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OPERATION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="XX_QP_PRICELIST_PKG_PRICE_LI1">
      <sequence>
         <element name="P_PRICE_LIST_LINES_ITEM" type="db:QP_PRICE_LIST_PUB_PRICE_LIST_" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XX_QP_PRICELIST_PKG_QUALIFIER">
      <sequence>
         <element name="P_PRICELIST_QUALIFIERS_ITEM" type="db:QP_QUALIFIER_RULES_PUB_QUALIF" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="QP_PRICE_LIST_PUB_PRICE_LIST_">
      <sequence>
         <element name="ACCRUAL_QTY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ACCRUAL_UOM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ARITHMETIC_OPERATOR" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE10" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE11" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE12" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE13" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE14" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE15" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE6" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE7" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE8" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE9" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="AUTOMATIC_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="BASE_QTY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BASE_UOM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COMMENTS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2000"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CREATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="EFFECTIVE_PERIOD_UOM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="END_DATE_ACTIVE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="ESTIM_ACCRUAL_RATE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="GENERATE_USING_FORMULA_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INVENTORY_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_LOGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_LINE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_LINE_TYPE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_PRICE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MODIFIER_LEVEL_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="NUMBER_EFFECTIVE_PERIODS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OPERAND" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ORGANIZATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OVERRIDE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PERCENT_PRICE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRICE_BREAK_TYPE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICE_BY_FORMULA_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRIMARY_UOM_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRINT_ON_INVOICE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PROGRAM_APPLICATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="REBATE_TRXN_TYPE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RELATED_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RELATIONSHIP_TYPE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REPRICE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REQUEST_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REVISION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REVISION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="REVISION_REASON_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="START_DATE_ACTIVE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="SUBSTITUTION_ATTRIBUTE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SUBSTITUTION_CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SUBSTITUTION_VALUE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RETURN_STATUS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DB_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OPERATION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RLTD_MODIFIER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FROM_RLTD_MODIFIER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TO_RLTD_MODIFIER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RLTD_MODIFIER_GROUP_NO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RLTD_MODIFIER_GRP_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRODUCT_PRECEDENCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRICE_BREAK_HEADER_INDEX" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_LINE_NO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUALIFICATION_IND" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RECURRING_VALUE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BREAK_UOM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="BREAK_UOM_CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="BREAK_UOM_ATTRIBUTE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="QP_PRICE_LIST_PUB_PRICING_ATT">
      <sequence>
         <element name="ACCUMULATE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE10" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE11" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE12" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE13" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE14" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE15" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE6" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE7" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE8" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE9" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE_GROUPING_NO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CREATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="EXCLUDER_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LAST_UPDATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_LOGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_LINE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRICING_ATTRIBUTE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICING_ATTRIBUTE_CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICING_ATTRIBUTE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRICING_ATTR_VALUE_FROM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICING_ATTR_VALUE_TO" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRODUCT_ATTRIBUTE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRODUCT_ATTRIBUTE_CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRODUCT_ATTR_VALUE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRODUCT_UOM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PROGRAM_APPLICATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="REQUEST_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRICING_ATTR_VALUE_FROM_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRICING_ATTR_VALUE_TO_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUALIFICATION_IND" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RETURN_STATUS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DB_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OPERATION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICE_LIST_LINE_INDEX" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FROM_RLTD_MODIFIER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="COMPARISON_OPERATOR_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRODUCT_ATTRIBUTE_DATATYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICING_ATTRIBUTE_DATATYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRICING_PHASE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XX_QP_PRICELIST_PKG_PRICE_LIS">
      <sequence>
         <element name="ATTRIBUTE1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE10" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE11" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE12" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE13" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE14" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE15" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE6" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE7" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE8" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE9" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="AUTOMATIC_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COMMENTS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2000"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CREATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CURRENCY_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DISCOUNT_LINES_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="END_DATE_ACTIVE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="FREIGHT_TERMS_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="GSA_INDICATOR" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LAST_UPDATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_LOGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_TYPE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PROGRAM_APPLICATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="PRORATE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REQUEST_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ROUNDING_FACTOR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SHIP_METHOD_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="START_DATE_ACTIVE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="TERMS_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RETURN_STATUS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DB_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OPERATION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DESCRIPTION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2000"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VERSION_NO" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ACTIVE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MOBILE_DOWNLOAD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CURRENCY_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PTE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LIST_SOURCE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ORIG_SYSTEM_HEADER_REF" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="GLOBAL_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SOURCE_SYSTEM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHAREABLE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SOLD_TO_ORG_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LOCKED_FROM_LIST_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
</schema>
