bpel/UpdateLegacyPOTables/UpdateLegacyPOTables/bpel/UpdateLegacyPOTables.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/UpdateLegacyPOTables"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="UpdateLegacyPOTablesProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="UpdateLegacyPOTablesProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>