soa/PeopleSoftUpgrade/SyncEmployee/SynchEmployeeMFProvABCS/SyncEmployeeMFTablesABCSImpl.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="SyncEmployeeMFTablesABCSImpl"
     targetNamespace="http://xmlns.oracle.com/PSHR/SynchEmployeeMFProvABCS/SyncEmployeeMFTablesABCSImpl"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.officedepot.com/EnterpriseObjects/Core/EBO/Employee/V1"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:set="http://xmlns.oracle.com/PSHR/SynchEmployeeMFProvABCS/SyncEmployeeMFTablesABCSImpl"
     xmlns:resp="http://xmlns.officedepot.com/PeopleSoftMigration/UpdateEmployeeErrorCallBackPSFTProvABCS/UpdateEmployeeErrorToPSFTEBM"
    >
    <plnk:partnerLinkType name="SyncEmployeeMFTablesABCSImpl">
        <plnk:role name="SyncEmployeeMFTablesABCSImplProvider">
            <plnk:portType name="set:SyncEmployeeMFTablesABCSImpl"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:client="http://xmlns.officedepot.com/EnterpriseObjects/Core/EBO/Employee/V1"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:set="http://xmlns.oracle.com/PSHR/SynchEmployeeMFProvABCS/SyncEmployeeMFTablesABCSImpl"
             xmlns:resp="http://xmlns.officedepot.com/PeopleSoftMigration/UpdateEmployeeErrorCallBackPSFTProvABCS/UpdateEmployeeErrorToPSFTEBM">
            <import namespace="http://xmlns.officedepot.com/EnterpriseObjects/Core/EBO/Employee/V1"
                 schemaLocation="oramds:/apps/ODCommon/EnterpriseObjects/Core/EBO/Employee/V1/EmployeeEBM.xsd"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:client="http://xmlns.officedepot.com/EnterpriseObjects/Core/EBO/Employee/V1"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:set="http://xmlns.oracle.com/PSHR/SynchEmployeeMFProvABCS/SyncEmployeeMFTablesABCSImpl"
             xmlns:resp="http://xmlns.officedepot.com/PeopleSoftMigration/UpdateEmployeeErrorCallBackPSFTProvABCS/UpdateEmployeeErrorToPSFTEBM">
            <import namespace="http://xmlns.officedepot.com/PeopleSoftMigration/UpdateEmployeeErrorCallBackPSFTProvABCS/UpdateEmployeeErrorToPSFTEBM"
                 schemaLocation="xsd/UpdateEmployeeErrorToPeopleSoftEBM.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="SyncEmployeeMFTablesABCSImplRequestMessage">
        <wsdl:part name="payload" element="client:Employee"/>
    </wsdl:message>
    <wsdl:message name="SyncEmployeeMFTablesABCSImplResponseMessage">
        <wsdl:part name="payload" element="resp:UpdateEmployeeErrorToPSFTEBM"/>
    </wsdl:message>
    <wsdl:message name="SyncEmployeeMFTablesABCSImplFaultMessage">
        <wsdl:part name="payload" element="resp:UpdateEmployeeErrorToPSFTEBM"/>
    </wsdl:message>
    <wsdl:portType name="SyncEmployeeMFTablesABCSImpl">
        <wsdl:operation name="process">
            <wsdl:input message="set:SyncEmployeeMFTablesABCSImplRequestMessage"/>
            <wsdl:output message="set:SyncEmployeeMFTablesABCSImplResponseMessage"/>
            <wsdl:fault message="set:SyncEmployeeMFTablesABCSImplFaultMessage"
                        name="employeeFault"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
