soa/PeopleSoftUpgrade/SyncEmployee/SynchEmployeeMFProvABCS/UpdateEmpMiscMFDBAdaptorV1.wsdl

<?binding.jca UpdateEmpMiscMFDBAdaptorV1_db.jca?>
<wsdl:definitions name="UpdateEmpMiscMFDBAdaptorV1"
                  targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/POC/DB2Tables/UpdateEmpMiscMFDBAdaptorV1"
                  xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/POC/DB2Tables/UpdateEmpMiscMFDBAdaptorV1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/UpdateEmpMiscMFDBAdaptorV1">
    <plt:partnerLinkType name="UpdateEmpMiscMFDBAdaptorV1_plt">
        <plt:role name="UpdateEmpMiscMFDBAdaptorV1_role">
            <plt:portType name="tns:UpdateEmpMiscMFDBAdaptorV1_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/UpdateEmpMiscMFDBAdaptorV1"
                    schemaLocation="xsd/UpdateEmpMiscMFDBAdaptorV1.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="EmpmiscCollection_msg">
        <wsdl:part name="EmpmiscCollection" element="top:EmpmiscCollection"/>
    </wsdl:message>
    <wsdl:message name="UpdateEmpMiscMFDBAdaptorV1Select_inputParameters">
        <wsdl:part name="UpdateEmpMiscMFDBAdaptorV1Select_inputParameters"
                   element="top:UpdateEmpMiscMFDBAdaptorV1Select_InputParamMiscEmpIDInputParameters"/>
    </wsdl:message>
    <wsdl:portType name="UpdateEmpMiscMFDBAdaptorV1_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:EmpmiscCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <wsdl:input message="tns:EmpmiscCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:EmpmiscCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateEmpMiscMFDBAdaptorV1Select">
            <wsdl:input message="tns:UpdateEmpMiscMFDBAdaptorV1Select_inputParameters"/>
            <wsdl:output message="tns:EmpmiscCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>


