soa/PeopleSoftUpgrade/SyncEmployee/SynchEmployeeMFProvABCS/UpdateEmpDataMFDBAdaptorV1.wsdl

<?binding.jca PSHREmpDataDB2Tbl_db.jca?>
<wsdl:definitions name="UpdateEmpDataMFDBAdaptorV1"
                  targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/POC/DB2Tables/UpdateEmpDataMFDBAdaptorV1"
                  xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/POC/DB2Tables/UpdateEmpDataMFDBAdaptorV1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/PSHREmployeeDb2Tbl">
    <plt:partnerLinkType name="UpdateEmpDataMFDBAdaptorV1_plt">
        <plt:role name="UpdateEmpDataMFDBAdaptorV1_role">
            <plt:portType name="tns:UpdateEmpDataMFDBAdaptorV1_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/PSHREmployeeDb2Tbl"
                    schemaLocation="xsd/UpdateEmpDataMFDBAdaptorV1.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="EmpdataCollection_msg">
        <wsdl:part name="EmpdataCollection" element="top:EmpdataCollection"/>
    </wsdl:message>
    <wsdl:message name="UpdateEmpDataMFDBAdaptorV1Select_inputParameters">
        <wsdl:part name="UpdateEmpDataMFDBAdaptorV1Select_inputParameters"
                   element="top:UpdateEmpDataMFDBAdaptorV1Select_InputParamEmpdataEmpIDInputParameters"/>
    </wsdl:message>
    <wsdl:portType name="UpdateEmpDataMFDBAdaptorV1_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:EmpdataCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <wsdl:input message="tns:EmpdataCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:EmpdataCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateEmpDataMFDBAdaptorV1Select">
            <wsdl:input message="tns:UpdateEmpDataMFDBAdaptorV1Select_inputParameters"/>
            <wsdl:output message="tns:EmpdataCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>


