bpel/ServiceB2BInbound/bpel/serviceRequestUpdate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" 
             xmlns:extn="http://xmlns.oracle.com/pcbpel/nxsd/extensions" 
             targetNamespace="http://TargetNamespace.com/serviceRequestUpdate" 
             xmlns:tns="http://TargetNamespace.com/dequeueSrupdate2Aops" 
            elementFormDefault="qualified">
	<xsd:element name="serviceRequestUpdate">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="vendor" type="xsd:string"/>
				<xsd:element name="serviceRequestId" type="xsd:string"/>
				<xsd:element name="serviceRequestStatus" type="xsd:string" />
				<xsd:element name="serviceRequestComments" type="xsd:string" minOccurs="0" />
				<xsd:element name="serviceLink" type="xsd:string" minOccurs="0" />
                                <xsd:element name="msgId" type="xsd:string" minOccurs="0" />
				<!--<xsd:element name="skuList" type="ArrayOfskuStatus"/>-->
                                <xsd:element name="skuStatus"  minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="skuId" type="xsd:string"/>
                                            <xsd:element name="skuStatus" type="xsd:string" minOccurs="0"/>
                                            <xsd:element name="skuComments" type="xsd:string" minOccurs="0"/>
                                         </xsd:sequence>
                                </xsd:complexType>         
                                    </xsd:element> 
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- <xsd:complexType name="ArrayOfskuStatus">
		<xsd:sequence>
			<xsd:element name="skuStatus" type="skuStatus" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType> -->
	<!--<xsd:complexType name="skuStatus">
		<xsd:sequence>
			<xsd:element name="skuId" type="xsd:string"/>
			<xsd:element name="skuStatus" type="xsd:string"/>
			<xsd:element name="skuComments" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType> -->
</xsd:schema>
