Trunk/xxfin/bpel/ProcessCEStoreBankDeposits/bpel/ProcessCEStoreBankDeposits.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ProcessCEStoreBankDeposits"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ProcessCEStoreBankDepositsProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ProcessCEStoreBankDepositsProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>