Trunk/xxfin/bpel/ProcessCEStoreBankDeposits/bpel/SynchFileRead.wsdl

<definitions
     name="SynchFileRead"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/SynchFileRead/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/SynchFileRead/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:imp1="http://TargetNamespace.com/FTPGetStoreBankDeposits"
     xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/file/"
    >
    <import namespace="http://xmlns.oracle.com/pcbpel/adapter/file/" location="fileAdapterOutboundHeader.wsdl"/>
    <types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/SynchFileRead/"
              xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://TargetNamespace.com/FTPGetStoreBankDeposits" schemaLocation="StoreBankDeposit_CPYBK_3.xsd" />
        <element name="empty"><complexType/></element>
      </schema>
    </types>
    <message name="Empty_msg">
        <part name="Empty" element="tns:empty"/>
    </message>
    <message name="Root-Element_msg">
        <part name="Root-Element" element="imp1:Root-Element"/>
    </message>
    <portType name="SynchChunked_ptt">
        <operation name="SynchChunked">
            <input message="tns:Empty_msg"/>
            <output message="tns:Root-Element_msg"/>
        </operation>
    </portType>
    <binding name="SynchChunked_binding" type="tns:SynchChunked_ptt">
    <jca:binding  />
        <operation name="SynchChunked">
      <jca:operation
          PhysicalDirectory="Inbound_Path"
          InteractionSpec="oracle.tip.adapter.file.outbound.ChunkedInteractionSpec"
	  ChunkSize="500"
          PhysicalArchiveDirectory="Archive_In"
          DeleteFile="true"
          FileName="StoreBankDeposits*.txt"
          OpaqueSchema="false" >
      </jca:operation>
      <input>
        <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
      </input>
        </operation>
    </binding>
    <service name="SynchFileRead">
        <port name="SynchChunked_pt" binding="tns:SynchChunked_binding">
      <jca:address location="eis/FileAdapter" />
        </port>
    </service>
  <plt:partnerLinkType name="SynchChunked_plt" >
    <plt:role name="SynchChunked_role" >
      <plt:portType name="tns:SynchChunked_ptt" />
    </plt:role>
  </plt:partnerLinkType>
</definitions>
