bpel/PostGLSIStgTableInsert/bpel/PostGLSIStgTableInsert.wsdl

<definitions
     name="PostGLSIStgTableInsert"
     targetNamespace="http://xmlns.oracle.com/PostGLSIStgTableInsert"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://www.openapplications.org/oagis/9"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns2="http://schemas.oracle.com/service/bpel/common"
     xmlns:client="http://xmlns.oracle.com/PostGLSIStgTableInsert"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.openapplications.org/oagis/9"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/PostGLSIStgTableInsert">
            <import namespace="http://xmlns.oracle.com/PostGLSIStgTableInsert" schemaLocation="PostGLSIStgTableInsert.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.openapplications.org/oagis/9"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/PostGLSIStgTableInsert">
            <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="http://chilsoa01d.na.odcorp.net:7778/orabpel/xmllib/eaixml/oagis/v91/message/bod/PostJournalEntry.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="params.xsd"/>
        </xsd:schema>
    </types>
    <message name="PostGLSIStgTableInsertRequestMessage">
        <part name="payload" element="ns1:PostJournalEntry"/>
    </message>
    <message name="PostGLSIStgTableInsertResponseMessage">
        <part name="payload" element="client:PostGLSIStgTableInsertProcessResponse"/>
    </message>
    <!--<portType name="PostGLSIStgTableInsert">
        <operation name="process">
            <input message="client:PostGLSIStgTableInsertRequestMessage"/>
            <output message="client:PostGLSIStgTableInsertResponseMessage"/>
        </operation>
    </portType>-->
    <portType name="PostGLSIStgTableInsert">
        <operation name="initiate">
            <input message="client:PostGLSIStgTableInsertRequestMessage"/>            
        </operation>
    </portType>
    <portType name="PostGLSIStgTableInsertCallback">
        <operation name="onResult">
            <input message="client:PostGLSIStgTableInsertResponseMessage"/>
        </operation>
    </portType>
    <!--<plnk:partnerLinkType name="PostGLSIStgTableInsert">
        <plnk:role name="PostGLSIStgTableInsertProvider">
            <plnk:portType name="client:PostGLSIStgTableInsert"/>
        </plnk:role>
    </plnk:partnerLinkType>-->
    <plnk:partnerLinkType name="PostGLSIStgTableInsert">
        <plnk:role name="PostGLSIStgTableInsertProvider">
            <plnk:portType name="client:PostGLSIStgTableInsert"/>
        </plnk:role>
        <plnk:role name="PostGLSIStgTableInsertRequester">
            <plnk:portType name="client:PostGLSIStgTableInsertCallback"/>
        </plnk:role>        
    </plnk:partnerLinkType>
</definitions>
