xxfin/soa/PeopleSoftUpgrade/SyncSupplier/SynchSupplierGSSProvABCS/SyncSupplierGSSProvABCS.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="SyncSupplierGSSProvABCS"
     targetNamespace="http://xmlns.oracle.com/VendorSynch/SynchSupplierGSSProvABCS/SyncSupplierGSSProvABCS"
     xmlns:ns2="http://xmlns.officedepot.com/VendorSynch/Common"
     xmlns:ns1="http://xmlns.oracle.com/VendorSynch/SynchSupplierFileEbizProvABCS/TriggerSupplierSynchEBizProvABCSImpl"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:client="http://xmlns.oracle.com/VendorSynch/SynchSupplierGSSProvABCS/SyncSupplierGSSProvABCS"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="SyncSupplierGSSProvABCS">
        <plnk:role name="SyncSupplierGSSProvABCSProvider" portType="client:SyncSupplierGSSProvABCS"/>
        <plnk:role name="SyncSupplierGSSProvABCSRequester" portType="client:SyncSupplierGSSProvABCSCallback"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/VendorSynch/SynchSupplierFileEbizProvABCS/TriggerSupplierSynchEBizProvABCSImpl"
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:client="http://xmlns.oracle.com/VendorSynch/SynchSupplierGSSProvABCS/SyncSupplierGSSProvABCS"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <import namespace="http://xmlns.oracle.com/VendorSynch/SynchSupplierGSSProvABCS/SyncSupplierGSSProvABCS"
                 schemaLocation="xsd/SyncSupplierGSSProvABCS.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/VendorSynch/SynchSupplierFileEbizProvABCS/TriggerSupplierSynchEBizProvABCSImpl"
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:client="http://xmlns.oracle.com/VendorSynch/SynchSupplierGSSProvABCS/SyncSupplierGSSProvABCS"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <xsd:import namespace="http://xmlns.oracle.com/VendorSynch/SynchSupplierFileEbizProvABCS/TriggerSupplierSynchEBizProvABCSImpl"
                 schemaLocation="xsd/TriggerSupplierSynchEBizProvABCSImpl.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.officedepot.com/VendorSynch/Common" schemaLocation="xsd/Counter.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SyncSupplierGSSProvABCSResponseMessage">
        <wsdl:part name="payload" element="client:processResponse"/>
    </wsdl:message>
    <wsdl:message name="SyncSupplierGSSProvABCSRequestMessage">
        <wsdl:part name="payload" element="client:process"/>
    </wsdl:message>
    <wsdl:portType name="SyncSupplierGSSProvABCSCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:SyncSupplierGSSProvABCSResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="SyncSupplierGSSProvABCS">
        <wsdl:operation name="process">
            <wsdl:input message="client:SyncSupplierGSSProvABCSRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
