Trunk/xxom/bpel/I1164_DeliveryToRoadNet/I1164_EBS_ROADNET_OUT/bpel/RTS_RN5K_ORDER_LOAD_DTL.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--Native format was generated from COBOL copybook : U:\My Documents\Project Simplify\MD50\I1164_DeliveryToRoadNet\RTS_RN5K_ORDER_LOAD_DTL_xxxx.txt-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:extn="http://xmlns.oracle.com/pcbpel/nxsd/extensions" targetNamespace="http://TargetNamespace.com/eis/MQ/TransOrderLoadDtl" xmlns:tns="http://TargetNamespace.com/eis/MQ/TransOrderLoadDtl" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:encoding="ASCII" nxsd:byteOrder="bigEndian" nxsd:stream="chars">
   <xsd:element name="Root-Element">
      <xsd:complexType>
         <xsd:sequence>
            <!--COBOL declaration : 01 WS-MQ-DTL-DATA-->
            <xsd:element name="WS-MQ-DTL-DATA" minOccurs="1" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <!--COBOL declaration : 05 WS-ORDER-LOAD-DTL-MQ-->
                     <xsd:element name="WS-ORDER-LOAD-DTL-MQ">
                        <xsd:complexType>
                           <xsd:sequence>
                              <!--COBOL declaration : 10 WS-SKU PIC 9(09)-->
                              <xsd:element name="WS-SKU" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="9"/>
                              <!--COBOL declaration : 10 WS-SKU-DESC PIC X(30)-->
                              <xsd:element name="WS-SKU-DESC" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="30"/>
                              <!--COBOL declaration : 10 WS-SKU-QTY PIC 9(05)-->
                              <xsd:element name="WS-SKU-QTY" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="5"/>
                              <!--COBOL declaration : 10 WS-COGS-SKU-SIGN PIC X(01)-->
                              <xsd:element name="WS-COGS-SKU-SIGN" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="1"/>
                              <!--COBOL declaration : 10 WS-COGS-SKU PIC 9(07).99-->
                              <xsd:element name="WS-COGS-SKU" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
                              <!--COBOL declaration : 10 WS-SKU-WEIGHT PIC 9(04).999-->
                              <xsd:element name="WS-SKU-WEIGHT" type="xsd:string" nxsd:style="fixedLength" nxsd:length="8"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
