Trunk/xxfin/bpel/archive/ProcessGSSInvoice/bpel/ProcessGSSInvoice.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ProcessGSSInvoice"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ProcessGSSInvoiceProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ProcessGSSInvoiceProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>