bpel/I0265_POAck_EBS_In/I0265_POAck_In/POAcknowledgementProcess/bpel/POAcknowledgementProcess.wsdl

<definitions
     name="POAcknowledgementProcess"
     targetNamespace="http://xmlns.oracle.com/POAcknowledgementProcess"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://www.openapplications.org/oagis/9"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns2="http://schemas.oracle.com/bpel/extension"
     xmlns:client="http://xmlns.oracle.com/POAcknowledgementProcess"
    >
    <import namespace="http://schemas.oracle.com/bpel/extension" location="RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.openapplications.org/oagis/9"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/POAcknowledgementProcess"
             xmlns:ns2="http://schemas.oracle.com/bpel/extension">
            <import namespace="http://xmlns.oracle.com/POAcknowledgementProcess" schemaLocation="POAcknowledgementProcess.xsd"/>
        </schema>
        <!--<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.openapplications.org/oagis/9"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/POAcknowledgementProcess"
             xmlns:ns2="http://schemas.oracle.com/bpel/extension">
            <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="http://localhost:9700/orabpel/xmllib/eaixml/oagis/v9/message/bod/AcknowledgePurchaseOrder.xsd"/>
        </xsd:schema>-->
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.openapplications.org/oagis/9"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ns2="http://schemas.oracle.com/bpel/extension"
             xmlns:client="http://xmlns.oracle.com/POAcknowledgementProcess">
            <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="http://chilsoa02d.na.odcorp.net:7777/orabpel/xmllib/eaixml/oagis/v91/message/bod/AcknowledgePurchaseOrder.xsd"/>
        </xsd:schema> 
    </types>
    <message name="POAcknowledgementProcessResponseMessage">
        <part name="payload" element="client:POAcknowledgementProcessProcessResponse"/>
    </message>
    <message name="POAcknowledgementProcessRequestMessage">
        <part name="payload" element="ns1:AcknowledgePurchaseOrder"/>
    </message>
    <portType name="POAcknowledgementProcessCallback">
        <operation name="onResult">
            <input message="client:POAcknowledgementProcessResponseMessage"/>
        </operation>
    </portType>
    <portType name="POAcknowledgementProcess">
        <operation name="initiate">
            <input message="client:POAcknowledgementProcessRequestMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="POAcknowledgementProcess">
        <plnk:role name="POAcknowledgementProcessProvider">
            <plnk:portType name="client:POAcknowledgementProcess"/>
        </plnk:role>
        <plnk:role name="POAcknowledgementProcessRequester">
            <plnk:portType name="client:POAcknowledgementProcessCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
