soa/PeopleSoftUpgrade/SyncEmployee/UpdateEmployeeErrorCallBackPSFTProvABCS/OD_EMPDATA_ASYNC.1.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="OD_EMPDATA_ASYNC.1"
                  targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/services/OD_EMPDATA_ASYNC.1"
                  xmlns:OD_EMPDATA_ASYNC_SUB.V2="http://xmlns.oracle.com/Enterprise/Tools/schemas/OD_EMPDATA_ASYNC_SUB.V2"
                  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://xmlns.oracle.com/Enterprise/Tools/services/OD_EMPDATA_ASYNC.1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy">
  <wsp:UsagePolicy wsdl:Required="true"/>
  <plnk:partnerLinkType name="OD_EMPDATA_ASYNC_PartnerLinkType">
    <plnk:role name="OD_EMPDATA_ASYNC_Provider">
      <plnk:portType name="tns:OD_EMPDATA_ASYNC_PortType"/>
    </plnk:role>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified"
                targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/OD_EMPDATA_ASYNC_SUB.V2"
                xmlns="http://xmlns.oracle.com/Enterprise/Tools/schemas/OD_EMPDATA_ASYNC_SUB.V2"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="OD_EMPDATA_ASYNC_SUB"
                   type="OD_EMPDATA_ASYNC_SUB_TypeShape"/>
      <xsd:complexType name="OD_EMPDATA_ASYNC_SUB_TypeShape">
        <xsd:sequence>
          <xsd:element name="FieldTypes" type="FieldTypes_TypeShape"/>
          <xsd:element name="MsgData" type="MsgData_TypeShape"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FieldTypes_TypeShape">
        <xsd:all>
          <xsd:element name="OD_I0140_MSG0"
                       type="FieldTypesOD_I0140_MSG0_TypeShape"/>
          <xsd:element name="OD_FIN_TRIGGER"
                       type="FieldTypesOD_FIN_TRIGGER_TypeShape"/>
          <xsd:element name="PSCAMA" type="FieldTypesPSCAMA_TypeShape"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="FieldTypesOD_I0140_MSG0_TypeShape">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="USERID"
                       type="FieldTypesCharFieldType"/>
        </xsd:sequence>
        <xsd:attribute fixed="R" name="class" type="xsd:string" use="required"/>
      </xsd:complexType>
      <xsd:complexType name="FieldTypesOD_FIN_TRIGGER_TypeShape">
        <xsd:sequence>
          <xsd:element name="EMPLID" type="FieldTypesCharFieldType"/>
          <xsd:element minOccurs="0" name="OD_TRANS_DT"
                       type="FieldTypesDateFieldType"/>
          <xsd:element minOccurs="0" name="RECORD_NAME"
                       type="FieldTypesCharFieldType"/>
          <xsd:element minOccurs="0" name="PROCESS_STATUS"
                       type="FieldTypesCharFieldType"/>
          <xsd:element minOccurs="0" name="PROCESS_DATE"
                       type="FieldTypesDateFieldType"/>
        </xsd:sequence>
        <xsd:attribute fixed="R" name="class" type="xsd:string" use="required"/>
      </xsd:complexType>
      <xsd:complexType name="FieldTypesPSCAMA_TypeShape">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="LANGUAGE_CD"
                       type="FieldTypesCharFieldType"/>
          <xsd:element minOccurs="0" name="AUDIT_ACTN"
                       type="FieldTypesCharFieldType"/>
          <xsd:element minOccurs="0" name="BASE_LANGUAGE_CD"
                       type="FieldTypesCharFieldType"/>
          <xsd:element minOccurs="0" name="MSG_SEQ_FLG"
                       type="FieldTypesCharFieldType"/>
          <xsd:element minOccurs="0" name="PROCESS_INSTANCE"
                       type="FieldTypesNumberFieldType"/>
          <xsd:element minOccurs="0" name="PUBLISH_RULE_ID"
                       type="FieldTypesCharFieldType"/>
          <xsd:element minOccurs="0" name="MSGNODENAME"
                       type="FieldTypesCharFieldType"/>
        </xsd:sequence>
        <xsd:attribute fixed="R" name="class" type="xsd:string" use="required"/>
      </xsd:complexType>
      <xsd:complexType name="FieldTypesCharFieldType">
        <xsd:attribute fixed="CHAR" name="type" type="xsd:string"
                       use="required"/>
      </xsd:complexType>
      <xsd:complexType name="FieldTypesNumberFieldType">
        <xsd:attribute fixed="NUMBER" name="type" type="xsd:string"
                       use="required"/>
      </xsd:complexType>
      <xsd:complexType name="FieldTypesDateFieldType">
        <xsd:attribute fixed="DATE" name="type" type="xsd:string"
                       use="required"/>
      </xsd:complexType>
      <xsd:complexType name="FieldTypesTimeFieldType">
        <xsd:attribute fixed="TIME" name="type" type="xsd:string"
                       use="required"/>
      </xsd:complexType>
      <xsd:complexType name="FieldTypesDateTimeFieldType">
        <xsd:attribute fixed="DATETIME" name="type" type="xsd:string"
                       use="required"/>
      </xsd:complexType>
      <xsd:complexType name="FieldTypesImageRefFieldType">
        <xsd:attribute fixed="IMAGEREFERENCE" name="type" type="xsd:string"
                       use="required"/>
      </xsd:complexType>
      <xsd:complexType name="MsgData_TypeShape">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Transaction"
                       type="Transaction_TypeShape"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Transaction_TypeShape">
        <xsd:all>
          <xsd:element minOccurs="0" name="OD_I0140_MSG0"
                       type="OD_I0140_MSG0MsgDataRecord_TypeShape"/>
          <xsd:element name="PSCAMA" type="PSCAMAMsgDataRecord_TypeShape"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="OD_I0140_MSG0MsgDataRecord_TypeShape">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="USERID" type="USERID_TypeShape"/>
          <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="OD_FIN_TRIGGER"
                         type="OD_FIN_TRIGGERMsgDataRecord_TypeShape"/>
            <xsd:element minOccurs="0" name="PSCAMA"
                         type="PSCAMAMsgDataRecord_TypeShape"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute fixed="R" name="class" type="xsd:string" use="required"/>
      </xsd:complexType>
      <xsd:complexType name="OD_FIN_TRIGGERMsgDataRecord_TypeShape">
        <xsd:sequence>
          <xsd:element name="EMPLID" type="EMPLID_TypeShape"/>
          <xsd:element minOccurs="0" name="OD_TRANS_DT"
                       type="OD_TRANS_DT_TypeShape"/>
          <xsd:element minOccurs="0" name="RECORD_NAME"
                       type="RECORD_NAME_TypeShape"/>
          <xsd:element minOccurs="0" name="PROCESS_STATUS"
                       type="PROCESS_STATUS_TypeShape"/>
          <xsd:element minOccurs="0" name="PROCESS_DATE"
                       type="PROCESS_DATE_TypeShape"/>
        </xsd:sequence>
        <xsd:attribute fixed="R" name="class" type="xsd:string" use="required"/>
      </xsd:complexType>
      <xsd:complexType name="USERID_TypeShape">
        <xsd:simpleContent>
          <xsd:extension base="USERID_TypeDef">
            <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="USERID_TypeDef">
        <xsd:annotation>
          <xsd:documentation>A user's ID</xsd:documentation>
          <xsd:documentation>USERID is a character of length 30</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30"/>
          <xsd:whiteSpace value="preserve"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="EMPLID_TypeShape">
        <xsd:simpleContent>
          <xsd:extension base="EMPLID_TypeDef">
            <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="OD_TRANS_DT_TypeShape">
        <xsd:simpleContent>
          <xsd:extension base="OD_TRANS_DT_TypeDef">
            <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="RECORD_NAME_TypeShape">
        <xsd:simpleContent>
          <xsd:extension base="RECORD_NAME_TypeDef">
            <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="PROCESS_STATUS_TypeShape">
        <xsd:simpleContent>
          <xsd:extension base="PROCESS_STATUS_TypeDef">
            <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="PROCESS_DATE_TypeShape">
        <xsd:simpleContent>
          <xsd:extension base="PROCESS_DATE_TypeDef">
            <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="EMPLID_TypeDef">
        <xsd:annotation>
          <xsd:documentation>Employee ID</xsd:documentation>
          <xsd:documentation>EMPLID is a character of length 11. Allows
                             Uppercase characters including numbers</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="11"/>
          <xsd:whiteSpace value="preserve"/>
          <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="OD_TRANS_DT_TypeDef">
        <xsd:annotation>
          <xsd:documentation>Created for CitiStreet 401 outbound - deductions SP
                             or DCP (114 transactions) - Created for use in the
                             File layout</xsd:documentation>
          <xsd:documentation>OD_TRANS_DT is a date.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date">
          <xsd:pattern value="(\d{4}-\d{2}-\d{2})"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="RECORD_NAME_TypeDef">
        <xsd:annotation>
          <xsd:documentation>RECORD_NAME is a character of length 18. Allows
                             Uppercase characters including numbers</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18"/>
          <xsd:whiteSpace value="preserve"/>
          <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PROCESS_STATUS_TypeDef">
        <xsd:annotation>
          <xsd:documentation>PROCESS_STATUS is a character of length 1. Allows
                             Uppercase characters including numbers</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1"/>
          <xsd:whiteSpace value="preserve"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PROCESS_DATE_TypeDef">
        <xsd:annotation>
          <xsd:documentation>PROCESS_DATE is a date.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date">
          <xsd:pattern value="(\d{4}-\d{2}-\d{2})"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="PSCAMAMsgDataRecord_TypeShape">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="LANGUAGE_CD"
                       type="LANGUAGE_CD_TypeShape"/>
          <xsd:element minOccurs="0" name="AUDIT_ACTN"
                       type="AUDIT_ACTN_TypeShape"/>
          <xsd:element minOccurs="0" name="BASE_LANGUAGE_CD"
                       type="BASE_LANGUAGE_CD_TypeShape"/>
          <xsd:element minOccurs="0" name="MSG_SEQ_FLG"
                       type="MSG_SEQ_FLG_TypeShape"/>
          <xsd:element minOccurs="0" name="PROCESS_INSTANCE"
                       type="PROCESS_INSTANCE_TypeShape"/>
          <xsd:element minOccurs="0" name="PUBLISH_RULE_ID"
                       type="PUBLISH_RULE_ID_TypeShape"/>
          <xsd:element minOccurs="0" name="MSGNODENAME"
                       type="MSGNODENAME_TypeShape"/>
        </xsd:sequence>
        <xsd:attribute fixed="R" name="class" type="xsd:string" use="required"/>
      </xsd:complexType>
      <xsd:complexType name="LANGUAGE_CD_TypeShape">
        <xsd:simpleContent>
          <xsd:extension base="LANGUAGE_CD_TypeDef">
            <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="AUDIT_ACTN_TypeShape">
        <xsd:simpleContent>
          <xsd:extension base="AUDIT_ACTN_TypeDef">
            <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="BASE_LANGUAGE_CD_TypeShape">
        <xsd:simpleContent>
          <xsd:extension base="BASE_LANGUAGE_CD_TypeDef">
            <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MSG_SEQ_FLG_TypeShape">
        <xsd:simpleContent>
          <xsd:extension base="MSG_SEQ_FLG_TypeDef">
            <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="PROCESS_INSTANCE_TypeShape">
        <xsd:simpleContent>
          <xsd:extension base="PROCESS_INSTANCE_TypeDef">
            <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="PUBLISH_RULE_ID_TypeShape">
        <xsd:simpleContent>
          <xsd:extension base="PUBLISH_RULE_ID_TypeDef">
            <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MSGNODENAME_TypeShape">
        <xsd:simpleContent>
          <xsd:extension base="MSGNODENAME_TypeDef">
            <xsd:attribute name="IsChanged" type="xsd:string" use="optional"/>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="LANGUAGE_CD_TypeDef">
        <xsd:annotation>
          <xsd:documentation>Language Code</xsd:documentation>
          <xsd:documentation>LANGUAGE_CD is a character of length 3. Allows
                             Uppercase characters including numbers</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
          <xsd:whiteSpace value="preserve"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="AUDIT_ACTN_TypeDef">
        <xsd:annotation>
          <xsd:documentation>Audit Action Code for Application Messages. This
                             tells the subscriber whether the row has been
                             added, changed, or deleted.</xsd:documentation>
          <xsd:documentation>AUDIT_ACTN is a character of length 1. Allows
                             Uppercase characters including numbers</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1"/>
          <xsd:whiteSpace value="preserve"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="BASE_LANGUAGE_CD_TypeDef">
        <xsd:annotation>
          <xsd:documentation>BASE_LANGUAGE_CD is a character of length 3. Allows
                             Uppercase characters including numbers</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
          <xsd:whiteSpace value="preserve"/>
          <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MSG_SEQ_FLG_TypeDef">
        <xsd:annotation>
          <xsd:documentation>MSG_SEQ_FLG is a character of length 1. Allows
                             Uppercase characters including numbers</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1"/>
          <xsd:whiteSpace value="preserve"/>
          <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PROCESS_INSTANCE_TypeDef">
        <xsd:annotation>
          <xsd:documentation>Process Instance</xsd:documentation>
          <xsd:documentation>PROCESS_INSTANCE is a number of length 10 with a
                             decimal position of 0</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
          <xsd:totalDigits value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PUBLISH_RULE_ID_TypeDef">
        <xsd:annotation>
          <xsd:documentation>Publish Rule ID</xsd:documentation>
          <xsd:documentation>PUBLISH_RULE_ID is a character of length 30. Allows
                             Uppercase characters including numbers</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30"/>
          <xsd:whiteSpace value="preserve"/>
          <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MSGNODENAME_TypeDef">
        <xsd:annotation>
          <xsd:documentation>Application Message Node Name. Name of the
                             Application Message Node Definition.</xsd:documentation>
          <xsd:documentation>MSGNODENAME is a character of length 30. Allows
                             Uppercase characters including numbers</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30"/>
          <xsd:whiteSpace value="preserve"/>
          <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OD_EMPDATA_ASYNC_SUB.V2">
    <wsdl:documentation>Emp data Async</wsdl:documentation>
    <wsdl:part element="OD_EMPDATA_ASYNC_SUB.V2:OD_EMPDATA_ASYNC_SUB"
               name="parameter"/>
  </wsdl:message>
  <wsdl:portType name="OD_EMPDATA_ASYNC_PortType">
    <wsdl:operation name="OD_EMPDATA_CALLBACK">
      <wsdl:documentation>Call back service for Empl syn</wsdl:documentation>
      <wsdl:input message="tns:OD_EMPDATA_ASYNC_SUB.V2"
                  name="OD_EMPDATA_ASYNC_SUB.V2"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OD_EMPDATA_ASYNC_Binding"
                type="tns:OD_EMPDATA_ASYNC_PortType">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OD_EMPDATA_CALLBACK">
      <soap:operation soapAction="OD_EMPDATA_CALLBACK.v1" style="document"/>
      <wsp:Policy wsu:Id="UsernameTokenSecurityPolicyPasswordOptional"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <wsp:ExactlyOne>
          <wsp:All>
            <wsse:SecurityToken wsp:Usage="wsp:Required"
                                xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
              <wsse:TokenType>wsse:UserNameToken</wsse:TokenType>
              <Claims>
                <SubjectName MatchType="wsse:Exact"/>
                <UsePassword wsp:Usage="wsp:Optional"/>
              </Claims>
            </wsse:SecurityToken>
          </wsp:All>
        </wsp:ExactlyOne>
      </wsp:Policy>
      <wsdl:input name="OD_EMPDATA_ASYNC_SUB.V2">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OD_EMPDATA_ASYNC">
    <wsdl:documentation>Employee Data Integration</wsdl:documentation>
    <wsdl:port binding="tns:OD_EMPDATA_ASYNC_Binding"
               name="OD_EMPDATA_ASYNC_Port">
      <soap:address location="https://pshrdev.na.odcorp.net/PSIGW/PeopleSoftServiceListeningConnector/OD_EMPDATA_ASYNC.1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>