Trunk/xxptp/bpel/I0236_PriceList/I0236_PriceList_EBS_In/bpel/APPS_BPEL_PLPRICELISTPROCESS_XX_QP_PRICELIST_PKG-24CREATE_PR_1183020857834.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/APPS/BPEL_PLPRICELISTPROCESS/XX_QP_PRICELIST_PKG-24CREATE_PR/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/APPS/BPEL_PLPRICELISTPROCESS/XX_QP_PRICELIST_PKG-24CREATE_PR/">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_OD_PRICE_LIST_REC_TYPE" type="db:XX_QP_PRICELIST_PKG_OD_PRICE_" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="X_MESSAGE_CODE" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="X_MESSAGE_DATA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="XX_QP_PRICELIST_PKG_OD_PRICE_">
      <sequence>
         <element name="OPERATINGUNIT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OPERATIONH" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OPERATIONL" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OPERATIONA" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DESCRIPTION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2000"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CURRENCY_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ROUNDING_FACTOR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ACTIVE_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE6" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE7" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LANGUAGEH" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRODUCT_ATTR_VALUE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="START_DATE_ACTIVEH" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="END_DATE_ACTIVEH" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="START_DATE_ACTIVEL" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="END_DATE_ACTIVEL" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="OPERAND" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRODUCT_UOM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT6" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT7" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT8" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT9" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT10" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT11" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT12" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT13" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT14" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT15" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT16" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MULTI_UNIT_RTL1" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MULTI_UNIT_RTL2" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MULTI_UNIT_RTL3" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MULTI_UNIT_RTL4" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MULTI_UNIT_RTL5" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MULTI_UNIT_RTL6" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MULTI_UNIT_RTL7" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MULTI_UNIT_RTL8" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MULTI_UNIT_RTL9" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MULTI_UNIT_RTL10" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MULTI_UNIT_RTL11" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MULTI_UNIT_RTL12" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MULTI_UNIT_RTL13" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MULTI_UNIT_RTL14" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MULTI_UNIT_RTL15" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MULTI_UNIT_RTL16" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRODUCT_PRECEDENCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PUBLISHSTATUSCODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="SOURCEAPPLID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PRICE_BY_FORMULA_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
</schema>
