Trunk/xxfin/bpel/PostGLSIStgTableInsert/bpel/PostGLSIStgTableInsert.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/PostGLSIStgTableInsert"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="PostGLSIStgTableInsertProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="PostGLSIStgTableInsertProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>