bpel/ProcessCEStoreBankDeposits/bpel/ProcessCEStoreBankDeposits.wsdl

<definitions
     name="ProcessCEStoreBankDeposits"
     targetNamespace="http://xmlns.oracle.com/ProcessCEStoreBankDeposits"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://schemas.oracle.com/service/bpel/common"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns2="http://xmlns.oracle.com/PostJournalEntry"
     xmlns:client="http://xmlns.oracle.com/ProcessCEStoreBankDeposits"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/ProcessCEStoreBankDeposits" schemaLocation="ProcessCEStoreBankDeposits.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="params.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/PostJournalEntry" schemaLocation="FileHeader.xsd"/>
        </xsd:schema>
    </types>
    <message name="ProcessCEStoreBankDepositsResponseMessage">
        <part name="payload" element="client:ProcessCEStoreBankDepositsProcessResponse"/>
    </message>
    <message name="ProcessCEStoreBankDepositsRequestMessage">
        <part name="payload" element="ns2:fileHeader"/>
    </message>
    <portType name="ProcessCEStoreBankDeposits">
        <operation name="initiate">
            <input message="client:ProcessCEStoreBankDepositsRequestMessage"/>
        </operation>
    </portType>
    <portType name="ProcessCEStoreBankDepositsCallback">
        <operation name="onResult">
            <input message="client:ProcessCEStoreBankDepositsResponseMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="ProcessCEStoreBankDeposits">
        <plnk:role name="ProcessCEStoreBankDepositsProvider">
            <plnk:portType name="client:ProcessCEStoreBankDeposits"/>
        </plnk:role>
        <plnk:role name="ProcessCEStoreBankDepositsRequester">
            <plnk:portType name="client:ProcessCEStoreBankDepositsCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
