soa/PeopleSoftUpgrade/SyncSupplier/SynchSupplierGSSProvABCS/xsd/Supplier.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://TargetNamespace.com/ServiceSupplierFileRead"
            xmlns:tns="http://TargetNamespace.com/ServiceSupplierFileRead"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified" nxsd:encoding="ASCII" nxsd:stream="chars" nxsd:version="NXSD">
  <xsd:element name="Root-Element">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Supplier" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="System" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Global_Vendor_Id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Vendor_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Vendor_Site_Id" type="xsd:double" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Vendor_Site_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Address_Flag" type="xsd:double" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Inactive_Date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Invoice_Currency" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Lang" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Pay_Site_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Purchase_Site_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Terms" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Freight_Terms" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Debit_Memo_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="DUNNS_No" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Parent_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Parent_Id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Tax_Registeration_No" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_Pay_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_Purchase_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_Pay_Purch_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_RTV_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_Pay_Phone" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_Purch_Phone" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_Pay_Purch_Phone" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_RTV_Phone" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_Pay_Fax" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contcat_Purch_Fax" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_Pay_Purch_Fax" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_RTV_Fax" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_Pay_Email" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_Purch_Email" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_Pay_Purch_Email" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_RTV_Email" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Pay_Address1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Pay_Address2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Pay_Address3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Pay_City" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Pay_State" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Pay_Zip" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Pay_Country" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Purch_Address1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Purch_Address2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Purch_Address3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Purch_City" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Purch_State" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Purch_Zip" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Purch_Country" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Pay_Purch_Address1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Pay_Purch_Address2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Pay_Purch_Address3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Pay_Purch_City" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Pay_Purch_State" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Pay_Purch_Zip" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Pay_Purch_Country" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_RTV_Address1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_RTV_Address2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_RTV_Address3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_RTV_City" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_RTV_State" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_RTV_Zip" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_RTV_Country" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Primary_PaySite_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Site_Category" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Bank_Account_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Bank_Account_No" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Lead_Time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Back_Order_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Delivery_Policy" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Min_Prepaid_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Vendor_Min_Amount" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Supplier_Ship_To" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Inventory_Type_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Vertical_Market_Indicator" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Allow_Auto_Receipt" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Handling" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="EFT_Settle_Days" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Split_File_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Master_Vendor_Id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="PI_Pack_Year" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="OD_Date_Signed" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Vendor_Date_Signed" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Deduct_From_Invoice_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="New_Store_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="New_Store_Terms" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Seasonal_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Start_Date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="End_Date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Seasonal_Terms" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Late_Ship_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="EDI_Distribution_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="X_850_PO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="X_860_PO_Change" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="X_855_Confirm_PO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="X_856_ASN" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="X_846_Availibility" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="X_810_Invoice" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="X_832_Price_Sales_Cat" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="X_820_EFT" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="X_861_Damage_Shortage" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="X_852_Sales" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="RTV_Option" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="RTV_Freight_Payment_Method" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Permanent_RGA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Destroy_Allow_Amount" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Payment_Frequency" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Min_Return_Qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Min_Return_Amount" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Damage_Destroy_Limit" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="RTV_Instructions" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="ADDL_RTV_Instructions" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="RGA_Marked_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Remove_Price_Sticker_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Contact_Supplier_RGA_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Destroy_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Serial_Num_Required_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Obsolete_Item" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Obsolete_Allowance_PCT" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Obsolete_Allowance_Days" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
               <xsd:element name="RTV_Related_Site" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Manufacturing_Site_Id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Buying_Agent_Site_Id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
              <xsd:element name="Freight_Forwarder_Site_Id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
              </xsd:element>
             <xsd:element name="Ship_From_Port_Id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
             </xsd:element>
             <xsd:element name="Minority_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=";">
             </xsd:element>
             <xsd:element name="Minority_Category_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}">
             </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
<!--NXSDWIZ:C:\Office Depot\Sandeep\SyncSupplierRMS_28JUN07_053110.txt:-->
<!--USE-HEADER:false:-->