soa/PeopleSoftUpgrade/SyncSupplier/SynchSupplierGSSProvABCS/xsd/TriggerSupplierSynchEBizProvABCSImpl.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/VendorSynch/SynchSupplierFileEbizProvABCS/TriggerSupplierSynchEBizProvABCSImpl"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="SupplierFileNotificationDetails">
        <complexType>
            <sequence>
                <element name="filename" type="string"/>
                <element name="directory" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="processResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>
