Trunk/xxom/bpel/ServiceB2BOutbound/bpel/ServiceB2BOutbound.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ServiceB2BOutbound"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ServiceB2BOutboundProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ServiceB2BOutboundProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>