bpel/archive/CE_StoreBankDeposits_Upload/bpel/SyncFileRead.wsdl

<definitions
     name="SyncFileRead"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/SyncFileRead/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/ftp/SyncFileRead/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:imp1="http://TargetNamespace.com/FTPGetStoreBankDeposits"
     xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/ftp/"
    >
    <import namespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/" location="ftpAdapterOutboundHeader.wsdl"/>
    <types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/SyncFileRead/"
              xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://TargetNamespace.com/FTPGetStoreBankDeposits" schemaLocation="StoreBankDeposit_CPYBK_3.xsd" />
        <element name="empty"><complexType/></element>
      </schema>
    </types>
    <message name="Empty_msg">
        <part name="Empty" element="tns:empty"/>
    </message>
    <message name="Root-Element_msg">
        <part name="Root-Element" element="imp1:Root-Element"/>
    </message>
    <portType name="SynchGet_ptt">
        <operation name="SynchGet">
            <input message="tns:Empty_msg"/>
            <output message="tns:Root-Element_msg"/>
        </operation>
    </portType>
    <binding name="SynchGet_binding" type="tns:SynchGet_ptt">
    <jca:binding  />
        <operation name="SynchGet">
      <jca:operation
          FileType="binary"
          LogicalDirectory="Inbound_Path"
          InteractionSpec="oracle.tip.adapter.ftp.outbound.FTPReadInteractionSpec"
          LogicalArchiveDirectory="Archive_Path"
          DeleteFile="true"
          FileName="Dummy"
          OpaqueSchema="false" >
      </jca:operation>
      <input>
        <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
      </input>
        </operation>
    </binding>
    <service name="SyncFileRead">
        <port name="SynchGet_pt" binding="tns:SynchGet_binding">
      <jca:address location="eis/ftp/EBSCentralExternal" />
        </port>
    </service>
  <plt:partnerLinkType name="SynchGet_plt" >
    <plt:role name="SynchGet_role" >
      <plt:portType name="tns:SynchGet_ptt" />
    </plt:role>
  </plt:partnerLinkType>
</definitions>
