bpel/SyncSupplierData_EBS_Out/bpel/ServicePeopleSoftTableInsertUpdate_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ServicePeopleSoftTableInsertUpdate" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ServicePeopleSoftTableInsertUpdate" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxApPsVendorCollection" type="XxApPsVendorCollection"/>
   <xs:complexType name="XxApPsVendorCollection">
      <xs:sequence>
         <xs:element name="XxApPsVendor" type="XxApPsVendor" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxApPsVendor">
      <xs:sequence>
         <xs:element name="setid">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vendorId">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vendorNameShort" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="42"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vndrNameShrtUsr" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vndrNameSeqNum" type="xs:decimal" minOccurs="0"/>
         <xs:element name="name1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="120"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="name2" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="120"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vendorStatus" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vendorClass" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vendorPersistence" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="remitAddrSeqNum" type="xs:decimal" minOccurs="0"/>
         <xs:element name="primAddrSeqNum" type="xs:decimal" minOccurs="0"/>
         <xs:element name="addrSeqNumOrdr" type="xs:decimal" minOccurs="0"/>
         <xs:element name="remitSetid" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="remitVendor" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="corporateSetid" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="corporateVendor" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="custSetid" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="custId" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="45"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="enteredBy" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="90"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="arNum" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="45"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="oldVendorId" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="45"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="wthdSw" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vatSw" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vndrStatusPo" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="remitLoc" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="defaultLoc" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="name1Ac" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="120"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="name2Ac" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="120"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="primaryVendor" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="lastActivityDt" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="withholdLoc" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="inProcessFlg" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="processInstance" type="xs:int" minOccurs="0"/>
         <xs:element name="hubZone" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="eeoCertifDt" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="hrmsClass" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="xxApPsVendorAddrCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="XxApPsVendorAddr" type="XxApPsVendorAddr" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="xxApPsVendorLocCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="XxApPsVendorLoc" type="XxApPsVendorLoc" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="xxApPsVndrAddrScrolCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="XxApPsVndrAddrScrol" type="XxApPsVndrAddrScrol" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="xxApPsVndrLocScrolCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="XxApPsVndrLocScrol" type="XxApPsVndrLocScrol" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxApPsVendorAddr">
      <xs:sequence>
         <xs:element name="addressSeqNum" type="xs:decimal" minOccurs="0"/>
         <xs:element name="effdt" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="effStatus" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="name1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="120"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="name2" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="120"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="emailid" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="210"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="country" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="address1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="165"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="address2" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="165"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="address3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="165"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="address4" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="165"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="city" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="90"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="num1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="18"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="num2" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="18"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="houseType" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addrField1" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addrField2" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addrField3" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="county" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="90"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="state" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="18"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="postal" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="36"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="geoCode" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="33"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="inCityLimit" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxApPsVendorLoc">
      <xs:sequence>
         <xs:element name="vndrLoc" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="effdt" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="effStatus" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="currencyCd" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="curRtType" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="freightTerms" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="shipTypeId" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="dispMethod" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="pymntTermsCd" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="matchCntrlId" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="matchOpt" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ersAction" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ersFlag" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vchrApprvlFlg" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="busprocname" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="90"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="apprRuleSet" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="90"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vatDclrtnPoint" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vatCalcType" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vatTxnTypeCd" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vatTolFlg" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vatTolPct" type="xs:decimal" minOccurs="0"/>
         <xs:element name="vatTolAmt" type="xs:decimal" minOccurs="0"/>
         <xs:element name="vatTolCurCd" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vatTolRtType" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vatUseId" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="18"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="buyerId" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="90"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="remitSetid" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="remitVendor" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="remitLoc" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="remitAddrSeqNum" type="xs:decimal" minOccurs="0"/>
         <xs:element name="addrSeqNumOrdr" type="xs:decimal" minOccurs="0"/>
         <xs:element name="priceSetid" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="priceVendor" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="priceLoc" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="returnVendor" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="retAddrSeqNum" type="xs:decimal" minOccurs="0"/>
         <xs:element name="dstCntrlId" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="preferredLanguage" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rfqDispMthd" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="primaryVendor" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="primAddrSeqNum" type="xs:decimal" minOccurs="0"/>
         <xs:element name="shiptoId" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="sutBaseId" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="saletxTolAmt" type="xs:decimal" minOccurs="0"/>
         <xs:element name="saletxTolCurCd" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="saletxTolPct" type="xs:decimal" minOccurs="0"/>
         <xs:element name="saletxTolRtType" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="saletxCdErs" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="salesUseTxFlg" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="autoAsnFlg" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="saletxTolFlg" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="shipLocFlg" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="wthdCd" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="docType" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="24"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="docTypeFlg" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rtvDispatchMeth" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rtvNotifyMeth" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rtvDebitOpt" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vndrSbiFlg" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="sbiApprovalFlg" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="account" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="altacct" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="operatingUnit" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="24"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="deptid" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="product" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="18"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="projectId" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="45"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="affiliate" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="consignedFlag" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vchrConsignOpt" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ersInvDtOpt" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="bankAcctSeqNbr" type="xs:decimal" minOccurs="0"/>
         <xs:element name="acctTemplFlg" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="payTrmBseDtDft" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="recvOnlyMtchFlg" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vchrMtchAdjDflt" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ersInvDtDflt" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ersTaxTypeDflt" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ersTaxCdOpt" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="lastSbiNum" type="xs:int" minOccurs="0"/>
         <xs:element name="sbiDocDflt" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vchrTaxAdjDft" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rtvVchrAdjDflt" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vatSuspensionFlg" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vatRoundRule" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="comments2000" type="xs:string" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxApPsVndrAddrScrol">
      <xs:sequence>
         <xs:element name="addressSeqNum" type="xs:decimal" minOccurs="0"/>
         <xs:element name="descr" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="90"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vndrAddressType" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxApPsVndrLocScrol">
      <xs:sequence>
         <xs:element name="vndrLoc" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="descr" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="90"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>