bpel/ServiceB2BInboundCommentUpdate/bpel/B2BSRCommentUpdate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" 
             xmlns:extn="http://xmlns.oracle.com/pcbpel/nxsd/extensions" 
             targetNamespace="http://TargetNamespace.com/serviceB2BInboundCommentUpdate" 
             xmlns:tns="http://TargetNamespace.com/serviceB2BInboundCommentUpdate" 
            elementFormDefault="qualified">
	<xsd:element name="serviceRequestCommentUpdate">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="vendor" type="xsd:string"/>
				<xsd:element name="serviceRequestNo" type="xsd:string"/>
				<xsd:element name="serviceRequestComments" type="xsd:string" minOccurs="0" />
				<xsd:element name="attribute1" type="xsd:string" minOccurs="0" />
				<xsd:element name="attribute2" type="xsd:string" minOccurs="0" />
				<xsd:element name="attribute3" type="xsd:string" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
</xsd:schema>
