bpel/ServiceB2BInboundCommentUpdate/bpel/B2BVendorSRCommentUpdateResponse.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/B2bVendorSRUpdate"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="B2bVendorSRUpdateProcessResponse">
		<complexType>
			<sequence>
				<!--<element name="result" type="string"/> -->
                                <element name="ReturnCode" type="string"/> 
                                <element name="ReturnMsg" type="string" />
			</sequence>
		</complexType>
	</element>
</schema>