xxfin/bpel/StoreMailCheck/bpel/StoreMailCheck.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/StoreMailCheck"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="StoreMailCheckProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="StoreMailCheckProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>