Trunk/xxptp/bpel/I1308_OrgCreationProcess/I1308_OrgCreationProcess_EBS_In/bpel/I1308_OrgCreationProcess_EBS_In.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/I1308_OrgCreationProcess_EBS_In"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="I1308_OrgCreationProcess_EBS_InProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="I1308_OrgCreationProcess_EBS_InProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>