xxfin/bpel/BPELBatchManagerInvokeESP/bpel/BatchManager.wsdl

<?xml version="1.0"?>

<!-- 
  Interface to be implemented by a Batch Manager BPEL Process in order
  to receive Batch events from an Inbound Resource Adapter, if the
  following bpel.xml Activation property has been defined:

      <property name="batchNotificationHandler">
          bpel://domain|process-name
      </property>
-->

<definitions name="BatchManagerInterface"
        targetNamespace="http://xmlns.oracle.com/pcbpel/batching"
        xmlns:tns="http://xmlns.oracle.com/pcbpel/batching"
        xmlns:batch="http://xmlns.oracle.com/pcbpel/batching/types"
        xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        >
  <import namespace="http://schemas.oracle.com/bpel/extension" location="RuntimeFault.wsdl"/>       
  <types>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" 
            targetNamespace="http://xmlns.oracle.com/pcbpel/batching/types"
            xmlns:tns="http://xmlns.oracle.com/pcbpel/batching/types"
            xmlns="http://www.w3.org/2001/XMLSchema">

      <element name="batchReadInitiateElement"
               type="tns:batchReadInitiateType"/>

      <complexType name="batchReadInitiateType">
        <sequence>
          <element name="batchId" type="string"/>
          <element name="batchMetaData" type="string"/>
          <element name="batchDescription" type="string"/>
          <element name="process" type="string"/>
          <element name="domain" type="string"/>
        </sequence>
      </complexType>

      <element name="batchReadCompleteElement"
               type="tns:batchReadCompleteType"/>

      <complexType name="batchReadCompleteType">
        <sequence>
          <element name="batchId" type="string"/>
          <element name="batchMetaData" type="string"/>
          <element name="batchDescription" type="string"/>
          <element name="batchExpectedSize" type="long"/>
          <element name="process" type="string"/>
          <element name="domain" type="string"/>
        </sequence>
      </complexType>

      <element name="batchProcessCompleteElement"
               type="tns:batchProcessCompleteType"/>

      <complexType name="batchProcessCompleteType">
        <sequence>
          <element name="batchId" type="string"/>
          <element name="batchMetaData" type="string"/>
          <element name="batchDescription" type="string"/>
          <element name="batchFinalSize" type="long"/>
          <element name="process" type="string"/>
          <element name="domain" type="string"/>
        </sequence>
      </complexType>

      <element name="batchReadFailureElement"
               type="tns:batchReadFailureType"/>

      <complexType name="batchReadFailureType">
        <sequence>
          <element name="batchId" type="string"/>
          <element name="batchMetaData" type="string"/>
          <element name="batchDescription" type="string"/>
          <element name="batchPartialSize" type="long"/>
          <element name="process" type="string"/>
          <element name="domain" type="string"/>
        </sequence>
      </complexType>

    </schema>
  </types>

  <message name="batchReadInitiateMessage">
    <part name="event" element="batch:batchReadInitiateElement"/>
  </message>

  <message name="batchReadCompleteMessage">
    <part name="event" element="batch:batchReadCompleteElement"/>
  </message>

  <message name="batchProcessCompleteMessage">
    <part name="event" element="batch:batchProcessCompleteElement"/>
  </message>

  <message name="batchReadFailureMessage">
    <part name="event" element="batch:batchReadFailureElement"/>
  </message>


  <!-- portType implemented by the BatchManagerInterface BPEL process -->

  <portType name="BatchManagerInterface">

    <operation name="onBatchReadStart">
      <input message="tns:batchReadInitiateMessage"/>
    </operation>

    <operation name="onBatchReadComplete">
      <input message="tns:batchReadCompleteMessage"/>
    </operation>

    <operation name="onBatchProcessComplete">
      <input message="tns:batchProcessCompleteMessage"/>
    </operation>

    <operation name="onBatchReadFailure">
      <input message="tns:batchReadFailureMessage"/>
    </operation>

  </portType>


  <!-- PartnerLinkType definition -->

  <plnk:partnerLinkType name="BatchManagerInterfacePartnerLinkType">
    <plnk:role name="BatchManagerInterfaceRole">
      <plnk:portType name="tns:BatchManagerInterface"/>
    </plnk:role>
  </plnk:partnerLinkType>   

</definitions>

