Trunk/xxfin/bpel/ProcessAJBFiles/bpel/ProcessAJBFiles.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ProcessAJBFiles"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ProcessAJBFilesProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ProcessAJBFilesProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>