bpel/StoreMailCheck/bpel/StoreMailCheck.wsdl

<definitions
     name="StoreMailCheck"
     targetNamespace="http://xmlns.oracle.com/StoreMailCheck"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://schemas.oracle.com/service/bpel/common"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.oracle.com/StoreMailCheck"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/StoreMailCheck" schemaLocation="StoreMailCheck.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://schemas.oracle.com/service/bpel/common" schemaLocation="params.xsd"/>
        </xsd:schema>
    </types>
    <message name="StoreMailCheckRequestMessage">
        <part name="payload" element="client:StoreMailCheckProcessRequest"/>
    </message>
    <message name="StoreMailCheckResponseMessage">
        <part name="payload" element="client:StoreMailCheckProcessResponse"/>
    </message>
    <portType name="StoreMailCheck">
        <operation name="initiate">
            <input message="client:StoreMailCheckRequestMessage"/>
        </operation>
    </portType>
    <portType name="StoreMailCheckCallback">
        <operation name="onResult">
            <input message="client:StoreMailCheckResponseMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="StoreMailCheck">
        <plnk:role name="StoreMailCheckProvider">
            <plnk:portType name="client:StoreMailCheck"/>
        </plnk:role>
        <plnk:role name="StoreMailCheckRequester">
            <plnk:portType name="client:StoreMailCheckCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
