Trunk/xxptp/bpel/I1106-1_PixTransactionsProcess/bpel/I1106_Dequeueing_Msg_Structure.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--Native format was generated from COBOL copybook : C:\Documents and Settings\aandavar\Desktop\From Jerry\JerrysMsg.cob-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:extn="http://xmlns.oracle.com/pcbpel/nxsd/extensions" targetNamespace="http://TargetNamespace.com/plDQPixTransactionProcess" xmlns:tns="http://TargetNamespace.com/plDQPixTransactionProcess" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:encoding="cp037" nxsd:byteOrder="bigEndian" nxsd:stream="bytes">
   <xsd:element name="Root-Element">
      <xsd:complexType>
         <xsd:sequence>
            <!--COBOL declaration : 01 GIMQTRN-RECORD-->
            <xsd:element name="GIMQTRN-RECORD" minOccurs="1" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <!--COBOL declaration : 10 GIMQTRN-FILE-KEY-->
                     <xsd:element name="GIMQTRN-FILE-KEY">
                        <xsd:complexType>
                           <xsd:sequence>
                              <!--COBOL declaration : 15 GIMQTRN-LOC-ID PIC 9(006)-->
                              <xsd:element name="GIMQTRN-LOC-ID" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="6"/>
                              <!--COBOL declaration : 15 GIMQTRN-DOC-NBR PIC 9(009)-->
                              <xsd:element name="GIMQTRN-DOC-NBR" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="9"/>
                              <!--COBOL declaration : 15 GIMQTRN-KEYREC PIC 9(009)-->
                              <xsd:element name="GIMQTRN-KEYREC" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="9"/>
                              <!--COBOL declaration : 15 GIMQTRN-SEQ PIC 9(006)-->
                              <xsd:element name="GIMQTRN-SEQ" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="6"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <!--COBOL declaration : 10 GIMQTRN-FILE-HEADER-->
                     <xsd:element name="GIMQTRN-FILE-HEADER">
                        <xsd:complexType>
                           <xsd:sequence>
                              <!--COBOL declaration : 15 GIMQTRN-ORIGIN-CD PIC X(002)-->
                              <xsd:element name="GIMQTRN-ORIGIN-CD" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/>
                              <!--COBOL declaration : 15 GIMQTRN-TRAN-CODE PIC X(004)-->
                              <xsd:element name="GIMQTRN-TRAN-CODE" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="4"/>
                              <!--COBOL declaration : 15 GIMQTRN-REASON-CD PIC X(002)-->
                              <xsd:element name="GIMQTRN-REASON-CD" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/>
                              <!--COBOL declaration : 15 GIMQTRN-SUB-CODE PIC X(002)-->
                              <xsd:element name="GIMQTRN-SUB-CODE" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/>
                              <!--COBOL declaration : 15 GIMQTRN-ACTIVITY-DT PIC X(010)-->
                              <xsd:element name="GIMQTRN-ACTIVITY-DT" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="10"/>
                              <!--COBOL declaration : 15 GIMQTRN-ACTIVITY-TM PIC X(010)-->
                              <xsd:element name="GIMQTRN-ACTIVITY-TM" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="10"/>
                              <!--COBOL declaration : 15 GIMQTRN-USER-ID-ENT-BY PIC X(010)-->
                              <xsd:element name="GIMQTRN-USER-ID-ENT-BY" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="10"/>
                              <!--COBOL declaration : 15 GIMQTRN-TO-LOC-ID PIC 9(006)-->
                              <xsd:element name="GIMQTRN-TO-LOC-ID" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="6"/>
                              <!--COBOL declaration : 15 GIMQTRN-VENDOR-ID PIC 9(009)-->
                              <xsd:element name="GIMQTRN-VENDOR-ID" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="9"/>
                              <!--COBOL declaration : 15 GIMQTRN-TARGET-TRAN-TYPE-CD PIC X(020)-->
                              <xsd:element name="GIMQTRN-TARGET-TRAN-TYPE-CD" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="20"/>
                              <!--COBOL declaration : 15 GIMQTRN-SOURCE-CD PIC X(030)-->
                              <xsd:element name="GIMQTRN-SOURCE-CD" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="30"/>
                              <!--COBOL declaration : 15 GIMQTRN-ADJ-HEADER-->
                              <xsd:element name="GIMQTRN-ADJ-HEADER">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <!--COBOL declaration : 20 GIMQTRN-ADJ-COMMENTS PIC X(120)-->
                                       <xsd:element name="GIMQTRN-ADJ-COMMENTS" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="120"/>
                                       <!--COBOL declaration : 20 GIMQTRN-ADJ-TYPE-CD PIC X(002)-->
                                       <xsd:element name="GIMQTRN-ADJ-TYPE-CD" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/>
                                       <!--COBOL declaration : 20 GIMQTRN-ADJ-STATUS-CD PIC X(002)-->
                                       <xsd:element name="GIMQTRN-ADJ-STATUS-CD" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/>
                                       <!--COBOL declaration : 20 GIMQTRN-ADJ-REF-EXP-ADJ-NBR PIC 9(009)-->
                                       <xsd:element name="GIMQTRN-ADJ-REF-EXP-ADJ-NBR" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="9"/>
                                       <!--COBOL declaration : 20 GIMQTRN-ADJ-GL-LOC PIC X(005)-->
                                       <xsd:element name="GIMQTRN-ADJ-GL-LOC" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="5"/>
                                       <!--COBOL declaration : 20 GIMQTRN-ADJ-COST-CENTER PIC X(002)-->
                                       <xsd:element name="GIMQTRN-ADJ-COST-CENTER" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/>
                                       <!--COBOL declaration : 20 GIMQTRN-ADJ-REF-DATA PIC X(060)-->
                                       <xsd:element name="GIMQTRN-ADJ-REF-DATA" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="60"/>
                                       <!--COBOL declaration : 20 GIMQTRN-ADJ-ADJ-NBR PIC 9(010)-->
                                       <xsd:element name="GIMQTRN-ADJ-ADJ-NBR" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="10"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <!--COBOL declaration : 15 GIMQTRN-STR-HEADER-->
                              <xsd:element name="GIMQTRN-STR-HEADER">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <!--COBOL declaration : 20 GIMQTRN-STR-COMMENTS PIC X(050)-->
                                       <xsd:element name="GIMQTRN-STR-COMMENTS" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="50"/>
                                       <!--COBOL declaration : 20 GIMQTRN-STR-CARTON-CNT PIC 9(009)-->
                                       <xsd:element name="GIMQTRN-STR-CARTON-CNT" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="9"/>
                                       <!--COBOL declaration : 20 GIMQTRN-STR-STATUS-CD PIC X(002)-->
                                       <xsd:element name="GIMQTRN-STR-STATUS-CD" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/>
                                       <!--COBOL declaration : 20 GIMQTRN-STR-STD-PACK-QTY PIC 9(005)-->
                                       <xsd:element name="GIMQTRN-STR-STD-PACK-QTY" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="5"/>
                                       <!--COBOL declaration : 20 GIMQTRN-STR-BUYBACK-NBR PIC 9(009)-->
                                       <xsd:element name="GIMQTRN-STR-BUYBACK-NBR" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="9"/>
                                       <!--COBOL declaration : 20 GIMQTRN-STR-TOTAL-COST PIC S9(011)V9(004) SIGN IS LEADING SEPARATE CHARACTER-->
                                       <xsd:element name="GIMQTRN-STR-TOTAL-COST" type="xsd:string" nxsd:style="signZoned" extn:sign="ticked" extn:picSize="15" extn:assumeDecimal="11" extn:signPosn="head"/>
                                       <!--COBOL declaration : 20 GIMQTRN-STR-SHIP-DATE PIC X(010)-->
                                       <xsd:element name="GIMQTRN-STR-SHIP-DATE" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="10"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <!--COBOL declaration : 15 GIMQTRN-RCV-HEADER-->
                              <xsd:element name="GIMQTRN-RCV-HEADER">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <!--COBOL declaration : 20 GIMQTRN-RCV-DISPOSITION-CD PIC X(001)-->
                                       <xsd:element name="GIMQTRN-RCV-DISPOSITION-CD" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="1"/>
                                       <!--COBOL declaration : 20 GIMQTRN-RCV-CARTON-CNT PIC 9(009)-->
                                       <xsd:element name="GIMQTRN-RCV-CARTON-CNT" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="9"/>
                                       <!--COBOL declaration : 20 GIMQTRN-RCV-FREIGHT-CD PIC X(002)-->
                                       <xsd:element name="GIMQTRN-RCV-FREIGHT-CD" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/>
                                       <!--COBOL declaration : 20 GIMQTRN-RCV-FOB-CD PIC X(001)-->
                                       <xsd:element name="GIMQTRN-RCV-FOB-CD" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="1"/>
                                       <!--COBOL declaration : 20 GIMQTRN-RCV-FREIGHT-BILL-NBR PIC X(015)-->
                                       <xsd:element name="GIMQTRN-RCV-FREIGHT-BILL-NBR" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="15"/>
                                       <!--COBOL declaration : 20 GIMQTRN-RCV-CARRIER-ID PIC 9(005)-->
                                       <xsd:element name="GIMQTRN-RCV-CARRIER-ID" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="5"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <!--COBOL declaration : 15 GIMQTRN-RTV-HEADER-->
                              <xsd:element name="GIMQTRN-RTV-HEADER">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <!--COBOL declaration : 20 GIMQTRN-RTV-RGA-NBR PIC X(020)-->
                                       <xsd:element name="GIMQTRN-RTV-RGA-NBR" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="20"/>
                                       <!--COBOL declaration : 20 GIMQTRN-RTV-BUYBACK-NBR PIC 9(009)-->
                                       <xsd:element name="GIMQTRN-RTV-BUYBACK-NBR" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="9"/>
                                       <!--COBOL declaration : 20 GIMQTRN-RTV-COMMENTS PIC X(060)-->
                                       <xsd:element name="GIMQTRN-RTV-COMMENTS" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="60"/>
                                       <!--COBOL declaration : 20 GIMQTRN-RTV-STATUS-CD PIC X(002)-->
                                       <xsd:element name="GIMQTRN-RTV-STATUS-CD" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="2"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <!--COBOL declaration : 15 GIMQTRN-SERIAL-NBR PIC X(020)-->
                              <xsd:element name="GIMQTRN-SERIAL-NBR" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="20"/>
                              <!--COBOL declaration : 15 GIMQTRN-UCC-128-LIC-PLATE PIC X(020)-->
                              <xsd:element name="GIMQTRN-UCC-128-LIC-PLATE" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="20"/>
                              <!--COBOL declaration : 15 GIMQTRN-LICENSE-PLATE PIC X(010)-->
                              <xsd:element name="GIMQTRN-LICENSE-PLATE" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="10"/>
                              <!--COBOL declaration : 15 GIMQTRN-CURRENCY-CD PIC X(010)-->
                              <xsd:element name="GIMQTRN-CURRENCY-CD" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="10"/>
                              <!--COBOL declaration : 15 GIMQTRN-CONV-RATE PIC S9(003)V9(004) SIGN IS LEADING SEPARATE CHARACTER-->
                              <xsd:element name="GIMQTRN-CONV-RATE" type="xsd:string" nxsd:style="signZoned" extn:sign="ticked" extn:picSize="7" extn:assumeDecimal="3" extn:signPosn="head"/>
                              <!--COBOL declaration : 15 GIMQTRN-NBR-LINES PIC 9(009)-->
                              <xsd:element name="GIMQTRN-NBR-LINES" type="xsd:long" nxsd:style="fixedLength" nxsd:padStyle="head" nxsd:paddedBy="0" nxsd:length="9"/>
                              <!--COBOL declaration : 15 GIMQTRN-FILLER PIC X(153)-->
                              <xsd:element name="GIMQTRN-FILLER" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="153"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <!--COBOL declaration : 10 GICMQPUT-DETAIL-ARRAY OCCURS 1000 TIMES-->
                     <xsd:element name="GICMQPUT-DETAIL-ARRAY" minOccurs="1" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <!--COBOL declaration : 15 GIMQTRN-SKU PIC 9(009) COMP-3-->
                              <xsd:element name="GIMQTRN-SKU" type="xsd:long" nxsd:style="comp3" extn:sign="unticked" extn:picSize="9"/>
                              <!--COBOL declaration : 15 GIMQTRN-TRANSACTION-QTY PIC S9(009) COMP-3-->
                              <xsd:element name="GIMQTRN-TRANSACTION-QTY" type="xsd:long" nxsd:style="comp3" extn:sign="ticked" extn:picSize="9"/>
                              <!--COBOL declaration : 15 GIMQTRN-ADJUSTED-QTY PIC S9(009) COMP-3-->
                              <xsd:element name="GIMQTRN-ADJUSTED-QTY" type="xsd:long" nxsd:style="comp3" extn:sign="ticked" extn:picSize="9"/>
                              <!--COBOL declaration : 15 GIMQTRN-COST PIC S9(005)V9(004) COMP-3-->
                              <xsd:element name="GIMQTRN-COST" type="xsd:decimal" extn:assumeDecimal="5" nxsd:style="comp3" extn:sign="ticked" extn:picSize="9"/>
                              <!--COBOL declaration : 15 GIMQTRN-UOM PIC X(004)-->
                              <xsd:element name="GIMQTRN-UOM" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="4"/>
                              <!--COBOL declaration : 15 GIMQTRN-ACT-CD PIC X(001)-->
                              <xsd:element name="GIMQTRN-ACT-CD" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="1"/>
                              <!--COBOL declaration : 15 GIMQTRN-TBL-FILLER PIC X(005)-->
                              <xsd:element name="GIMQTRN-TBL-FILLER" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="5"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
