bpel/archive/GetODSecurityKey/bpel/GetODSecurityKey.wsdl

<definitions
     name="GetODSecurityKey"
     targetNamespace="http://xmlns.oracle.com/GetODSecurityKey"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:client="http://xmlns.oracle.com/GetODSecurityKey"
     xmlns:glval="http://www.officedepot.com/gODSecurity/validation/"
    >
    <import namespace="http://schemas.oracle.com/bpel/extension" location="RuntimeFault.wsdl"/>
    <types>
        <xsd:schema targetNamespace="http://www.officedepot.com/gODSecurity/validation/" xmlns="http://www.officedepot.com/gODSecurity/validation/"
             xmlns:od="http://www.officedepot.com/GetOdSecurity/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:element name="GetOdSecurityRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="MODULE_NAME" type="xsd:string"/>
                        <xsd:element name="KEY_LABEL" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetOdSecurityResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="KEY_VALUE" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="GetODSecurityKeyRequestMessage">
        <part name="input" element="glval:GetOdSecurityRequest"/>
    </message>
    <message name="GetODSecurityKeyResponseMessage">
        <part name="output" element="glval:GetOdSecurityResponse"/>
    </message>
    <message name="GetODSecurityKeyFault">
        <part name="Fault" type="xsd:string"/>
    </message>
    <portType name="GetODSecurityKey">
        <operation name="process">
            <input message="client:GetODSecurityKeyRequestMessage"/>
            <output message="client:GetODSecurityKeyResponseMessage"/>
            <fault name="ResourceNotAvailable" message="client:GetODSecurityKeyFault"/>
            <fault name="DataNotAvailable" message="client:GetODSecurityKeyFault"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="GetODSecurityKey">
        <plnk:role name="GetODSecurityKeyProvider">
            <plnk:portType name="client:GetODSecurityKey"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
