bpel/archive/GetODSecurityKey/bpel/GetODSecurityKey.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/GetODSecurityKey"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="GetODSecurityKeyProcessRequest">
          <complexType>
	    <sequence>
	       <element name="MODULE_NAME" type="string"/>
                <element name="KEY_LABEL" type="string"/>
	    </sequence>
	  </complexType>
	</element>
	<element name="GetODSecurityKeyProcessResponse">
	<complexType>
	  <sequence>
	     <element name="KEY_VALUE" type="string"/>
	   </sequence>
	 </complexType>
	</element>
</schema>