bpel/MerchHier_rms_outb/bpel/MerchHier_rms_outb.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/MerchHier_rms_outb"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="MerchHier_rms_outbProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="MerchHier_rms_outbProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>