soa/PeopleSoftUpgrade/SyncDB2FoundationTables/V2/SynchDepartmentPsftToDB2Service/InsertUpdateDepartmentDB2Data.wsdl

<?binding.jca InsertUpdateDepartmentDB2Data_db.jca?>
<wsdl:definitions name="InsertUpdateDepartmentDB2Data" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/Application1/DB2FoundationTbls/InsertUpdateDepartmentDB2Data" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/Application1/DB2FoundationTbls/InsertUpdateDepartmentDB2Data" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/InsertUpdateDepartmentDB2Data">
    <plt:partnerLinkType name="InsertUpdateDepartmentDB2Data_plt">
        <plt:role name="InsertUpdateDepartmentDB2Data_role">
            <plt:portType name="tns:InsertUpdateDepartmentDB2Data_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/InsertUpdateDepartmentDB2Data" schemaLocation="xsd/InsertUpdateDepartmentDB2Data_table.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="PsDeptTblCollection_msg">
        <wsdl:part name="PsDeptTblCollection" element="top:PsDeptTblCollection"/>
    </wsdl:message>
    <wsdl:message name="InsertUpdateDepartmentDB2DataSelect_inputParameters">
        <wsdl:part name="InsertUpdateDepartmentDB2DataSelect_inputParameters" element="top:InsertUpdateDepartmentDB2DataSelect_InputParamDeptIdInputParameters"/>
    </wsdl:message>
    <wsdl:portType name="InsertUpdateDepartmentDB2Data_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:PsDeptTblCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <wsdl:input message="tns:PsDeptTblCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:PsDeptTblCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="InsertUpdateDepartmentDB2DataSelect">
            <wsdl:input message="tns:InsertUpdateDepartmentDB2DataSelect_inputParameters"/>
            <wsdl:output message="tns:PsDeptTblCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
