bpel/archive/PostJournalEntryGLInsert/bpel/PostJournalEntryGLInsert.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/PostJournalEntryGLInsert"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="PostJournalEntryGLInsertProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="PostJournalEntryGLInsertProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>