bpel/archive/PostJournalEntryGLInsert/bpel/ProcessInvoiceInbound_OAGIS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     name="ProcessInvoiceInbound_OAGIS"
     targetNamespace="http://xmlns.oracle.com/ProcessInvoiceInbound_OAGIS"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/ProcessInvoiceInbound_OAGIS"
     xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing"
     xmlns:ns1="http://www.openapplications.org/oagis/9"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:client="http://xmlns.oracle.com/ProcessInvoiceInbound_OAGIS"
    >
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.openapplications.org/oagis/9"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/ProcessInvoiceInbound_OAGIS">
            <import namespace="http://xmlns.oracle.com/ProcessInvoiceInbound_OAGIS" schemaLocation="ProcessInvoiceInbound_OAGIS.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.openapplications.org/oagis/9"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/ProcessInvoiceInbound_OAGIS">
            <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="http://chilsoa01d.na.odcorp.net:7778/orabpel/xmllib/eaixml/oagis/v91/message/bod/ProcessInvoice.xsd"/>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://schemas.xmlsoap.org/ws/2003/03/addressing" schemaLocation="http://chilsoa01d.na.odcorp.net:7778/orabpel/xmllib/ws-addressing.xsd"/>
        </schema>
    </types>
    <message name="ProcessInvoiceInbound_OAGISRequestMessage">
        <part name="payload" element="ns1:ProcessInvoice"/>
    </message>
    <message name="ProcessInvoiceInbound_OAGISResponseMessage">
        <part name="payload" element="tns:ProcessInvoiceInbound_OAGISProcessResponse"/>
    </message>
    <message name="WSAReplyToHeader">
        <part name="ReplyTo" element="wsa:ReplyTo"/>
    </message>
    <message name="WSAMessageIDHeader">
        <part name="MessageID" element="wsa:MessageID"/>
    </message>
    <message name="WSARelatesToHeader">
        <part name="RelatesTo" element="wsa:RelatesTo"/>
    </message>
    <portType name="ProcessInvoiceInbound_OAGIS">
        <operation name="initiate">
            <input message="tns:ProcessInvoiceInbound_OAGISRequestMessage"/>
        </operation>
    </portType>
    <portType name="ProcessInvoiceInbound_OAGISCallback">
        <operation name="onResult">
            <input message="tns:ProcessInvoiceInbound_OAGISResponseMessage"/>
        </operation>
    </portType>
    <binding name="ProcessInvoiceInbound_OAGISCallbackBinding" type="tns:ProcessInvoiceInbound_OAGISCallback">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="onResult">
            <soap:operation style="document" soapAction="onResult"/>
            <input>
                <soap:header message="tns:WSARelatesToHeader" part="RelatesTo" use="literal" encodingStyle=""/>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="ProcessInvoiceInbound_OAGISBinding" type="tns:ProcessInvoiceInbound_OAGIS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="initiate">
            <soap:operation style="document" soapAction="initiate"/>
            <input>
                <soap:header message="tns:WSAReplyToHeader" part="ReplyTo" use="literal" encodingStyle=""/>
                <soap:header message="tns:WSAMessageIDHeader" part="MessageID" use="literal" encodingStyle=""/>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="ProcessInvoiceInbound_OAGIS">
        <port name="ProcessInvoiceInbound_OAGISPort" binding="tns:ProcessInvoiceInbound_OAGISBinding">
            <soap:address location="http://chilsoa01d.na.odcorp.net:7778/orabpel/fin/ProcessInvoiceInbound_OAGIS/1.0"/>
        </port>
    </service>
    <service name="ProcessInvoiceInbound_OAGISCallbackService">
        <port name="ProcessInvoiceInbound_OAGISCallbackPort" binding="tns:ProcessInvoiceInbound_OAGISCallbackBinding">
            <soap:address location="http://set.by.caller"/>
        </port>
    </service>
  <plnk:partnerLinkType name="ProcessInvoiceInbound_OAGIS">
    <plnk:role name="ProcessInvoiceInbound_OAGISProvider">
      <plnk:portType name="tns:ProcessInvoiceInbound_OAGIS"/>
    </plnk:role>
    <plnk:role name="ProcessInvoiceInbound_OAGISRequester">
      <plnk:portType name="tns:ProcessInvoiceInbound_OAGISCallback"/>
    </plnk:role>
  </plnk:partnerLinkType>
</definitions>
