bpel/ProcessAREDIInvoiceEBSOutbound/bpel/XXARINVPRNTSLCTEDI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns="http://www.openapplications.org/oagis/9/officedepot/1" 
targetNamespace="http://www.openapplications.org/oagis/9/officedepot/1">
 <xsd:element name="SHIP_TO_CONTACT_EXTENSION">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="LIST_G_INVOICE_BILL_TO_SITE">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="G_INVOICE_BILL_TO_SITE"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SUPPLIER_CITY" type="xsd:string"/>
  <xsd:element name="BILL_TO_ADDRESS2_Inv" type="xsd:string"/>
  <xsd:element name="ORDERNUMBER" type="xsd:string"/>
  <xsd:element name="MAX_COPST_RATE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="COMMENTS">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SUPPLIER_ADDRESS4">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SUPPLIER_ADDRESS3">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SHIP_TO_CONTACT_EMAIL_ADDRESS">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SUPPLIER_ADDRESS2">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SUPPLIER_ADDRESS1" type="xsd:string"/>
  <xsd:element name="CUSTLOC">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="BILL_TO_ADDRESS4">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="BILL_TO_ADDRESS3">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="LIST_G_INVOICE_LINE_TAX">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" ref="G_INVOICE_LINE_TAX"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="BILL_TO_ADDRESS2" type="xsd:string"/>
  <xsd:element name="BILL_TO_ADDRESS1" type="xsd:string"/>
  <xsd:element name="SHIP_TO_CUSTOMER_NUMBER" type="xsd:string"/>
  <xsd:element name="PRODUCTCDENTERED" type="xsd:string"/>
  <xsd:element name="STGST_TAX_AMOUNT" type="xsd:string"/>
  <xsd:element name="SHIP_TO_SITE_NUMBER" type="xsd:string"/>
  <xsd:element name="SHIP_TO_CUST_ACCT_NUMBER_LEGACY" type="xsd:string"/>
  <xsd:element name="G_INVOICES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="BILL_TO_CONTACT_PHONE_TYPE"/>
        <xsd:element ref="BILL_TO_AREA_CODE"/>
        <xsd:element ref="BILL_TO_CONTACT_PHONE_NUMBER"/>
        <xsd:element ref="BILL_TO_CONTACT_EXTENSION"/>
        <xsd:element ref="BILL_TO_CONTACT_NAME"/>
        <xsd:element ref="BILL_TO_CONTACT_NUMBER"/>
        <xsd:element ref="BILL_TO_CONTACT_EMAIL_ADDRESS"/>
        <xsd:element ref="SHIP_TO_CONTACT_PHONE_TYPE"/>
        <xsd:element ref="SHIP_TO_CONTACT_AREA_CODE"/>
        <xsd:element ref="SHIP_TO_CONTACT_PHONE_NUMBER"/>
        <xsd:element ref="SHIP_TO_CONTACT_EXTENSION"/>
        <xsd:element ref="SHIP_TO_CONTACT_NAME"/>
        <xsd:element ref="SHIP_TO_CONTACT_NUMBER"/>
        <xsd:element ref="SHIP_TO_CONTACT_EMAIL_ADDRESS"/>
        <xsd:element ref="NTERFACE_HEADER_CONTEXT"/>
        <xsd:element ref="CM_ORIG_INV_ID"/>
        <xsd:element ref="DOC_COMBO_TYPE"/>
        <xsd:element ref="BILLDOCS_CUST_DOC_ID"/>
        <xsd:element ref="PAYDOC_FLAG"/>
        <xsd:element ref="SHIPTOADDRFLAG"/>
        <xsd:element ref="SHIP_TO_SITE_LOCATION"/>
        <xsd:element ref="BILL_TO_SITE_LOCATION"/>
        <xsd:element ref="ORDER_HEADER_ID"/>
        <xsd:element ref="PAYTERM"/>
        <xsd:element ref="PURCHASE_ORDER"/>
        <xsd:element ref="PAYTERM_CURRENCY"/>
        <xsd:element ref="PURCHASE_ORDER_DATE"/>
        <xsd:element ref="BILL_TO_SITE_USE_ID"/>
        <xsd:element ref="PREVIOUS_CUSTOMER_TRX_ID1"/>
        <xsd:element ref="REMIT_TO_ADDRESS_ID"/>
        <xsd:element ref="SUPPLIER_NAME"/>
        <xsd:element ref="CUSTOMER_TRX_ID1"/>
        <xsd:element ref="ORIGINAL_TRANSACTION_NUMBER"/>
        <xsd:element ref="INVOICE_TYPE"/>
        <xsd:element ref="ORGORDNBR"/>
        <xsd:element ref="INVDATE"/>
        <xsd:element ref="COMMENTS"/>
        <xsd:element ref="BILL_FROM_DATE"/>
        <xsd:element ref="BILL_TO_DATE"/>
        <xsd:element ref="BILLPAYDUE"/>
        <xsd:element ref="LIST_G_INVOICE_SHIP_TO_SITE"/>
        <xsd:element ref="LIST_G_RECEIPT"/>
        <xsd:element ref="LIST_G_INVOICE_BILL_TO_SITE"/>
        <xsd:element ref="LIST_G_INVOICE_LINES"/>
        <xsd:element ref="LIST_G_CUST_REMIT_TO_ADDRESS"/>
        <xsd:element ref="CF_SEND_SHIP_TO_ADDRESS"/>
        <xsd:element ref="CS_EXTENDED_AMOUNT"/>
        <xsd:element ref="CS_GROSS_EXTENDED_AMOUNT"/>
        <xsd:element ref="CF_REMIT_TO_CONTROL_ID"/>
        <xsd:element ref="TOTALMISCCHRG"/>
        <xsd:element ref="TOTALDELIVCHRG"/>
        <xsd:element ref="GIFTCARD_AMOUNT"/>
        <xsd:element ref="ORDSUBTOTAL"/>
        <xsd:element ref="TOTALORDAMT"/>
        <xsd:element ref="TOT_TAXAMT"/>
        <xsd:element ref="MAX_TAX_RATE_INVPRN"/>
        <xsd:element ref="TOT_STGST_TAX_AMOUNT"/>
        <xsd:element ref="TOT_COPST_TAX_AMOUNT"/>
        <xsd:element ref="MAX_STGST_RATE"/>
        <xsd:element ref="MAX_COPST_RATE"/>
        <xsd:element ref="FEDERALID"/>
        <xsd:element ref="CP_RETURN_ORDER_NUMBER"/>
        <xsd:element ref="CP_CREDIT_MEMO_INV_DATE"/>
        <xsd:element ref="CP_RETURN_ORDER_DATE"/>
        <xsd:element ref="CF_RETURN_ORDER_DETAILS"/>
        <xsd:element ref="ORDERNUMBER"/>
        <xsd:element ref="ORDERED_DATE"/>
        <xsd:element ref="CUSTDEPT"/>
        <xsd:element ref="CUSTLOC"/>
        <xsd:element ref="EMBED_SHIP_TO_ADDRESS1"/>
        <xsd:element ref="EMBED_SHIP_TO_ADDRESS2"/>
        <xsd:element ref="EMBED_SHIP_TO_CITY"/>
        <xsd:element ref="EMBED_SHIP_TO_STATE"/>
        <xsd:element ref="EMBED_SHIP_TO_COUNTRY"/>
        <xsd:element ref="EMBED_SHIP_TO_ZIP"/>
        <xsd:element ref="CUSNAME"/>
        <xsd:element ref="SALESPERSON"/>
        <xsd:element ref="PLACEMENTMETHODCD"/>
        <xsd:element ref="OM_TAX_RATE"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="G_CUST_REMIT_TO_ADDRESS">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="REMIT_PHONE_AREACODE"/>
        <xsd:element ref="REMIT_PHONE_EXT"/>
        <xsd:element ref="SUPPLIER_PHONE_AREACODE1"/>
        <xsd:element ref="REMIT_TO_NAME"/>
        <xsd:element ref="REMIT_ADDRESS5"/>
        <xsd:element ref="REMIT_ADDRESS6"/>
        <xsd:element ref="REMIT_ADDRESS7"/>
        <xsd:element ref="REMIT_ADDRESS8"/>
        <xsd:element ref="REMIT_CITY"/>
        <xsd:element ref="REMIT_STATE"/>
        <xsd:element ref="REMIT_PROVINCE"/>
        <xsd:element ref="REMIT_POSTAL_CODE1"/>
        <xsd:element ref="REMIT_COUNTRY1"/>
        <xsd:element ref="CUST_ACCT_SITE_ID"/>
        <xsd:element ref="SUPPLIER_NAME1"/>
        <xsd:element ref="SUPPLIER_ADDRESS1"/>
        <xsd:element ref="SUPPLIER_ADDRESS2"/>
        <xsd:element ref="SUPPLIER_ADDRESS3"/>
        <xsd:element ref="SUPPLIER_ADDRESS4"/>
        <xsd:element ref="SUPPLIER_CITY"/>
        <xsd:element ref="SUPPLIER_POSTAL_CODE"/>
        <xsd:element ref="SUPPLIER_COUNTRY"/>
        <xsd:element ref="SUPPLIER_PHONE_AREACODE"/>
        <xsd:element ref="SUPPLIER_PHONE_NUMBER"/>
        <xsd:element ref="SUPPLIER_PHONE_EXT"/>
        <xsd:element ref="REMIT_ADDRESS_ID"/>
        <xsd:element ref="REMIT_PHONE_NUMBER"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="I_CUST_PO_LINE_NBR" type="xsd:string"/>
  <xsd:element name="QTYSHIPPED" type="xsd:string"/>
  <xsd:element name="EDISELL" type="xsd:string"/>
  <xsd:element name="RECONCILEDATE" type="xsd:string"/>
  <xsd:element name="EXTPRICE" type="xsd:string"/>
  <xsd:element name="LIST_G_RECEIPT">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="G_RECEIPT"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SHIP_TO_LOCATION_NAME" type="xsd:string"/>
  <xsd:element name="CM_ORIG_INV_ID">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DELIVCHRG">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="CUSTOMER_UNIT_PRICE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SHIP_TO_CONTACT_PHONE_TYPE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="DTLOCID" type="xsd:string"/>
  <xsd:element name="MAX_TAX_RATE_INVPRN" type="xsd:string"/>
  <xsd:element name="INTERFACE_LINE_CONTEXT" type="xsd:string"/>
  <xsd:element name="SPECHANDLING">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ITEM_COMMENTS">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="CF_RETURN_ORDER_DETAILS">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SALES_ORDER_LINE" type="xsd:string"/>
  <xsd:element name="CF_SEND_SHIP_TO_ADDRESS">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="CONTRACTPLANID" type="xsd:string"/>
  <xsd:element name="LIST_G_INVOICE_LINES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" ref="G_INVOICE_LINES"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SHIPTOADDRFLAG" type="xsd:string"/>
  <xsd:element name="TOT_COPST_TAX_AMOUNT" type="xsd:string"/>
  <xsd:element name="BILL_TO_ADDRESS3_Inv">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SHIP_TO_CONTACT_PHONE_NUMBER">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="BILL_TO_STATE_Inv" type="xsd:string"/>
  <xsd:element name="SHIP_TO_LOCATION" type="xsd:string"/>
  <xsd:element name="RECEIPT_DATE" type="xsd:string"/>
  <xsd:element name="CS_GROSS_EXTENDED_AMOUNT" type="xsd:string"/>
  <xsd:element name="EMBED_SHIP_TO_CITY" type="xsd:string"/>
  <xsd:element name="STGST_TAX_RATE" type="xsd:string"/>
  <xsd:element name="TOTALORDAMT" type="xsd:string"/>
  <xsd:element name="TOTALMISCCHRG" type="xsd:string"/>
  <xsd:element name="GIFTCARD_AMOUNT" type="xsd:string"/>
  <xsd:element name="SHIP_TO_CONTACT_NUMBER">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="EMBED_SHIP_TO_ADDRESS2" type="xsd:string"/>
  <xsd:element name="EMBED_SHIP_TO_ADDRESS1" type="xsd:string"/>
  <xsd:element name="CUSTOMER_TRX_ID" type="xsd:string"/>
  <xsd:element name="CP_RETURN_ORDER_NUMBER">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="REMIT_COUNTRY1" type="xsd:string"/>
  <xsd:element name="SUPPLIER_PHONE_AREACODE1">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="CUST_ACCT_SITE_ID" type="xsd:string"/>
  <xsd:element name="CUSTOMER_EXEMPTION_NUMBER1">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="BILL_TO_PROVINCE_Inv">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="COPST_TAX_RATE" type="xsd:string"/>
  <xsd:element name="EMBED_SHIP_TO_STATE" type="xsd:string"/>
  <xsd:element name="BILL_TO_LOCATION_NAME" type="xsd:string"/>
  <xsd:element name="COPST_TAX_AMOUNT" type="xsd:string"/>
  <xsd:element name="SALESPERSON">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="VENDORPRODCD" type="xsd:string"/>
  <xsd:element name="G_INVOICE_BILL_TO_SITE">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="BILL_TO_LOCATION_NAME"/>
        <xsd:element ref="BILL_TO_CUSTOMER_NUMBER"/>
        <xsd:element ref="BILL_TO_CUSTOMER_NAME"/>
        <xsd:element ref="BILL_TO_SITE_NUMBER"/>
        <xsd:element ref="BILL_TO_LOCATION"/>
        <xsd:element ref="BILL_TO_ADDRESS1_Inv"/>
        <xsd:element ref="BILL_TO_ADDRESS2_Inv"/>
        <xsd:element ref="BILL_TO_ADDRESS3_Inv"/>
        <xsd:element ref="BILL_TO_CUST_ACCT_NUMBER_LEGACY"/>
        <xsd:element ref="BILL_TO_ADDRESS4_Inv"/>
        <xsd:element ref="BILL_TO_CITY_Inv"/>
        <xsd:element ref="BILL_TO_STATE_Inv"/>
        <xsd:element ref="BILL_TO_POSTAL_CODE_Inv"/>
        <xsd:element ref="BILL_TO_COUNTRY_Inv"/>
        <xsd:element ref="BILL_TO_PROVINCE_Inv"/>
        <xsd:element ref="CF_GET_EXCEPTION_ADDRESS"/>
        <xsd:element ref="BILL_TO_ADDRESS1"/>
        <xsd:element ref="BILL_TO_ADDRESS2"/>
        <xsd:element ref="BILL_TO_ADDRESS3"/>
        <xsd:element ref="BILL_TO_ADDRESS4"/>
        <xsd:element ref="BILL_TO_CITY"/>
        <xsd:element ref="BILL_TO_STATE"/>
        <xsd:element ref="BILL_TO_COUNTRY"/>
        <xsd:element ref="BILL_TO_PROVINCE"/>
        <xsd:element ref="BILL_TO_POSTAL_CODE"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LIST_G_CUST_REMIT_TO_ADDRESS">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="G_CUST_REMIT_TO_ADDRESS"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CP_RETURN_ORDER_DATE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="PREVIOUS_CUSTOMER_TRX_ID1">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="BILL_TO_CONTACT_PHONE_TYPE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ORDER_LINE_ID" type="xsd:string"/>
  <xsd:element name="G_INVOICE_LINES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CUSTOMER_EXEMPTION_NUMBER1"/>
        <xsd:element ref="ORDER_LINE_HEADER_ID"/>
        <xsd:element ref="ORDER_LINE_ID"/>
        <xsd:element ref="PREV_CUST_TRX_LINE_ID"/>
        <xsd:element ref="INTERFACE_LINE_CONTEXT"/>
        <xsd:element ref="INTERFACE_LINE_ATTRIBUTE11"/>
        <xsd:element ref="SKU"/>
        <xsd:element ref="I_CUST_PO_LINE_NBR"/>
        <xsd:element ref="QTYORDERED"/>
        <xsd:element ref="EDISELL"/>
        <xsd:element ref="CUSTOMER_TRX_LINE_ID"/>
        <xsd:element ref="LINE_TYPE"/>
        <xsd:element ref="SALES_ORDER_LINE"/>
        <xsd:element ref="GROSS_EXTENDED_AMOUNT"/>
        <xsd:element ref="EXTPRICE"/>
        <xsd:element ref="SKUDESCRIPTION"/>
        <xsd:element ref="QTYSHIPPED"/>
        <xsd:element ref="CUSTOMER_EXEMPTION_NUMBER"/>
        <xsd:element ref="CUSTOMER_TRX_ID"/>
        <xsd:element ref="EXTENDED_AMOUNT"/>
        <xsd:element ref="SKURETAILPRICE"/>
        <xsd:element ref="LIST_G_ORDER_LINES"/>
        <xsd:element ref="LIST_G_INVOICE_LINE_TAX"/>
        <xsd:element ref="CS_TAX_RATE"/>
        <xsd:element ref="TOT_TAXAMT"/>
        <xsd:element ref="TOT_STGST_TAX_AMOUNT"/>
        <xsd:element ref="TOT_COPST_TAX_AMOUNT"/>
        <xsd:element ref="TOT_STGST_TAX_RATE"/>
        <xsd:element ref="TOT_COPST_TAX_RATE"/>
        <xsd:element ref="DELIVCHRG"/>
        <xsd:element ref="MISCCHRG"/>
        <xsd:element ref="DELIV"/>
        <xsd:element ref="MISC"/>
        <xsd:element ref="SALES_ORDER"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="BILL_TO_CUST_ACCT_NUMBER_LEGACY" type="xsd:string"/>
  <xsd:element name="LIST_G_INVOICE_SHIP_TO_SITE">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="G_INVOICE_SHIP_TO_SITE"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TOT_STGST_TAX_RATE" type="xsd:string"/>
  <xsd:element name="INVOICE_TYPE" type="xsd:string"/>
  <xsd:element name="SHIP_TO_CUSTOMER_NAME" type="xsd:string"/>
  <xsd:element name="QTYBACKORD" type="xsd:string"/>
  <xsd:element name="SUPPLIER_NAME" type="xsd:string"/>
  <xsd:element name="ORIGINAL_TRANSACTION_NUMBER" type="xsd:string"/>
  <xsd:element name="CUSTDEPT" type="xsd:string"/>
  <xsd:element name="BILL_TO_CONTACT_EXTENSION">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="TAX_RATE" type="xsd:string"/>
  <xsd:element name="TOT_COPST_TAX_RATE" type="xsd:string"/>
  <xsd:element name="BILLPAYDUE" type="xsd:string"/>
  <xsd:element name="CUSTOMER_LINE_NUMBER">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="MAX_STGST_RATE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="CUSTOMER_UOM" type="xsd:string"/>
  <xsd:element name="BILLDOCS_CUST_DOC_ID" type="xsd:string"/>
  <xsd:element name="TOTALDELIVCHRG">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="REMIT_PROVINCE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="INVDATE" type="xsd:string"/>
  <xsd:element name="BILL_TO_ADDRESS4_Inv">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SKU" type="xsd:string"/>
  <xsd:element name="BILL_TO_COUNTRY_Inv" type="xsd:string"/>
  <xsd:element name="PAYTERM_CURRENCY" type="xsd:string"/>
  <xsd:element name="QTYORDERED" type="xsd:string"/>
  <xsd:element name="REMIT_PHONE_EXT">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="PAYTERM" type="xsd:string"/>
  <xsd:element name="SHIP_TO_CUSTOMER_NAME_OLD" type="xsd:string"/>
  <xsd:element name="CONTRACTCD" type="xsd:string"/>
  <xsd:element name="DOC_COMBO_TYPE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="CUSTOMER_TRX_ID1" type="xsd:string"/>
  <xsd:element name="SKULISTPRICE" type="xsd:string"/>
  <xsd:element name="SUPPLIER_POSTAL_CODE" type="xsd:string"/>
  <xsd:element name="SUPPLIER_PHONE_NUMBER">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="MISC">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="BILL_FROM_DATE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="BILL_TO_COUNTRY" type="xsd:string"/>
  <xsd:element name="SKURETAILPRICE" type="xsd:string"/>
  <xsd:element name="BILL_TO_POSTAL_CODE_Inv" type="xsd:string"/>
  <xsd:element name="BILL_TO_STATE" type="xsd:string"/>
  <xsd:element name="CUSTOMER_EXEMPTION_NUMBER">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SUPPLIER_PHONE_EXT">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="REMIT_STATE" type="xsd:string"/>
  <xsd:element name="BILL_TO_AREA_CODE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SUPPLIER_NAME1" type="xsd:string"/>
  <xsd:element name="PLACEMENTMETHODCD">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ORDSUBTOTAL" type="xsd:string"/>
  <xsd:element name="BILL_TO_LOCATION" type="xsd:string"/>
  <xsd:element name="CUSTOMER_TRX_LINE_ID" type="xsd:string"/>
  <xsd:element name="BILL_TO_CUSTOMER_NAME" type="xsd:string"/>
  <xsd:element name="REMIT_ADDRESS_ID" type="xsd:string"/>
  <xsd:element name="SKUDESCRIPTION" type="xsd:string"/>
  <xsd:element name="REMIT_ADDRESS8">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="REMIT_ADDRESS7">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="REMIT_ADDRESS6">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="PAYDOC_FLAG" type="xsd:string"/>
  <xsd:element name="REMIT_ADDRESS5" type="xsd:string"/>
  <xsd:element name="BILL_TO_DATE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="BILL_TO_SITE_NUMBER" type="xsd:string"/>
  <xsd:element name="LIST_G_ORDER_LINES">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" ref="G_ORDER_LINES"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="REMIT_TO_NAME" type="xsd:string"/>
  <xsd:element name="ORDER_LINE_HEADER_ID" type="xsd:string"/>
  <xsd:element name="SHIP_TO_CONTACT_NAME" type="xsd:string"/>
  <xsd:element name="G_INVOICE_LINE_TAX">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="TAXAMT"/>
        <xsd:element ref="STGST_TAX_AMOUNT"/>
        <xsd:element ref="COPST_TAX_AMOUNT"/>
        <xsd:element ref="TAX_RATE"/>
        <xsd:element ref="STGST_TAX_RATE"/>
        <xsd:element ref="COPST_TAX_RATE"/>
        <xsd:element ref="TAXABLECD"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LINE_TYPE" type="xsd:string"/>
  <xsd:element name="SUPPLIER_PHONE_AREACODE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="G_ORDER_LINES">
    <xsd:complexType>
      <xsd:choice maxOccurs="unbounded" minOccurs="0">
        <xsd:element ref="CUSTOMER_UNIT_PRICE"/>
        <xsd:element ref="CUSTLOC"/>
        <xsd:element ref="DTLOCID"/>
        <xsd:element ref="CUSTOMER_INTERNAL_REFERENCE"/>
        <xsd:element ref="TAXABLE_FLAG"/>
        <xsd:element ref="VENDORPRODCD"/>
        <xsd:element ref="ORDER_LINE_NUMBER"/>
        <xsd:element ref="ITEM_COMMENTS"/>
        <xsd:element ref="RECONCILEDATE"/>
        <xsd:element ref="QTYORDERED"/>
        <xsd:element ref="CONTRACTCD"/>
        <xsd:element ref="SKULISTPRICE"/>
        <xsd:element ref="SCHEDULE_SHIP_DATE"/>
        <xsd:element ref="PRODUCTCDENTERED"/>
        <xsd:element ref="QTYBACKORD"/>
        <xsd:element ref="VENDOR_CODE"/>
        <xsd:element ref="RELEASENUM"/>
        <xsd:element ref="CUSTDEPT"/>
        <xsd:element ref="CUSTOMER_PACK_LIST_REF"/>
        <xsd:element ref="GSA_FLAG"/>
        <xsd:element ref="CONTRACTPLANID"/>
        <xsd:element ref="CUSTOMER_LINE_NUMBER"/>
        <xsd:element ref="CUSTOMER_UOM"/>
        <xsd:element ref="CONTRACTSEQNBR"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GSA_FLAG" type="xsd:string"/>
  <xsd:element name="CP_CREDIT_MEMO_INV_DATE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SHIP_TO_SITE_LOCATION" type="xsd:string"/>
  <xsd:element name="BILL_TO_CONTACT_EMAIL_ADDRESS">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="TAXABLECD" type="xsd:string"/>
  <xsd:element name="VENDOR_CODE" type="xsd:string"/>
  <xsd:element name="ORGORDNBR">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="CREDIT_CARD_APPROVAL_CODE" type="xsd:string"/>
  <xsd:element name="XXARINVPRNEDI">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" ref="G_INVOICES"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="BILL_TO_ADDRESS1_Inv" type="xsd:string"/>
  <xsd:element name="BILL_TO_CITY" type="xsd:string"/>
  <xsd:element name="BILL_TO_CONTACT_NAME" type="xsd:string"/>
  <xsd:element name="BILL_TO_CONTACT_NUMBER">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="G_INVOICE_SHIP_TO_SITE">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SHIP_TO_LOCATION_NAME"/>
        <xsd:element ref="SHIP_TO_CUSTOMER_NUMBER"/>
        <xsd:element ref="SHIP_TO_CUSTOMER_NAME_OLD"/>
        <xsd:element ref="SHIP_TO_SITE_NUMBER"/>
        <xsd:element ref="SHIP_TO_LOCATION"/>
        <xsd:element ref="SPECHANDLING"/>
        <xsd:element ref="SHIP_TO_CUST_ACCT_NUMBER_LEGACY"/>
        <xsd:element ref="SHIP_TO_CUSTOMER_NAME"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PURCHASE_ORDER" type="xsd:string"/>
  <xsd:element name="ORDER_LINE_NUMBER" type="xsd:string"/>
  <xsd:element name="ORDERED_DATE" type="xsd:string"/>
  <xsd:element name="BILL_TO_SITE_USE_ID" type="xsd:string"/>
  <xsd:element name="DELIV">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="FEDERALID" type="xsd:string"/>
  <xsd:element name="OM_TAX_RATE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="BILL_TO_POSTAL_CODE" type="xsd:string"/>
  <xsd:element name="CS_EXTENDED_AMOUNT" type="xsd:string"/>
  <xsd:element name="REMIT_POSTAL_CODE1" type="xsd:string"/>
  <xsd:element name="MISCCHRG">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="BILL_TO_CONTACT_PHONE_NUMBER">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="REMIT_CITY" type="xsd:string"/>
  <xsd:element name="PREV_CUST_TRX_LINE_ID">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SHIP_TO_CONTACT_AREA_CODE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="BILL_TO_CUSTOMER_NUMBER" type="xsd:string"/>
  <xsd:element name="TAXAMT" type="xsd:string"/>
  <xsd:element name="BILL_TO_PROVINCE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="ORDER_HEADER_ID" type="xsd:string"/>
  <xsd:element name="INTERFACE_LINE_ATTRIBUTE11" type="xsd:string"/>
  <xsd:element name="REMIT_PHONE_NUMBER" type="xsd:string"/>
  <xsd:element name="CUSNAME" type="xsd:string"/>
  <xsd:element name="NTERFACE_HEADER_CONTEXT" type="xsd:string"/>
  <xsd:element name="CF_REMIT_TO_CONTROL_ID" type="xsd:string"/>
  <xsd:element name="CUSTOMER_INTERNAL_REFERENCE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="TOT_STGST_TAX_AMOUNT" type="xsd:string"/>
  <xsd:element name="SCHEDULE_SHIP_DATE" type="xsd:string"/>
  <xsd:element name="REMIT_PHONE_AREACODE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="CREDIT_CARD_GHOST_NUMBER" type="xsd:string"/>
  <xsd:element name="BILL_TO_SITE_LOCATION" type="xsd:string"/>
  <xsd:element name="G_RECEIPT">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="CREDIT_CARD_GHOST_NUMBER"/>
        <xsd:element ref="CREDIT_CARD_APPROVAL_CODE"/>
        <xsd:element ref="RECEIPT_DATE"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CF_GET_EXCEPTION_ADDRESS">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="RELEASENUM" type="xsd:string"/>
  <xsd:element name="EXTENDED_AMOUNT" type="xsd:string"/>
  <xsd:element name="PURCHASE_ORDER_DATE">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="SALES_ORDER" type="xsd:string"/>
  <xsd:element name="EMBED_SHIP_TO_ZIP" type="xsd:string"/>
  <xsd:element name="CUSTOMER_PACK_LIST_REF">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="CONTRACTSEQNBR" type="xsd:string"/>
  <xsd:element name="REMIT_TO_ADDRESS_ID" type="xsd:string"/>
  <xsd:element name="EMBED_SHIP_TO_COUNTRY" type="xsd:string"/>
  <xsd:element name="BILL_TO_CITY_Inv" type="xsd:string"/>
  <xsd:element name="TAXABLE_FLAG" type="xsd:string"/>
  <xsd:element name="GROSS_EXTENDED_AMOUNT">
    <xsd:complexType/>
  </xsd:element>
  <xsd:element name="CS_TAX_RATE" type="xsd:string"/>
  <xsd:element name="TOT_TAXAMT" type="xsd:string"/>
  <xsd:element name="SUPPLIER_COUNTRY" type="xsd:string"/>
</xsd:schema>
