Trunk/xxom/bpel/ServiceRequestCreate/bpel/SRResponse2Aops.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--Native format was generated from COBOL copybook : C:\Documents and Settings\bala-edupuganti\Desktop\SrResponse_copybook.txt-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:extn="http://xmlns.oracle.com/pcbpel/nxsd/extensions" targetNamespace="http://TargetNamespace.com/InboundService" xmlns:tns="http://TargetNamespace.com/InboundService" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:encoding="cp037" nxsd:byteOrder="bigEndian" nxsd:stream="chars">
   <xsd:element name="Root-Element">
      <xsd:complexType>
         <xsd:sequence>
            <!--COBOL declaration :01 SERVICE_MQ-->
            <xsd:element name="RESPONSE_MQ" minOccurs="1" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <!--COBOL declaration : 05 request_type PIC X(10)-->
                     <xsd:element name="request_type" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="10"/>
                     <!--COBOL declaration : 05 action_code PIC X(3)-->
                     <xsd:element name="action_code" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="3"/>
                     <!--COBOL declaration : 05 request_number PIC X(15)-->
                     <xsd:element name="request_number" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="15"/>
                     <!--COBOL declaration : 05 order_number PIC X(12)-->
                     <xsd:element name="order_number" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="12"/>
                     <!--COBOL declaration : 05 Filler PIC X(253)-->
                     <xsd:element name="Filler" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="253"/>
                     <!--COBOL declaration : 05 SKU_record Occurs 50 times-->
                     <xsd:element name="SKU_record" minOccurs="0" maxOccurs="50">
                        <xsd:complexType>
                           <xsd:sequence>
                              <!--COBOL declaration : 10 Sku PIC X(6)-->
                              <xsd:element name="Sku" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="6"/>
                              <!--COBOL declaration : 10 Sku_quantity PIC X(5)-->
                              <xsd:element name="Sku_quantity" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="5"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
