Trunk/xxom/bpel/ServiceRequestCreate/bpel/SRsubscribe.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--Native format was generated from COBOL copybook : C:\1_project\JDev10133\jdev\mywork\FiedServiceProcess\AOPTDServiceOrderSubscribe\bpel\copybook1.txt-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:extn="http://xmlns.oracle.com/pcbpel/nxsd/extensions" targetNamespace="http://TargetNamespace.com/DequeueAopsSOsubscribe" xmlns:tns="http://TargetNamespace.com/DequeueAopsSOsubscribe" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:encoding="cp037" nxsd:byteOrder="bigEndian" nxsd:stream="chars">
   <xsd:element name="Root-Element">
      <xsd:complexType>
         <xsd:sequence>
            <!--COBOL declaration :01 service_request-->
            <xsd:element name="service_request" minOccurs="1" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <!--COBOL declaration : 05 request_type PIC X(10)-->
                     <xsd:element name="order_type" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="10"/>
                     <!--COBOL declaration : 05 action_code PIC X(3)-->
                     <xsd:element name="action_code" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="3"/>
                     <!--COBOL declaration : 05 request_date PIC X(14)-->
                     <xsd:element name="request_date" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="14"/>
                     <!--COBOL declaration : 05 request_number PIC X(15)-->
                     <xsd:element name="request_number" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="15"/>
                     <!--COBOL declaration : 05 dev_ques_ans_id PIC X(15)-->
                     <xsd:element name="dev_ques_ans_id" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="15"/> 
                      <!--COBOL declaration : 05 order_number PIC X(12)-->
                     <xsd:element name="order_number" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="12"/>
                     <!--COBOL declaration : 05 order_date PIC X(14)-->
                     <xsd:element name="order_date" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="14"/>
                     <!--COBOL declaration : 05 store_number PIC X(6)-->
                     <xsd:element name="store_number" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="6"/>
                     <!--COBOL declaration : 05 customer_ref PIC X(8)-->
                     <xsd:element name="customer_ref" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="8"/>
                     <!--COBOL declaration : 05 Ship_to_ref PIC X(5)-->
                     <xsd:element name="Ship_to_ref" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="5"/>
                     <!--COBOL declaration : 05 Bill_to_ref PIC X(5)-->
                     <xsd:element name="Bill_to_ref" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="5"/>
                     <!--COBOL declaration : 05 contact_name PIC X(25)-->
                     <xsd:element name="contact_name" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="25"/>
                     <!--COBOL declaration : 05 contact_phone PIC X(11)-->
                     <xsd:element name="contact_phone" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="11"/>
                     <!--COBOL declaration : 05 contact_phone_ext PIC X(4)-->
                     <xsd:element name="contact_phone_ext" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="4"/>
                     <!--COBOL declaration : 05 contact_email PIC X(102)-->
                     <xsd:element name="contact_email" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="102"/>
                     <!--COBOL declaration : 05 contact_fax PIC X(11)-->
                     <xsd:element name="contact_fax" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="11"/>
                     <!--COBOL declaration : 05 comments PIC X(90)-->
                     <xsd:element name="comments" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="90"/>
                     <!--COBOL declaration : 05 SKU_count PIC X(3)-->
                     <xsd:element name="order_source" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="15"/>
                     <!--COBOL declaration : 05 filler PIC X(50)-->
                     <xsd:element name="filler" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="50"/>
                     <!--<xsd:element name="attribute1" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/>
                     <xsd:element name="attribute2" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/>
                     <xsd:element name="attribute3" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/>
                     <xsd:element name="attribute4" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/>
                     <xsd:element name="attribute5" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/> -->
                     <!--COBOL declaration : 05 SKU_record occurs 50 times-->
                     <xsd:element name="SKU_record" minOccurs="1" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <!--COBOL declaration : 10 Sku PIC X(6)-->
                              <xsd:element name="sku" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="6"/>
                              <!--COBOL declaration : 10 Sku_quantity PIC X(5)-->
                              <xsd:element name="sku_quantity" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="5"/>
                              <!--COBOL declaration : 10 sku_category PIC X(5)-->
                              <xsd:element name="sku_category" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="5"/>
                              <!--COBOL declaration : 10 sku_parent_category PIC X(5)-->
                              <xsd:element name="sku_parent_category" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="5"/>
                              <!--COBOL declaration : 10 vendor_id PIC X(10)-->
                              <xsd:element name="sku_vendor" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="100"/>
                        <!--      <xsd:element name="attribute1" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/>
                              <xsd:element name="attribute2" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/>
                              <xsd:element name="attribute3" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/>
                              <xsd:element name="attribute4" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/>
                              <xsd:element name="attribute5" type="xsd:string" nxsd:style="fixedLength" nxsd:padStyle="tail" nxsd:paddedBy=" " nxsd:length="150"/> -->
                              </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
