bpel/I0311_XXOMROUTENOBPELPROCESS/bpel/TransportationWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TransportationWebService"
             targetNamespace="http://www.upslogisticstech.com/UPSLT/TransportationSuite/TransportationWebService"
             xmlns:tns="http://www.upslogisticstech.com/UPSLT/TransportationSuite/TransportationWebService"
             xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:ns1="http://www.upslogisticstech.com/UPSLT/TransportationSuite/TransportationWebService"
             xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
             xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
 <types>
  <documentation></documentation>
          <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.upslogisticstech.com/UPSLT/TransportationSuite/TransportationWebService" schemaLocation="UPS.xsd"/>
        </schema>
 </types>
 <message name="VersionInformationRequest">
  <part name="parameters" element="ns1:VersionInformation"/>
 </message>
 <message name="VersionInformationResponse">
  <part name="parameters" element="ns1:VersionInformationResponse"/>
 </message>
 <message name="AuthenticateUser">
  <part name="parameters" element="ns1:AuthenticateUser"/>
 </message>
 <message name="AuthenticateUserResponse">
  <part name="parameters" element="ns1:AuthenticateUserResponse"/>
 </message>
 <message name="ChangeUserPassword">
  <part name="parameters" element="ns1:ChangeUserPassword"/>
 </message>
 <message name="ChangeUserPasswordResponse">
  <part name="parameters" element="ns1:ChangeUserPasswordResponse"/>
 </message>
 <message name="AddRICUser">
  <part name="parameters" element="ns1:AddRICUser"/>
 </message>
 <message name="AddRICUserResponse">
  <part name="parameters" element="ns1:AddRICUserResponse"/>
 </message>
 <message name="RetrievePermissionsForUser">
  <part name="parameters" element="ns1:RetrievePermissionsForUser"/>
 </message>
 <message name="RetrievePermissionsForUserResponse">
  <part name="parameters" element="ns1:RetrievePermissionsForUserResponse"/>
 </message>
 <message name="RetrieveUserByUserID">
  <part name="parameters" element="ns1:RetrieveUserByUserID"/>
 </message>
 <message name="RetrieveUserByUserIDResponse">
  <part name="parameters" element="ns1:RetrieveUserByUserIDResponse"/>
 </message>
 <message name="AllowAdditionOfRICUsersRequest">
  <part name="parameters" element="ns1:AllowAdditionOfRICUsers"/>
 </message>
 <message name="AllowAdditionOfRICUsersResponse">
  <part name="parameters" element="ns1:AllowAdditionOfRICUsersResponse"/>
 </message>
 <message name="RetrieveRegionByIdentity">
  <part name="parameters" element="ns1:RetrieveRegionByIdentity"/>
 </message>
 <message name="RetrieveRegionByIdentityResponse">
  <part name="parameters" element="ns1:RetrieveRegionByIdentityResponse"/>
 </message>
 <message name="RetrieveRegionsByCriteria">
  <part name="parameters" element="ns1:RetrieveRegionsByCriteria"/>
 </message>
 <message name="RetrieveRegionsByCriteriaResponse">
  <part name="parameters" element="ns1:RetrieveRegionsByCriteriaResponse"/>
 </message>
 <message name="SaveRegion">
  <part name="parameters" element="ns1:SaveRegion"/>
 </message>
 <message name="SaveRegionResponse">
  <part name="parameters" element="ns1:SaveRegionResponse"/>
 </message>
 <message name="RetrieveRegionOptions">
  <part name="parameters" element="ns1:RetrieveRegionOptions"/>
 </message>
 <message name="RetrieveRegionOptionsResponse">
  <part name="parameters" element="ns1:RetrieveRegionOptionsResponse"/>
 </message>
 <message name="RetrieveRouteByIdentity">
  <part name="parameters" element="ns1:RetrieveRouteByIdentity"/>
 </message>
 <message name="RetrieveRouteByIdentityResponse">
  <part name="parameters" element="ns1:RetrieveRouteByIdentityResponse"/>
 </message>
 <message name="RetrieveRoutesByCriteria">
  <part name="parameters" element="ns1:RetrieveRoutesByCriteria"/>
 </message>
 <message name="RetrieveRoutesByCriteriaResponse">
  <part name="parameters" element="ns1:RetrieveRoutesByCriteriaResponse"/>
 </message>
 <message name="RetrieveRouteForDevice">
  <part name="parameters" element="ns1:RetrieveRouteForDevice"/>
 </message>
 <message name="RetrieveRouteForDeviceResponse">
  <part name="parameters" element="ns1:RetrieveRouteForDeviceResponse"/>
 </message>
 <message name="SaveRoute">
  <part name="parameters" element="ns1:SaveRoute"/>
 </message>
 <message name="SaveRouteResponse">
  <part name="parameters" element="ns1:SaveRouteResponse"/>
 </message>
 <message name="AssignEquipment">
  <part name="parameters" element="ns1:AssignEquipment"/>
 </message>
 <message name="AssignEquipmentResponse">
  <part name="parameters" element="ns1:AssignEquipmentResponse"/>
 </message>
 <message name="RetrieveAssignedEquipment">
  <part name="parameters" element="ns1:RetrieveAssignedEquipment"/>
 </message>
 <message name="RetrieveAssignedEquipmentResponse">
  <part name="parameters" element="ns1:RetrieveAssignedEquipmentResponse"/>
 </message>
 <message name="AssignDrivers">
  <part name="parameters" element="ns1:AssignDrivers"/>
 </message>
 <message name="AssignDriversResponse">
  <part name="parameters" element="ns1:AssignDriversResponse"/>
 </message>
 <message name="RetrieveAssignedDrivers">
  <part name="parameters" element="ns1:RetrieveAssignedDrivers"/>
 </message>
 <message name="RetrieveAssignedDriversResponse">
  <part name="parameters" element="ns1:RetrieveAssignedDriversResponse"/>
 </message>
 <message name="RemoveRoute">
  <part name="parameters" element="ns1:RemoveRoute"/>
 </message>
 <message name="RemoveRouteResponse">
  <part name="parameters" element="ns1:RemoveRouteResponse"/>
 </message>
 <message name="SendTextMessageToDriver">
  <part name="parameters" element="ns1:SendTextMessageToDriver"/>
 </message>
 <message name="SendTextMessageToDriverResponse">
  <part name="parameters" element="ns1:SendTextMessageToDriverResponse"/>
 </message>
 <message name="RetrieveStopByIdentity">
  <part name="parameters" element="ns1:RetrieveStopByIdentity"/>
 </message>
 <message name="RetrieveStopByIdentityResponse">
  <part name="parameters" element="ns1:RetrieveStopByIdentityResponse"/>
 </message>
 <message name="RetrieveStopsByCriteria">
  <part name="parameters" element="ns1:RetrieveStopsByCriteria"/>
 </message>
 <message name="RetrieveStopsByCriteriaResponse">
  <part name="parameters" element="ns1:RetrieveStopsByCriteriaResponse"/>
 </message>
 <message name="SaveStop">
  <part name="parameters" element="ns1:SaveStop"/>
 </message>
 <message name="SaveStopResponse">
  <part name="parameters" element="ns1:SaveStopResponse"/>
 </message>
 <message name="RetrieveStopSignature">
  <part name="parameters" element="ns1:RetrieveStopSignature"/>
 </message>
 <message name="RetrieveStopSignatureResponse">
  <part name="parameters" element="ns1:RetrieveStopSignatureResponse"/>
 </message>
 <message name="SaveStopSignature">
  <part name="parameters" element="ns1:SaveStopSignature"/>
 </message>
 <message name="SaveStopSignatureResponse">
  <part name="parameters" element="ns1:SaveStopSignatureResponse"/>
 </message>
 <message name="RetrieveUnassignsByCriteria">
  <part name="parameters" element="ns1:RetrieveUnassignsByCriteria"/>
 </message>
 <message name="RetrieveUnassignsCriteriaResponse">
  <part name="parameters" element="ns1:RetrieveUnassignsCriteriaResponse"/>
 </message>
 <message name="SaveUnassigned">
  <part name="parameters" element="ns1:SaveUnassigned"/>
 </message>
 <message name="SaveUnassignedResponse">
  <part name="parameters" element="ns1:SaveUnassignedResponse"/>
 </message>
 <message name="SuggestRoute">
  <part name="parameters" element="ns1:SuggestRoute"/>
 </message>
 <message name="SuggestRouteResponse">
  <part name="parameters" element="ns1:SuggestRouteResponse"/>
 </message>
 <message name="PlaceUnassigned">
  <part name="parameters" element="ns1:PlaceUnassigned"/>
 </message>
 <message name="PlaceUnassignedResponse">
  <part name="parameters" element="ns1:PlaceUnassignedResponse"/>
 </message>
 <message name="DeleteUnassigned">
  <part name="parameters" element="ns1:DeleteUnassigned"/>
 </message>
 <message name="DeleteUnassignedResponse">
  <part name="parameters" element="ns1:DeleteUnassignedResponse"/>
 </message>
 <message name="UnassignStop">
  <part name="parameters" element="ns1:UnassignStop"/>
 </message>
 <message name="UnassignStopResponse">
  <part name="parameters" element="ns1:UnassignStopResponse"/>
 </message>
 <message name="SaveLocations">
  <part name="parameters" element="ns1:SaveLocations"/>
 </message>
 <message name="SaveLocationsResponse">
  <part name="parameters" element="ns1:SaveLocationsResponse"/>
 </message>
 <message name="RetrieveLocationByIdentity">
  <part name="parameters" element="ns1:RetrieveLocationByIdentity"/>
 </message>
 <message name="RetrieveLocationByIdentityResponse">
  <part name="parameters" element="ns1:RetrieveLocationByIdentityResponse"/>
 </message>
 <message name="RetrieveLocationsByCriteria">
  <part name="parameters" element="ns1:RetrieveLocationsByCriteria"/>
 </message>
 <message name="RetrieveLocationsByCriteriaResponse">
  <part name="parameters" element="ns1:RetrieveLocationsByCriteriaResponse"/>
 </message>
 <message name="RetrieveEquipmentTypeByCriteria">
  <part name="parameters" element="ns1:RetrieveEquipmentTypeByCriteria"/>
 </message>
 <message name="RetrieveEquipmentTypeByCriteriaResponse">
  <part name="parameters"
        element="ns1:RetrieveEquipmentTypeByCriteriaResponse"/>
 </message>
 <message name="RetrieveEquipmentTypeByIdentity">
  <part name="parameters" element="ns1:RetrieveEquipmentTypeByIdentity"/>
 </message>
 <message name="RetrieveEquipmentTypeByIdentityResponse">
  <part name="parameters"
        element="ns1:RetrieveEquipmentTypeByIdentityResponse"/>
 </message>
 <message name="RetrieveEquipmentByIdentity">
  <part name="parameters" element="ns1:RetrieveEquipmentByIdentity"/>
 </message>
 <message name="RetrieveEquipmentByIdentityResponse">
  <part name="parameters" element="ns1:RetrieveEquipmentByIdentityResponse"/>
 </message>
 <message name="RetrieveEquipmentByCriteria">
  <part name="parameters" element="ns1:RetrieveEquipmentByCriteria"/>
 </message>
 <message name="RetrieveEquipmentByCriteriaResponse">
  <part name="parameters" element="ns1:RetrieveEquipmentByCriteriaResponse"/>
 </message>
 <message name="SaveEquipment">
  <part name="parameters" element="ns1:SaveEquipment"/>
 </message>
 <message name="SaveEquipmentResponse">
  <part name="parameters" element="ns1:SaveEquipmentResponse"/>
 </message>
 <message name="RetrieveEmployeeByIdentity">
  <part name="parameters" element="ns1:RetrieveEmployeeByIdentity"/>
 </message>
 <message name="RetrieveEmployeeByIdentityResponse">
  <part name="parameters" element="ns1:RetrieveEmployeeByIdentityResponse"/>
 </message>
 <message name="RetrieveEmployeesByCriteria">
  <part name="parameters" element="ns1:RetrieveEmployeesByCriteria"/>
 </message>
 <message name="RetrieveEmployeesByCriteriaResponse">
  <part name="parameters" element="ns1:RetrieveEmployeesByCriteriaResponse"/>
 </message>
 <message name="SaveEmployee">
  <part name="parameters" element="ns1:SaveEmployee"/>
 </message>
 <message name="SaveEmployeeResponse">
  <part name="parameters" element="ns1:SaveEmployeeResponse"/>
 </message>
 <message name="RetrieveProductsPurchasedRequest">
  <part name="parameters" element="ns1:RetrieveProductsPurchased"/>
 </message>
 <message name="RetrieveProductsPurchasedResponse">
  <part name="parameters" element="ns1:RetrieveProductsPurchasedResponse"/>
 </message>
 <message name="RetrieveRouteSurveyResults">
  <part name="parameters" element="ns1:RetrieveRouteSurveyResults"/>
 </message>
 <message name="RetrieveRouteSurveyResultsResponse">
  <part name="parameters" element="ns1:RetrieveRouteSurveyResultsResponse"/>
 </message>
 <message name="RetrieveStopSurveyResults">
  <part name="parameters" element="ns1:RetrieveStopSurveyResults"/>
 </message>
 <message name="RetrieveStopSurveyResultsResponse">
  <part name="parameters" element="ns1:RetrieveStopSurveyResultsResponse"/>
 </message>
 <message name="RetrieveSurveys">
  <part name="parameters" element="ns1:RetrieveSurveys"/>
 </message>
 <message name="RetrieveSurveysResponse">
  <part name="parameters" element="ns1:RetrieveSurveysResponse"/>
 </message>
 <message name="RetrievePositionHistoryByCriteria">
  <part name="parameters" element="ns1:RetrievePositionHistoryByCriteria"/>
 </message>
 <message name="RetrievePositionHistoryByCriteriaResponse">
  <part name="parameters"
        element="ns1:RetrievePositionHistoryByCriteriaResponse"/>
 </message>
 <message name="RetrieveReportByIdentity">
  <part name="parameters" element="ns1:RetrieveReportByIdentity"/>
 </message>
 <message name="RetrieveReportByIdentityResponse">
  <part name="parameters" element="ns1:RetrieveReportByIdentityResponse"/>
 </message>
 <message name="RetrieveReportsByCriteria">
  <part name="parameters" element="ns1:RetrieveReportsByCriteria"/>
 </message>
 <message name="RetrieveReportsByCriteriaResponse">
  <part name="parameters" element="ns1:RetrieveReportsByCriteriaResponse"/>
 </message>
 <message name="SaveReport">
  <part name="parameters" element="ns1:SaveReport"/>
 </message>
 <message name="SaveReportResponse">
  <part name="parameters" element="ns1:SaveReportResponse"/>
 </message>
 <message name="DeleteReport">
  <part name="parameters" element="ns1:DeleteReport"/>
 </message>
 <message name="DeleteReportResponse">
  <part name="parameters" element="ns1:DeleteReportResponse"/>
 </message>
 <message name="RetrieveRouteNotesByCriteria">
  <part name="parameters" element="ns1:RetrieveRouteNotesByCriteria"/>
 </message>
 <message name="RetrieveRouteNotesByCriteriaResponse">
  <part name="parameters" element="ns1:RetrieveRouteNotesByCriteriaResponse"/>
 </message>
 <message name="RetrieveCannedTextMessagesByCriteria">
  <part name="parameters" element="ns1:RetrieveCannedTextMessagesByCriteria"/>
 </message>
 <message name="RetrieveCannedTextMessagesByCriteriaResponse">
  <part name="parameters"
        element="ns1:RetrieveCannedTextMessagesByCriteriaResponse"/>
 </message>
 <message name="RetrieveRouteDailyStatsByCriteria">
  <part name="parameters" element="ns1:RetrieveRouteDailyStatsByCriteria"/>
 </message>
 <message name="RetrieveRouteDailyStatsByCriteriaResponse">
  <part name="parameters"
        element="ns1:RetrieveRouteDailyStatsByCriteriaResponse"/>
 </message>
 <message name="ConvertTimestamp">
  <part name="parameters" element="ns1:ConvertTimestamp"/>
 </message>
 <message name="ConvertTimestampResponse">
  <part name="parameters" element="ns1:ConvertTimestampResponse"/>
 </message>
 <message name="ConvertTimestamps">
  <part name="parameters" element="ns1:ConvertTimestamps"/>
 </message>
 <message name="ConvertTimestampsResponse">
  <part name="parameters" element="ns1:ConvertTimestampsResponse"/>
 </message>
 <message name="ReturnFaultRequest">
  <part name="parameters" element="ns1:ReturnFault"/>
 </message>
 <message name="ReturnFaultResponse">
  <part name="parameters" element="ns1:ReturnFaultResponse"/>
 </message>
 <message name="CalculateTimeDist">
  <part name="parameters" element="ns1:CalculateTimeDist"/>
 </message>
 <message name="CalculateTimeDistResponse">
  <part name="parameters" element="ns1:CalculateTimeDistResponse"/>
 </message>
 <message name="SaveRegionConfig">
  <part name="parameters" element="ns1:SaveRegionConfig"/>
 </message>
 <message name="SaveRegionConfigResponse">
  <part name="parameters" element="ns1:SaveRegionConfigResponse"/>
 </message>
 <message name="RetrieveRegionConfig">
  <part name="parameters" element="ns1:RetrieveRegionConfig"/>
 </message>
 <message name="RetrieveRegionConfigResponse">
  <part name="parameters" element="ns1:RetrieveRegionConfigResponse"/>
 </message>
 <message name="SaveUserConfig">
  <part name="parameters" element="ns1:SaveUserConfig"/>
 </message>
 <message name="SaveUserConfigResponse">
  <part name="parameters" element="ns1:SaveUserConfigResponse"/>
 </message>
 <message name="RetrieveUserConfig">
  <part name="parameters" element="ns1:RetrieveUserConfig"/>
 </message>
 <message name="RetrieveUserConfigResponse">
  <part name="parameters" element="ns1:RetrieveUserConfigResponse"/>
 </message>
 <message name="SaveGlobalConfig">
  <part name="parameters" element="ns1:SaveGlobalConfig"/>
 </message>
 <message name="SaveGlobalConfigResponse">
  <part name="parameters" element="ns1:SaveGlobalConfigResponse"/>
 </message>
 <message name="RetrieveGlobalConfig">
  <part name="parameters" element="ns1:RetrieveGlobalConfig"/>
 </message>
 <message name="RetrieveGlobalConfigResponse">
  <part name="parameters" element="ns1:RetrieveGlobalConfigResponse"/>
 </message>
 <message name="RetrieveRoutingSessionsByCriteria">
  <part name="parameters" element="ns1:RetrieveRoutingSessionsByCriteria"/>
 </message>
 <message name="RetrieveRoutingSessionsByCriteriaResponse">
  <part name="parameters"
        element="ns1:RetrieveRoutingSessionsByCriteriaResponse"/>
 </message>
 <message name="RetrieveRoutingSessionByIdentity">
  <part name="parameters" element="ns1:RetrieveRoutingSessionByIdentity"/>
 </message>
 <message name="RetrieveRoutingSessionByIdentityResponse">
  <part name="parameters"
        element="ns1:RetrieveRoutingSessionByIdentityResponse"/>
 </message>
 <message name="RetrieveRoutingRoutesByCriteria">
  <part name="parameters" element="ns1:RetrieveRoutingRoutesByCriteria"/>
 </message>
 <message name="RetrieveRoutingRoutesByCriteriaResponse">
  <part name="parameters"
        element="ns1:RetrieveRoutingRoutesByCriteriaResponse"/>
 </message>
 <message name="RetrieveRoutingRouteByIdentity">
  <part name="parameters" element="ns1:RetrieveRoutingRouteByIdentity"/>
 </message>
 <message name="RetrieveRoutingRoutesByIdentityResponse">
  <part name="parameters"
        element="ns1:RetrieveRoutingRoutesByIdentityResponse"/>
 </message>
 <message name="RetrieveRoutingStopByIdentity">
  <part name="parameters" element="ns1:RetrieveRoutingStopByIdentity"/>
 </message>
 <message name="RetrieveRoutingStopByIdentityResponse">
  <part name="parameters" element="ns1:RetrieveRoutingStopByIdentityResponse"/>
 </message>
 <message name="RetrieveRoutingUnassignsByCriteria">
  <part name="parameters" element="ns1:RetrieveRoutingUnassignsByCriteria"/>
 </message>
 <message name="RetrieveRoutingUnassignedsResponse">
  <part name="parameters" element="ns1:RetrieveRoutingUnassignedsResponse"/>
 </message>
 <message name="RetrieveRoutingLocationsWithOrders">
  <part name="parameters" element="ns1:RetrieveRoutingLocationsWithOrders"/>
 </message>
 <message name="RetrieveRoutingLocationsWithOrdersResponse">
  <part name="parameters"
        element="ns1:RetrieveRoutingLocationsWithOrdersResponse"/>
 </message>
 <message name="RetrieveRoutingOrderByIdentity">
  <part name="parameters" element="ns1:RetrieveRoutingOrderByIdentity"/>
 </message>
 <message name="RetrieveRoutingOrderByIdentityResponse">
  <part name="parameters" element="ns1:RetrieveRoutingOrderByIdentityResponse"/>
 </message>
 <message name="SaveRoutingImportOrders">
  <part name="parameters" element="ns1:SaveRoutingImportOrders"/>
 </message>
 <message name="SaveRoutingImportOrdersResponse">
  <part name="parameters" element="ns1:SaveRoutingImportOrdersResponse"/>
 </message>
 <message name="RetrieveRoutingImportOrderByIdentity">
  <part name="parameters" element="ns1:RetrieveRoutingImportOrderByIdentity"/>
 </message>
 <message name="RetrieveRoutingImportOrderByIdentityResponse">
  <part name="parameters"
        element="ns1:RetrieveRoutingImportOrderByIdentityResponse"/>
 </message>
 <message name="RetrieveRoutingImportOrdersByCriteria">
  <part name="parameters" element="ns1:RetrieveRoutingImportOrdersByCriteria"/>
 </message>
 <message name="RetrieveRoutingImportOrdersByCriteriaResponse">
  <part name="parameters"
        element="ns1:RetrieveRoutingImportOrdersByCriteriaResponse"/>
 </message>
 <message name="RetrieveRoutingStopsByCriteria">
  <part name="parameters" element="ns1:RetrieveRoutingStopsByCriteria"/>
 </message>
 <message name="RetrieveRoutingStopsByCriteriaResponse">
  <part name="parameters" element="ns1:RetrieveRoutingStopsByCriteriaResponse"/>
 </message>
 <message name="RetrieveRoutingRouteDailyStatsByCriteria">
  <part name="parameters"
        element="ns1:RetrieveRoutingRouteDailyStatsByCriteria"/>
 </message>
 <message name="RetrieveRoutingRouteDailyStatsByCriteriaResponse">
  <part name="parameters"
        element="ns1:RetrieveRoutingRouteDailyStatsByCriteriaResponse"/>
 </message>
 <message name="RetrieveNotificationsByRecipientIdentity">
  <part name="parameters"
        element="ns1:RetrieveNotificationsByRecipientIdentity"/>
 </message>
 <message name="RetrieveNotificationsByRecipientIdentityResponse">
  <part name="parameters"
        element="ns1:RetrieveNotificationsByRecipientIdentityResponse"/>
 </message>
 <message name="DeleteNotifications">
  <part name="parameters" element="ns1:DeleteNotifications"/>
 </message>
 <message name="DeleteNotificationsResponse">
  <part name="parameters" element="ns1:DeleteNotificationsResponse"/>
 </message>
 <message name="UnlockNotifications">
  <part name="parameters" element="ns1:UnlockNotifications"/>
 </message>
 <message name="UnlockNotificationsResponse">
  <part name="parameters" element="ns1:UnlockNotificationsResponse"/>
 </message>
 <message name="UpdateDeliveryDetails">
  <part name="parameters" element="ns1:UpdateDeliveryDetails"/>
 </message>
 <message name="UpdateDeliveryDetailsResponse">
  <part name="parameters" element="ns1:UpdateDeliveryDetailsResponse"/>
 </message>
 <message name="StartRoute">
  <part name="parameters" element="ns1:StartRoute"/>
 </message>
 <message name="StartRouteResponse">
  <part name="parameters" element="ns1:StartRouteResponse"/>
 </message>
 <message name="DepartOrigin">
  <part name="parameters" element="ns1:DepartOrigin"/>
 </message>
 <message name="DepartOriginResponse">
  <part name="parameters" element="ns1:DepartOriginResponse"/>
 </message>
 <message name="ArriveDestination">
  <part name="parameters" element="ns1:ArriveDestination"/>
 </message>
 <message name="ArriveDestinationReponse">
  <part name="parameters" element="ns1:ArriveDestinationReponse"/>
 </message>
 <message name="CompleteRoute">
  <part name="parameters" element="ns1:CompleteRoute"/>
 </message>
 <message name="CompleteRouteResponse">
  <part name="parameters" element="ns1:CompleteRouteResponse"/>
 </message>
 <message name="ArriveStop">
  <part name="parameters" element="ns1:ArriveStop"/>
 </message>
 <message name="ArriveStopResponse">
  <part name="parameters" element="ns1:ArriveStopResponse"/>
 </message>
 <message name="DepartStop">
  <part name="parameters" element="ns1:DepartStop"/>
 </message>
 <message name="DepartStopResponse">
  <part name="parameters" element="ns1:DepartStopResponse"/>
 </message>
 <message name="SequenceStop">
  <part name="parameters" element="ns1:SequenceStop"/>
 </message>
 <message name="StopSequenceResponse">
  <part name="parameters" element="ns1:StopSequenceResponse"/>
 </message>
 <message name="CancelStop">
  <part name="parameters" element="ns1:CancelStop"/>
 </message>
 <message name="StopCancelResponse">
  <part name="parameters" element="ns1:StopCancelResponse"/>
 </message>
 <message name="UpdateRoutePosition">
  <part name="parameters" element="ns1:UpdateRoutePosition"/>
 </message>
 <message name="UpdateRoutePositionResponse">
  <part name="parameters" element="ns1:UpdateRoutePositionResponse"/>
 </message>
 <message name="TextMessage">
  <part name="parameters" element="ns1:TextMessage"/>
 </message>
 <message name="TextMessageResponse">
  <part name="parameters" element="ns1:TextMessageResponse"/>
 </message>
 <message name="SchedulerInitializeRequest">
  <part name="parameters" element="ns1:SchedulerInitialize"/>
 </message>
 <message name="SchedulerInitializeResponse">
  <part name="parameters" element="ns1:SchedulerInitializeResponse"/>
 </message>
 <message name="SchedulerInitializeUsingCalendarRequest">
  <part name="parameters" element="ns1:SchedulerInitializeUsingCalendar"/>
 </message>
 <message name="SchedulerInitializeUsingCalendarResponse">
  <part name="parameters"
        element="ns1:SchedulerInitializeUsingCalendarResponse"/>
 </message>
 <message name="SchedulerAnalyzeOrder">
  <part name="parameters" element="ns1:SchedulerAnalyzeOrder"/>
 </message>
 <message name="SchedulerAnalyzeOrderResponse">
  <part name="parameters" element="ns1:SchedulerAnalyzeOrderResponse"/>
 </message>
 <message name="SchedulerAnalyzeOrderUsingDynamicWindows">
  <part name="parameters"
        element="ns1:SchedulerAnalyzeOrderUsingDynamicWindows"/>
 </message>
 <message name="SchedulerAnalyzeOrderUsingDynamicWindowsResponse">
  <part name="parameters"
        element="ns1:SchedulerAnalyzeOrderUsingDynamicWindowsResponse"/>
 </message>
 <message name="SchedulerReserveOrder">
  <part name="parameters" element="ns1:SchedulerReserveOrder"/>
 </message>
 <message name="SchedulerReserveOrderResponse">
  <part name="parameters" element="ns1:SchedulerReserveOrderResponse"/>
 </message>
 <message name="SchedulerConfirmOrder">
  <part name="parameters" element="ns1:SchedulerConfirmOrder"/>
 </message>
 <message name="SchedulerConfirmOrderResponse">
  <part name="parameters" element="ns1:SchedulerConfirmOrderResponse"/>
 </message>
 <message name="SchedulerCancelOrder">
  <part name="parameters" element="ns1:SchedulerCancelOrder"/>
 </message>
 <message name="SchedulerCancelOrderResponse">
  <part name="parameters" element="ns1:SchedulerCancelOrderResponse"/>
 </message>
 <message name="SchedulerPurge">
  <part name="parameters" element="ns1:SchedulerPurge"/>
 </message>
 <message name="SchedulerPurgeResponse">
  <part name="parameters" element="ns1:SchedulerPurgeResponse"/>
 </message>
 <message name="SchedulerExportRoutes">
  <part name="parameters" element="ns1:SchedulerExportRoutes"/>
 </message>
 <message name="SchedulerExportRoutesResponse">
  <part name="parameters" element="ns1:SchedulerExportRoutesResponse"/>
 </message>
 <message name="SchedulerIsExcludingCutoffRoutes">
  <part name="parameters" element="ns1:SchedulerIsExcludingCutoffRoutes"/>
 </message>
 <message name="SchedulerIsExcludingCutoffRoutesResponse">
  <part name="parameters"
        element="ns1:SchedulerIsExcludingCutoffRoutesResponse"/>
 </message>
 <message name="SchedulerExcludeCutoffRoutes">
  <part name="parameters" element="ns1:SchedulerExcludeCutoffRoutes"/>
 </message>
 <message name="SchedulerExcludeCutoffRoutesResponse">
  <part name="parameters" element="ns1:SchedulerExcludeCutoffRoutesResponse"/>
 </message>
 <message name="SchedulerOptimizeOrders">
  <part name="parameters" element="ns1:SchedulerOptimizeOrders"/>
 </message>
 <message name="SchedulerOptimizeOrdersResponse">
  <part name="parameters" element="ns1:SchedulerOptimizeOrdersResponse"/>
 </message>
 <message name="SchedulerExtendOrderReservation">
  <part name="parameters" element="ns1:SchedulerExtendOrderReservation"/>
 </message>
 <message name="SchedulerExtendOrderReservationResponse">
  <part name="parameters"
        element="ns1:SchedulerExtendOrderReservationResponse"/>
 </message>
 <message name="SchedulerSendRoutesToRoadnet">
  <part name="parameters" element="ns1:SchedulerSendRoutesToRoadnet"/>
 </message>
 <message name="SchedulerSendRoutesToRoadnetResponse">
  <part name="parameters" element="ns1:SchedulerSendRoutesToRoadnetResponse"/>
 </message>
 <portType name="TransportationWebService">
  <operation name="VersionInformation">
   <documentation>Service definition of function ns1__VersionInformation</documentation>
   <input message="tns:VersionInformationRequest"/>
   <output message="tns:VersionInformationResponse"/>
  </operation>
  <operation name="AuthenticateUser">
   <documentation>Service definition of function ns1__AuthenticateUser</documentation>
   <input message="tns:AuthenticateUser"/>
   <output message="tns:AuthenticateUserResponse"/>
  </operation>
  <operation name="ChangeUserPassword">
   <documentation>Service definition of function ns1__ChangeUserPassword</documentation>
   <input message="tns:ChangeUserPassword"/>
   <output message="tns:ChangeUserPasswordResponse"/>
  </operation>
  <operation name="AddRICUser">
   <documentation>Service definition of function ns1__AddRICUser</documentation>
   <input message="tns:AddRICUser"/>
   <output message="tns:AddRICUserResponse"/>
  </operation>
  <operation name="RetrievePermissionsForUser">
   <documentation>Service definition of function ns1__RetrievePermissionsForUser</documentation>
   <input message="tns:RetrievePermissionsForUser"/>
   <output message="tns:RetrievePermissionsForUserResponse"/>
  </operation>
  <operation name="RetrieveUserByUserID">
   <documentation>Service definition of function ns1__RetrieveUserByUserID</documentation>
   <input message="tns:RetrieveUserByUserID"/>
   <output message="tns:RetrieveUserByUserIDResponse"/>
  </operation>
  <operation name="AllowAdditionOfRICUsers">
   <documentation>Service definition of function ns1__AllowAdditionOfRICUsers</documentation>
   <input message="tns:AllowAdditionOfRICUsersRequest"/>
   <output message="tns:AllowAdditionOfRICUsersResponse"/>
  </operation>
  <operation name="RetrieveRegionByIdentity">
   <documentation>Service definition of function ns1__RetrieveRegionByIdentity</documentation>
   <input message="tns:RetrieveRegionByIdentity"/>
   <output message="tns:RetrieveRegionByIdentityResponse"/>
  </operation>
  <operation name="RetrieveRegionsByCriteria">
   <documentation>Service definition of function ns1__RetrieveRegionsByCriteria</documentation>
   <input message="tns:RetrieveRegionsByCriteria"/>
   <output message="tns:RetrieveRegionsByCriteriaResponse"/>
  </operation>
  <operation name="SaveRegion">
   <documentation>Service definition of function ns1__SaveRegion</documentation>
   <input message="tns:SaveRegion"/>
   <output message="tns:SaveRegionResponse"/>
  </operation>
  <operation name="RetrieveRegionOptions">
   <documentation>Service definition of function ns1__RetrieveRegionOptions</documentation>
   <input message="tns:RetrieveRegionOptions"/>
   <output message="tns:RetrieveRegionOptionsResponse"/>
  </operation>
  <operation name="RetrieveRouteByIdentity">
   <documentation>Service definition of function ns1__RetrieveRouteByIdentity</documentation>
   <input message="tns:RetrieveRouteByIdentity"/>
   <output message="tns:RetrieveRouteByIdentityResponse"/>
  </operation>
  <operation name="RetrieveRoutesByCriteria">
   <documentation>Service definition of function ns1__RetrieveRoutesByCriteria</documentation>
   <input message="tns:RetrieveRoutesByCriteria"/>
   <output message="tns:RetrieveRoutesByCriteriaResponse"/>
  </operation>
  <operation name="RetrieveRouteForDevice">
   <documentation>Service definition of function ns1__RetrieveRouteForDevice</documentation>
   <input message="tns:RetrieveRouteForDevice"/>
   <output message="tns:RetrieveRouteForDeviceResponse"/>
  </operation>
  <operation name="SaveRoute">
   <documentation>Service definition of function ns1__SaveRoute</documentation>
   <input message="tns:SaveRoute"/>
   <output message="tns:SaveRouteResponse"/>
  </operation>
  <operation name="AssignEquipment">
   <documentation>Service definition of function ns1__AssignEquipment</documentation>
   <input message="tns:AssignEquipment"/>
   <output message="tns:AssignEquipmentResponse"/>
  </operation>
  <operation name="RetrieveAssignedEquipment">
   <documentation>Service definition of function ns1__RetrieveAssignedEquipment</documentation>
   <input message="tns:RetrieveAssignedEquipment"/>
   <output message="tns:RetrieveAssignedEquipmentResponse"/>
  </operation>
  <operation name="AssignDrivers">
   <documentation>Service definition of function ns1__AssignDrivers</documentation>
   <input message="tns:AssignDrivers"/>
   <output message="tns:AssignDriversResponse"/>
  </operation>
  <operation name="RetrieveAssignedDrivers">
   <documentation>Service definition of function ns1__RetrieveAssignedDrivers</documentation>
   <input message="tns:RetrieveAssignedDrivers"/>
   <output message="tns:RetrieveAssignedDriversResponse"/>
  </operation>
  <operation name="RemoveRoute">
   <documentation>Service definition of function ns1__RemoveRoute</documentation>
   <input message="tns:RemoveRoute"/>
   <output message="tns:RemoveRouteResponse"/>
  </operation>
  <operation name="SendTextMessageToDriver">
   <documentation>Service definition of function ns1__SendTextMessageToDriver</documentation>
   <input message="tns:SendTextMessageToDriver"/>
   <output message="tns:SendTextMessageToDriverResponse"/>
  </operation>
  <operation name="RetrieveStopByIdentity">
   <documentation>Service definition of function ns1__RetrieveStopByIdentity</documentation>
   <input message="tns:RetrieveStopByIdentity"/>
   <output message="tns:RetrieveStopByIdentityResponse"/>
  </operation>
  <operation name="RetrieveStopsByCriteria">
   <documentation>Service definition of function ns1__RetrieveStopsByCriteria</documentation>
   <input message="tns:RetrieveStopsByCriteria"/>
   <output message="tns:RetrieveStopsByCriteriaResponse"/>
  </operation>
  <operation name="SaveStop">
   <documentation>Service definition of function ns1__SaveStop</documentation>
   <input message="tns:SaveStop"/>
   <output message="tns:SaveStopResponse"/>
  </operation>
  <operation name="RetrieveStopSignature">
   <documentation>Service definition of function ns1__RetrieveStopSignature</documentation>
   <input message="tns:RetrieveStopSignature"/>
   <output message="tns:RetrieveStopSignatureResponse"/>
  </operation>
  <operation name="SaveStopSignature">
   <documentation>Service definition of function ns1__SaveStopSignature</documentation>
   <input message="tns:SaveStopSignature"/>
   <output message="tns:SaveStopSignatureResponse"/>
  </operation>
  <operation name="RetrieveUnassignsByCriteria">
   <documentation>Service definition of function ns1__RetrieveUnassignsByCriteria</documentation>
   <input message="tns:RetrieveUnassignsByCriteria"/>
   <output message="tns:RetrieveUnassignsCriteriaResponse"/>
  </operation>
  <operation name="SaveUnassigned">
   <documentation>Service definition of function ns1__SaveUnassigned</documentation>
   <input message="tns:SaveUnassigned"/>
   <output message="tns:SaveUnassignedResponse"/>
  </operation>
  <operation name="SuggestRoute">
   <documentation>Service definition of function ns1__SuggestRoute</documentation>
   <input message="tns:SuggestRoute"/>
   <output message="tns:SuggestRouteResponse"/>
  </operation>
  <operation name="PlaceUnassigned">
   <documentation>Service definition of function ns1__PlaceUnassigned</documentation>
   <input message="tns:PlaceUnassigned"/>
   <output message="tns:PlaceUnassignedResponse"/>
  </operation>
  <operation name="DeleteUnassigned">
   <documentation>Service definition of function ns1__DeleteUnassigned</documentation>
   <input message="tns:DeleteUnassigned"/>
   <output message="tns:DeleteUnassignedResponse"/>
  </operation>
  <operation name="UnassignStop">
   <documentation>Service definition of function ns1__UnassignStop</documentation>
   <input message="tns:UnassignStop"/>
   <output message="tns:UnassignStopResponse"/>
  </operation>
  <operation name="SaveLocations">
   <documentation>Service definition of function ns1__SaveLocations</documentation>
   <input message="tns:SaveLocations"/>
   <output message="tns:SaveLocationsResponse"/>
  </operation>
  <operation name="RetrieveLocationByIdentity">
   <documentation>Service definition of function ns1__RetrieveLocationByIdentity</documentation>
   <input message="tns:RetrieveLocationByIdentity"/>
   <output message="tns:RetrieveLocationByIdentityResponse"/>
  </operation>
  <operation name="RetrieveLocationsByCriteria">
   <documentation>Service definition of function ns1__RetrieveLocationsByCriteria</documentation>
   <input message="tns:RetrieveLocationsByCriteria"/>
   <output message="tns:RetrieveLocationsByCriteriaResponse"/>
  </operation>
  <operation name="RetrieveEquipmentTypeByCriteria">
   <documentation>Service definition of function
                  ns1__RetrieveEquipmentTypeByCriteria</documentation>
   <input message="tns:RetrieveEquipmentTypeByCriteria"/>
   <output message="tns:RetrieveEquipmentTypeByCriteriaResponse"/>
  </operation>
  <operation name="RetrieveEquipmentTypeByIdentity">
   <documentation>Service definition of function
                  ns1__RetrieveEquipmentTypeByIdentity</documentation>
   <input message="tns:RetrieveEquipmentTypeByIdentity"/>
   <output message="tns:RetrieveEquipmentTypeByIdentityResponse"/>
  </operation>
  <operation name="RetrieveEquipmentByIdentity">
   <documentation>Service definition of function ns1__RetrieveEquipmentByIdentity</documentation>
   <input message="tns:RetrieveEquipmentByIdentity"/>
   <output message="tns:RetrieveEquipmentByIdentityResponse"/>
  </operation>
  <operation name="RetrieveEquipmentByCriteria">
   <documentation>Service definition of function ns1__RetrieveEquipmentByCriteria</documentation>
   <input message="tns:RetrieveEquipmentByCriteria"/>
   <output message="tns:RetrieveEquipmentByCriteriaResponse"/>
  </operation>
  <operation name="SaveEquipment">
   <documentation>Service definition of function ns1__SaveEquipment</documentation>
   <input message="tns:SaveEquipment"/>
   <output message="tns:SaveEquipmentResponse"/>
  </operation>
  <operation name="RetrieveEmployeeByIdentity">
   <documentation>Service definition of function ns1__RetrieveEmployeeByIdentity</documentation>
   <input message="tns:RetrieveEmployeeByIdentity"/>
   <output message="tns:RetrieveEmployeeByIdentityResponse"/>
  </operation>
  <operation name="RetrieveEmployeesByCriteria">
   <documentation>Service definition of function ns1__RetrieveEmployeesByCriteria</documentation>
   <input message="tns:RetrieveEmployeesByCriteria"/>
   <output message="tns:RetrieveEmployeesByCriteriaResponse"/>
  </operation>
  <operation name="SaveEmployee">
   <documentation>Service definition of function ns1__SaveEmployee</documentation>
   <input message="tns:SaveEmployee"/>
   <output message="tns:SaveEmployeeResponse"/>
  </operation>
  <operation name="RetrieveProductsPurchased">
   <documentation>Service definition of function ns1__RetrieveProductsPurchased</documentation>
   <input message="tns:RetrieveProductsPurchasedRequest"/>
   <output message="tns:RetrieveProductsPurchasedResponse"/>
  </operation>
  <operation name="RetrieveRouteSurveyResults">
   <documentation>Service definition of function ns1__RetrieveRouteSurveyResults</documentation>
   <input message="tns:RetrieveRouteSurveyResults"/>
   <output message="tns:RetrieveRouteSurveyResultsResponse"/>
  </operation>
  <operation name="RetrieveStopSurveyResults">
   <documentation>Service definition of function ns1__RetrieveStopSurveyResults</documentation>
   <input message="tns:RetrieveStopSurveyResults"/>
   <output message="tns:RetrieveStopSurveyResultsResponse"/>
  </operation>
  <operation name="RetrieveSurveys">
   <documentation>Service definition of function ns1__RetrieveSurveys</documentation>
   <input message="tns:RetrieveSurveys"/>
   <output message="tns:RetrieveSurveysResponse"/>
  </operation>
  <operation name="RetrievePositionHistoryByCriteria">
   <documentation>Service definition of function
                  ns1__RetrievePositionHistoryByCriteria</documentation>
   <input message="tns:RetrievePositionHistoryByCriteria"/>
   <output message="tns:RetrievePositionHistoryByCriteriaResponse"/>
  </operation>
  <operation name="RetrieveReportByIdentity">
   <documentation>Service definition of function ns1__RetrieveReportByIdentity</documentation>
   <input message="tns:RetrieveReportByIdentity"/>
   <output message="tns:RetrieveReportByIdentityResponse"/>
  </operation>
  <operation name="RetrieveReportsByCriteria">
   <documentation>Service definition of function ns1__RetrieveReportsByCriteria</documentation>
   <input message="tns:RetrieveReportsByCriteria"/>
   <output message="tns:RetrieveReportsByCriteriaResponse"/>
  </operation>
  <operation name="SaveReport">
   <documentation>Service definition of function ns1__SaveReport</documentation>
   <input message="tns:SaveReport"/>
   <output message="tns:SaveReportResponse"/>
  </operation>
  <operation name="DeleteReport">
   <documentation>Service definition of function ns1__DeleteReport</documentation>
   <input message="tns:DeleteReport"/>
   <output message="tns:DeleteReportResponse"/>
  </operation>
  <operation name="RetrieveRouteNotesByCriteria">
   <documentation>Service definition of function
                  ns1__RetrieveRouteNotesByCriteria</documentation>
   <input message="tns:RetrieveRouteNotesByCriteria"/>
   <output message="tns:RetrieveRouteNotesByCriteriaResponse"/>
  </operation>
  <operation name="RetrieveCannedTextMessagesByCriteria">
   <documentation>Service definition of function
                  ns1__RetrieveCannedTextMessagesByCriteria</documentation>
   <input message="tns:RetrieveCannedTextMessagesByCriteria"/>
   <output message="tns:RetrieveCannedTextMessagesByCriteriaResponse"/>
  </operation>
  <operation name="RetrieveRouteDailyStatsByCriteria">
   <documentation>Service definition of function
                  ns1__RetrieveRouteDailyStatsByCriteria</documentation>
   <input message="tns:RetrieveRouteDailyStatsByCriteria"/>
   <output message="tns:RetrieveRouteDailyStatsByCriteriaResponse"/>
  </operation>
  <operation name="ConvertTimestamp">
   <documentation>Service definition of function ns1__ConvertTimestamp</documentation>
   <input message="tns:ConvertTimestamp"/>
   <output message="tns:ConvertTimestampResponse"/>
  </operation>
  <operation name="ConvertTimestamps">
   <documentation>Service definition of function ns1__ConvertTimestamps</documentation>
   <input message="tns:ConvertTimestamps"/>
   <output message="tns:ConvertTimestampsResponse"/>
  </operation>
  <operation name="ReturnFault">
   <documentation>Service definition of function ns1__ReturnFault</documentation>
   <input message="tns:ReturnFaultRequest"/>
   <output message="tns:ReturnFaultResponse"/>
  </operation>
  <operation name="CalculateTimeDist">
   <documentation>Service definition of function ns1__CalculateTimeDist</documentation>
   <input message="tns:CalculateTimeDist"/>
   <output message="tns:CalculateTimeDistResponse"/>
  </operation>
  <operation name="SaveRegionConfig">
   <documentation>Service definition of function ns1__SaveRegionConfig</documentation>
   <input message="tns:SaveRegionConfig"/>
   <output message="tns:SaveRegionConfigResponse"/>
  </operation>
  <operation name="RetrieveRegionConfig">
   <documentation>Service definition of function ns1__RetrieveRegionConfig</documentation>
   <input message="tns:RetrieveRegionConfig"/>
   <output message="tns:RetrieveRegionConfigResponse"/>
  </operation>
  <operation name="SaveUserConfig">
   <documentation>Service definition of function ns1__SaveUserConfig</documentation>
   <input message="tns:SaveUserConfig"/>
   <output message="tns:SaveUserConfigResponse"/>
  </operation>
  <operation name="RetrieveUserConfig">
   <documentation>Service definition of function ns1__RetrieveUserConfig</documentation>
   <input message="tns:RetrieveUserConfig"/>
   <output message="tns:RetrieveUserConfigResponse"/>
  </operation>
  <operation name="SaveGlobalConfig">
   <documentation>Service definition of function ns1__SaveGlobalConfig</documentation>
   <input message="tns:SaveGlobalConfig"/>
   <output message="tns:SaveGlobalConfigResponse"/>
  </operation>
  <operation name="RetrieveGlobalConfig">
   <documentation>Service definition of function ns1__RetrieveGlobalConfig</documentation>
   <input message="tns:RetrieveGlobalConfig"/>
   <output message="tns:RetrieveGlobalConfigResponse"/>
  </operation>
  <operation name="RetrieveRoutingSessionsByCriteria">
   <documentation>Service definition of function
                  ns1__RetrieveRoutingSessionsByCriteria</documentation>
   <input message="tns:RetrieveRoutingSessionsByCriteria"/>
   <output message="tns:RetrieveRoutingSessionsByCriteriaResponse"/>
  </operation>
  <operation name="RetrieveRoutingSessionByIdentity">
   <documentation>Service definition of function
                  ns1__RetrieveRoutingSessionByIdentity</documentation>
   <input message="tns:RetrieveRoutingSessionByIdentity"/>
   <output message="tns:RetrieveRoutingSessionByIdentityResponse"/>
  </operation>
  <operation name="RetrieveRoutingRoutesByCriteria">
   <documentation>Service definition of function
                  ns1__RetrieveRoutingRoutesByCriteria</documentation>
   <input message="tns:RetrieveRoutingRoutesByCriteria"/>
   <output message="tns:RetrieveRoutingRoutesByCriteriaResponse"/>
  </operation>
  <operation name="RetrieveRoutingRouteByIdentity">
   <documentation>Service definition of function
                  ns1__RetrieveRoutingRouteByIdentity</documentation>
   <input message="tns:RetrieveRoutingRouteByIdentity"/>
   <output message="tns:RetrieveRoutingRoutesByIdentityResponse"/>
  </operation>
  <operation name="RetrieveRoutingStopByIdentity">
   <documentation>Service definition of function
                  ns1__RetrieveRoutingStopByIdentity</documentation>
   <input message="tns:RetrieveRoutingStopByIdentity"/>
   <output message="tns:RetrieveRoutingStopByIdentityResponse"/>
  </operation>
  <operation name="RetrieveRoutingUnassignsByCriteria">
   <documentation>Service definition of function
                  ns1__RetrieveRoutingUnassignsByCriteria</documentation>
   <input message="tns:RetrieveRoutingUnassignsByCriteria"/>
   <output message="tns:RetrieveRoutingUnassignedsResponse"/>
  </operation>
  <operation name="RetrieveRoutingLocationsWithOrders">
   <documentation>Service definition of function
                  ns1__RetrieveRoutingLocationsWithOrders</documentation>
   <input message="tns:RetrieveRoutingLocationsWithOrders"/>
   <output message="tns:RetrieveRoutingLocationsWithOrdersResponse"/>
  </operation>
  <operation name="RetrieveRoutingOrderByIdentity">
   <documentation>Service definition of function
                  ns1__RetrieveRoutingOrderByIdentity</documentation>
   <input message="tns:RetrieveRoutingOrderByIdentity"/>
   <output message="tns:RetrieveRoutingOrderByIdentityResponse"/>
  </operation>
  <operation name="SaveRoutingImportOrders">
   <documentation>Service definition of function ns1__SaveRoutingImportOrders</documentation>
   <input message="tns:SaveRoutingImportOrders"/>
   <output message="tns:SaveRoutingImportOrdersResponse"/>
  </operation>
  <operation name="RetrieveRoutingImportOrderByIdentity">
   <documentation>Service definition of function
                  ns1__RetrieveRoutingImportOrderByIdentity</documentation>
   <input message="tns:RetrieveRoutingImportOrderByIdentity"/>
   <output message="tns:RetrieveRoutingImportOrderByIdentityResponse"/>
  </operation>
  <operation name="RetrieveRoutingImportOrdersByCriteria">
   <documentation>Service definition of function
                  ns1__RetrieveRoutingImportOrdersByCriteria</documentation>
   <input message="tns:RetrieveRoutingImportOrdersByCriteria"/>
   <output message="tns:RetrieveRoutingImportOrdersByCriteriaResponse"/>
  </operation>
  <operation name="RetrieveRoutingStopsByCriteria">
   <documentation>Service definition of function
                  ns1__RetrieveRoutingStopsByCriteria</documentation>
   <input message="tns:RetrieveRoutingStopsByCriteria"/>
   <output message="tns:RetrieveRoutingStopsByCriteriaResponse"/>
  </operation>
  <operation name="RetrieveRoutingRouteDailyStatsByCriteria">
   <documentation>Service definition of function
                  ns1__RetrieveRoutingRouteDailyStatsByCriteria</documentation>
   <input message="tns:RetrieveRoutingRouteDailyStatsByCriteria"/>
   <output message="tns:RetrieveRoutingRouteDailyStatsByCriteriaResponse"/>
  </operation>
  <operation name="RetrieveNotificationsByRecipientIdentity">
   <documentation>Service definition of function
                  ns1__RetrieveNotificationsByRecipientIdentity</documentation>
   <input message="tns:RetrieveNotificationsByRecipientIdentity"/>
   <output message="tns:RetrieveNotificationsByRecipientIdentityResponse"/>
  </operation>
  <operation name="DeleteNotifications">
   <documentation>Service definition of function ns1__DeleteNotifications</documentation>
   <input message="tns:DeleteNotifications"/>
   <output message="tns:DeleteNotificationsResponse"/>
  </operation>
  <operation name="UnlockNotifications">
   <documentation>Service definition of function ns1__UnlockNotifications</documentation>
   <input message="tns:UnlockNotifications"/>
   <output message="tns:UnlockNotificationsResponse"/>
  </operation>
  <operation name="UpdateDeliveryDetails">
   <documentation>Service definition of function ns1__UpdateDeliveryDetails</documentation>
   <input message="tns:UpdateDeliveryDetails"/>
   <output message="tns:UpdateDeliveryDetailsResponse"/>
  </operation>
  <operation name="StartRoute">
   <documentation>Service definition of function ns1__StartRoute</documentation>
   <input message="tns:StartRoute"/>
   <output message="tns:StartRouteResponse"/>
  </operation>
  <operation name="DepartOrigin">
   <documentation>Service definition of function ns1__DepartOrigin</documentation>
   <input message="tns:DepartOrigin"/>
   <output message="tns:DepartOriginResponse"/>
  </operation>
  <operation name="ArriveDestination">
   <documentation>Service definition of function ns1__ArriveDestination</documentation>
   <input message="tns:ArriveDestination"/>
   <output message="tns:ArriveDestinationReponse"/>
  </operation>
  <operation name="CompleteRoute">
   <documentation>Service definition of function ns1__CompleteRoute</documentation>
   <input message="tns:CompleteRoute"/>
   <output message="tns:CompleteRouteResponse"/>
  </operation>
  <operation name="ArriveStop">
   <documentation>Service definition of function ns1__ArriveStop</documentation>
   <input message="tns:ArriveStop"/>
   <output message="tns:ArriveStopResponse"/>
  </operation>
  <operation name="DepartStop">
   <documentation>Service definition of function ns1__DepartStop</documentation>
   <input message="tns:DepartStop"/>
   <output message="tns:DepartStopResponse"/>
  </operation>
  <operation name="SequenceStop">
   <documentation>Service definition of function ns1__SequenceStop</documentation>
   <input message="tns:SequenceStop"/>
   <output message="tns:StopSequenceResponse"/>
  </operation>
  <operation name="CancelStop">
   <documentation>Service definition of function ns1__CancelStop</documentation>
   <input message="tns:CancelStop"/>
   <output message="tns:StopCancelResponse"/>
  </operation>
  <operation name="UpdateRoutePosition">
   <documentation>Service definition of function ns1__UpdateRoutePosition</documentation>
   <input message="tns:UpdateRoutePosition"/>
   <output message="tns:UpdateRoutePositionResponse"/>
  </operation>
  <operation name="TextMessage">
   <documentation>Service definition of function ns1__TextMessage</documentation>
   <input message="tns:TextMessage"/>
   <output message="tns:TextMessageResponse"/>
  </operation>
  <operation name="SchedulerInitialize">
   <documentation>Service definition of function ns1__SchedulerInitialize</documentation>
   <input message="tns:SchedulerInitializeRequest"/>
   <output message="tns:SchedulerInitializeResponse"/>
  </operation>
  <operation name="SchedulerInitializeUsingCalendar">
   <documentation>Service definition of function
                  ns1__SchedulerInitializeUsingCalendar</documentation>
   <input message="tns:SchedulerInitializeUsingCalendarRequest"/>
   <output message="tns:SchedulerInitializeUsingCalendarResponse"/>
  </operation>
  <operation name="SchedulerAnalyzeOrder">
   <documentation>Service definition of function ns1__SchedulerAnalyzeOrder</documentation>
   <input message="tns:SchedulerAnalyzeOrder"/>
   <output message="tns:SchedulerAnalyzeOrderResponse"/>
  </operation>
  <operation name="SchedulerAnalyzeOrderUsingDynamicWindows">
   <documentation>Service definition of function
                  ns1__SchedulerAnalyzeOrderUsingDynamicWindows</documentation>
   <input message="tns:SchedulerAnalyzeOrderUsingDynamicWindows"/>
   <output message="tns:SchedulerAnalyzeOrderUsingDynamicWindowsResponse"/>
  </operation>
  <operation name="SchedulerReserveOrder">
   <documentation>Service definition of function ns1__SchedulerReserveOrder</documentation>
   <input message="tns:SchedulerReserveOrder"/>
   <output message="tns:SchedulerReserveOrderResponse"/>
  </operation>
  <operation name="SchedulerConfirmOrder">
   <documentation>Service definition of function ns1__SchedulerConfirmOrder</documentation>
   <input message="tns:SchedulerConfirmOrder"/>
   <output message="tns:SchedulerConfirmOrderResponse"/>
  </operation>
  <operation name="SchedulerCancelOrder">
   <documentation>Service definition of function ns1__SchedulerCancelOrder</documentation>
   <input message="tns:SchedulerCancelOrder"/>
   <output message="tns:SchedulerCancelOrderResponse"/>
  </operation>
  <operation name="SchedulerPurge">
   <documentation>Service definition of function ns1__SchedulerPurge</documentation>
   <input message="tns:SchedulerPurge"/>
   <output message="tns:SchedulerPurgeResponse"/>
  </operation>
  <operation name="SchedulerExportRoutes">
   <documentation>Service definition of function ns1__SchedulerExportRoutes</documentation>
   <input message="tns:SchedulerExportRoutes"/>
   <output message="tns:SchedulerExportRoutesResponse"/>
  </operation>
  <operation name="SchedulerIsExcludingCutoffRoutes">
   <documentation>Service definition of function
                  ns1__SchedulerIsExcludingCutoffRoutes</documentation>
   <input message="tns:SchedulerIsExcludingCutoffRoutes"/>
   <output message="tns:SchedulerIsExcludingCutoffRoutesResponse"/>
  </operation>
  <operation name="SchedulerExcludeCutoffRoutes">
   <documentation>Service definition of function
                  ns1__SchedulerExcludeCutoffRoutes</documentation>
   <input message="tns:SchedulerExcludeCutoffRoutes"/>
   <output message="tns:SchedulerExcludeCutoffRoutesResponse"/>
  </operation>
  <operation name="SchedulerOptimizeOrders">
   <documentation>Service definition of function ns1__SchedulerOptimizeOrders</documentation>
   <input message="tns:SchedulerOptimizeOrders"/>
   <output message="tns:SchedulerOptimizeOrdersResponse"/>
  </operation>
  <operation name="SchedulerExtendOrderReservation">
   <documentation>Service definition of function
                  ns1__SchedulerExtendOrderReservation</documentation>
   <input message="tns:SchedulerExtendOrderReservation"/>
   <output message="tns:SchedulerExtendOrderReservationResponse"/>
  </operation>
  <operation name="SchedulerSendRoutesToRoadnet">
   <documentation>Service definition of function
                  ns1__SchedulerSendRoutesToRoadnet</documentation>
   <input message="tns:SchedulerSendRoutesToRoadnet"/>
   <output message="tns:SchedulerSendRoutesToRoadnetResponse"/>
  </operation>
 </portType>
 <binding name="TransportationWebService" type="tns:TransportationWebService">
  <SOAP:binding style="document"
                transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="VersionInformation">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="AuthenticateUser">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="ChangeUserPassword">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="AddRICUser">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrievePermissionsForUser">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveUserByUserID">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="AllowAdditionOfRICUsers">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRegionByIdentity">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRegionsByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SaveRegion">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRegionOptions">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRouteByIdentity">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRoutesByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRouteForDevice">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SaveRoute">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="AssignEquipment">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveAssignedEquipment">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="AssignDrivers">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveAssignedDrivers">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RemoveRoute">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SendTextMessageToDriver">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveStopByIdentity">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveStopsByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SaveStop">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveStopSignature">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SaveStopSignature">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveUnassignsByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SaveUnassigned">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SuggestRoute">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="PlaceUnassigned">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="DeleteUnassigned">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="UnassignStop">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SaveLocations">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveLocationByIdentity">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveLocationsByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveEquipmentTypeByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveEquipmentTypeByIdentity">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveEquipmentByIdentity">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveEquipmentByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SaveEquipment">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveEmployeeByIdentity">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveEmployeesByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SaveEmployee">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveProductsPurchased">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRouteSurveyResults">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveStopSurveyResults">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveSurveys">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrievePositionHistoryByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveReportByIdentity">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveReportsByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SaveReport">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="DeleteReport">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRouteNotesByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveCannedTextMessagesByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRouteDailyStatsByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="ConvertTimestamp">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="ConvertTimestamps">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="ReturnFault">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="CalculateTimeDist">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SaveRegionConfig">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRegionConfig">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SaveUserConfig">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveUserConfig">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SaveGlobalConfig">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveGlobalConfig">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRoutingSessionsByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRoutingSessionByIdentity">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRoutingRoutesByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRoutingRouteByIdentity">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRoutingStopByIdentity">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRoutingUnassignsByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRoutingLocationsWithOrders">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRoutingOrderByIdentity">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SaveRoutingImportOrders">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRoutingImportOrderByIdentity">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRoutingImportOrdersByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRoutingStopsByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveRoutingRouteDailyStatsByCriteria">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="RetrieveNotificationsByRecipientIdentity">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="DeleteNotifications">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="UnlockNotifications">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="UpdateDeliveryDetails">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="StartRoute">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="DepartOrigin">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="ArriveDestination">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="CompleteRoute">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="ArriveStop">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="DepartStop">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SequenceStop">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="CancelStop">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="UpdateRoutePosition">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="TextMessage">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SchedulerInitialize">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SchedulerInitializeUsingCalendar">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SchedulerAnalyzeOrder">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SchedulerAnalyzeOrderUsingDynamicWindows">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SchedulerReserveOrder">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SchedulerConfirmOrder">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SchedulerCancelOrder">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SchedulerPurge">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SchedulerExportRoutes">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SchedulerIsExcludingCutoffRoutes">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SchedulerExcludeCutoffRoutes">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SchedulerOptimizeOrders">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SchedulerExtendOrderReservation">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
  <operation name="SchedulerSendRoutesToRoadnet">
   <SOAP:operation soapAction=""/>
   <input>
    <SOAP:body use="literal"/>
   </input>
   <output>
    <SOAP:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="TransportationWebService">
  <documentation>UPS Logistics Technologies Transportation Web Service</documentation>
  <port name="TransportationWebService" binding="tns:TransportationWebService">
   <SOAP:address location="http://localhost:81"/>
  </port>
 </service>
</definitions>
