Trunk/xxom/bpel/I1148DPSCreateOrderProcess_Out/I1148DPSCreateOrderProcess/UpdateSuccessAckProcess/output/bpel/EnqueueMessage.wsdl

<definitions
     name="EnqueueMessage"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/EnqueueMessage/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/aq/EnqueueMessage/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:imp1="http://xmlns.oracle.com/UpdateSuccessAckProcess"
     xmlns:obj1="http://xmlns.oracle.com/xdb/BPEL_AQADM"
    >
    <types>
    <!-- Define AQ Headers = Payload Headers + Static Queue Headers -->
    <schema attributeFormDefault="qualified" elementFormDefault="qualified"
            targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/EnqueueMessage/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/aq/EnqueueMessage/"
            xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/aq/outbound/"
            xmlns:obj1="http://xmlns.oracle.com/xdb/BPEL_AQADM" >
      <import namespace="http://xmlns.oracle.com/xdb/BPEL_AQADM" schemaLocation="BPEL_AQADM_XX_OM_ERR_MSG_T.xsd"/>
      <import namespace="http://xmlns.oracle.com/pcbpel/adapter/aq/outbound/" schemaLocation="aqAdapterOutboundHeader.xsd"/>
      <complexType name="HeaderCType" >
        <sequence>
          <!-- static header -->
          <element name="QueueHeader" type="hdr:HeaderType" />
          <!-- payload header -->
          <element name="PayloadHeader" type="obj1:XX_OM_ERR_MSG_T" />
        </sequence>
      </complexType>
      <element name="Header" type="tns:HeaderCType" />
    </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/UpdateSuccessAckProcess" schemaLocation="UpdateSuccessAckProcess.xsd" />
      </schema>
    </types>
    <message name="UpdateSuccessAckProcessProcessRequest_msg">
        <part name="UpdateSuccessAckProcessProcessRequest" element="imp1:UpdateSuccessAckProcessProcessRequest"/>
    </message>
    <message name="Header_msg">
        <part name="Header" element="tns:Header"/>
    </message>
    <portType name="Enqueue_ptt">
        <operation name="Enqueue">
            <input message="tns:UpdateSuccessAckProcessProcessRequest_msg"/>
        </operation>
    </portType>
    <binding name="Enqueue_binding" type="tns:Enqueue_ptt">
    <jca:binding  />
        <operation name="Enqueue">
      <jca:operation
          InteractionSpec="oracle.tip.adapter.aq.outbound.AQEnqueueInteractionSpec"
          QueueName="XX_OM_DPS_ERR_MSG_Q"
          DatabaseSchema="BPEL_AQADM"
          ObjectFieldName="ERR_MSG_T"
          Correlation="DBSuccessAck"
          PayloadHeaderRequired="true"
          OpaqueSchema="false" >
      </jca:operation>
      <input>
        <jca:header message="tns:Header_msg" part="Header"/>
      </input>
        </operation>
    </binding>
    <service name="EnqueueMessage">
        <port name="Enqueue_pt" binding="tns:Enqueue_binding">
<!--Your runtime connection is declared in 
J2EE_HOME/application-deployments/default/AqAdapter/oc4j-ra.xml 
These mcf properties here are from your design time connection and 
save you from having to edit that file and restart the application server 
if eis/db/bpeleh is missing. 
These mcf properties are safe to remove.-->
      <jca:address location="eis/db/bpeleh" UIConnectionName="b2b_b2b_common_soadev03"
          ManagedConnectionFactory="oracle.tip.adapter.aq.AQManagedConnectionFactory"
          mcf.ConnectionString="jdbc:oracle:thin:@//choldbr05d-vip.na.odcorp.net:1540/soadev03.na.odcorp.net"
          mcf.UserName="b2b_common"
          mcf.Password="730473F8077A93908579B129F36FE52CDDC048307AFA162A" />
        </port>
    </service>
  <plt:partnerLinkType name="Enqueue_plt" >
    <plt:role name="Enqueue_role" >
      <plt:portType name="tns:Enqueue_ptt" />
    </plt:role>
  </plt:partnerLinkType>
</definitions>
