soa/PeopleSoftUpgrade/SyncDB2FoundationTables/V1/SynchJobPsftToDB2Service/InsertUpdateJobDB2Data.wsdl

<?binding.jca InsertUpdateJobDB2Data_db.jca?>
<wsdl:definitions name="InsertUpdateJobDB2Data" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/Application1/DB2FoundationTbls/InsertUpdateJobDB2Data" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/Application1/DB2FoundationTbls/InsertUpdateJobDB2Data" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/InsertUpdateJobDB2Data">
    <plt:partnerLinkType name="InsertUpdateJobDB2Data_plt">
        <plt:role name="InsertUpdateJobDB2Data_role">
            <plt:portType name="tns:InsertUpdateJobDB2Data_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/InsertUpdateJobDB2Data" schemaLocation="xsd/InsertUpdateJobDB2Data_table.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="PsJobcodeTblCollection_msg">
        <wsdl:part name="PsJobcodeTblCollection" element="top:PsJobcodeTblCollection"/>
    </wsdl:message>
    <wsdl:message name="InsertUpdateJobDB2DataSelect_inputParameters">
        <wsdl:part name="InsertUpdateJobDB2DataSelect_inputParameters" element="top:InsertUpdateJobDB2DataSelect_InputParamJobCodeInputParameters"/>
    </wsdl:message>
    <wsdl:portType name="InsertUpdateJobDB2Data_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:PsJobcodeTblCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="insert">
            <wsdl:input message="tns:PsJobcodeTblCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:PsJobcodeTblCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="InsertUpdateJobDB2DataSelect">
            <wsdl:input message="tns:InsertUpdateJobDB2DataSelect_inputParameters"/>
            <wsdl:output message="tns:PsJobcodeTblCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
