xxptp/bpel/I1106-1_PixTransactionsProcess/bpel/APPS_BPEL_PLPOPULATERCVXFRSTAGEPROC_XX_GI_RECEIVING_PKG-24POPULATE__1203663059954.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/APPS/BPEL_PLPOPULATERCVXFRSTAGEPROC/XX_GI_RECEIVING_PKG-24POPULATE_/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/APPS/BPEL_PLPOPULATERCVXFRSTAGEPROC/XX_GI_RECEIVING_PKG-24POPULATE_/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="X_KEYREC_REC" type="db:XX_GI_RECEIVING_PKG_ROWTYPE_2" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="X_HEADER_REC" type="db:XX_GI_RECEIVING_PKG_ROWTYPE_3" db:index="2" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="X_DETAIL_TBL" type="db:XX_GI_RECEIVING_PKG_DETAIL_T4" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="X_KEYREC_REC" type="db:XX_GI_RECEIVING_PKG_ROWTYPE_2" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="X_HEADER_REC" type="db:XX_GI_RECEIVING_PKG_ROWTYPE_3" db:index="2" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="X_DETAIL_TBL" type="db:XX_GI_RECEIVING_PKG_DETAIL_T4" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="X_RETURN_STATUS" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="X_RETURN_MESSAGE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="XX_GI_RECEIVING_PKG_DETAIL_R5">
      <sequence>
         <element name="INTERFACE_TRANSACTION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="GROUP_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CREATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_LOGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REQUEST_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_APPLICATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="TRANSACTION_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TRANSACTION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="PROCESSING_STATUS_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PROCESSING_MODE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PROCESSING_REQUEST_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TRANSACTION_STATUS_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CATEGORY_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="UNIT_OF_MEASURE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="INTERFACE_SOURCE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="INTERFACE_SOURCE_LINE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INV_TRANSACTION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ITEM_DESCRIPTION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ITEM_REVISION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="UOM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="EMPLOYEE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="AUTO_TRANSACT_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIPMENT_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SHIPMENT_LINE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SHIP_TO_LOCATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRIMARY_QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRIMARY_UNIT_OF_MEASURE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RECEIPT_SOURCE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VENDOR_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VENDOR_SITE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FROM_ORGANIZATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FROM_SUBINVENTORY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TO_ORGANIZATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INTRANSIT_OWNING_ORG_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ROUTING_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ROUTING_STEP_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SOURCE_DOCUMENT_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PARENT_TRANSACTION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PO_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PO_REVISION_NUM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PO_RELEASE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PO_LINE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PO_LINE_LOCATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PO_UNIT_PRICE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CURRENCY_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="15"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CURRENCY_CONVERSION_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CURRENCY_CONVERSION_RATE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CURRENCY_CONVERSION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="PO_DISTRIBUTION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REQUISITION_LINE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REQ_DISTRIBUTION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CHARGE_ACCOUNT_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SUBSTITUTE_UNORDERED_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RECEIPT_EXCEPTION_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ACCRUAL_STATUS_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="INSPECTION_STATUS_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="INSPECTION_QUALITY_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DESTINATION_TYPE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DELIVER_TO_PERSON_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LOCATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DELIVER_TO_LOCATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SUBINVENTORY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LOCATOR_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="WIP_ENTITY_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="WIP_LINE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DEPARTMENT_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="WIP_REPETITIVE_SCHEDULE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="WIP_OPERATION_SEQ_NUM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="WIP_RESOURCE_SEQ_NUM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BOM_RESOURCE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SHIPMENT_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FREIGHT_CARRIER_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="BILL_OF_LADING" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PACKING_SLIP" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIPPED_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="EXPECTED_RECEIPT_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="ACTUAL_COST" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TRANSFER_COST" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TRANSPORTATION_COST" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TRANSPORTATION_ACCOUNT_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NUM_OF_CONTAINERS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="WAYBILL_AIRBILL_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VENDOR_ITEM_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VENDOR_LOT_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RMA_REFERENCE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COMMENTS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE_CATEGORY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE6" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE7" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE9" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE10" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE11" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE12" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE13" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE14" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE15" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE_CATEGORY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE6" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE7" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE8" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE9" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE10" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE11" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE12" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE13" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE14" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_HEAD_ATTRIBUTE15" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE_CATEGORY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE6" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE7" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE8" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE9" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE10" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE11" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE12" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE13" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE14" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_LINE_ATTRIBUTE15" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="USSGL_TRANSACTION_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="GOVERNMENT_CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REASON_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DESTINATION_CONTEXT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SOURCE_DOC_QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SOURCE_DOC_UNIT_OF_MEASURE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MOVEMENT_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="HEADER_INTERFACE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VENDOR_CUM_SHIPPED_QTY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ITEM_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="81"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DOCUMENT_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DOCUMENT_LINE_NUM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TRUCK_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="35"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_TO_LOCATION_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="60"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CONTAINER_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="35"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SUBSTITUTE_ITEM_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="81"/>
               </restriction>
            </simpleType>
         </element>
         <element name="NOTICE_UNIT_PRICE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ITEM_CATEGORY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="81"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LOCATION_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="60"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VENDOR_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VENDOR_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VENDOR_SITE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="15"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FROM_ORGANIZATION_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TO_ORGANIZATION_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="INTRANSIT_OWNING_ORG_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ROUTING_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ROUTING_STEP" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RELEASE_NUM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DOCUMENT_SHIPMENT_LINE_NUM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DOCUMENT_DISTRIBUTION_NUM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DELIVER_TO_PERSON_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="DELIVER_TO_LOCATION_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="60"/>
               </restriction>
            </simpleType>
         </element>
         <element name="USE_MTL_LOT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="USE_MTL_SERIAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LOCATOR" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="81"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REASON_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VALIDATION_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SUBSTITUTE_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUANTITY_SHIPPED" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QUANTITY_INVOICED" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TAX_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="15"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TAX_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REQ_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REQ_LINE_NUM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REQ_DISTRIBUTION_NUM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="WIP_ENTITY_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="24"/>
               </restriction>
            </simpleType>
         </element>
         <element name="WIP_LINE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RESOURCE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIPMENT_LINE_STATUS_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="BARCODE_LABEL" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="35"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TRANSFER_PERCENTAGE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="QA_COLLECTION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="COUNTRY_OF_ORIGIN_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OE_ORDER_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OE_ORDER_LINE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_SITE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_ITEM_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CREATE_DEBIT_MEMO_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PUT_AWAY_RULE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PUT_AWAY_STRATEGY_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LPN_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TRANSFER_LPN_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="COST_GROUP_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MOBILE_TXN" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2"/>
               </restriction>
            </simpleType>
         </element>
         <element name="MMTT_TEMP_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TRANSFER_COST_GROUP_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SECONDARY_QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SECONDARY_UNIT_OF_MEASURE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SECONDARY_UOM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="QC_GRADE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FROM_LOCATOR" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="81"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FROM_LOCATOR_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PARENT_SOURCE_TRANSACTION_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="INTERFACE_AVAILABLE_QTY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INTERFACE_TRANSACTION_QTY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INTERFACE_AVAILABLE_AMT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INTERFACE_TRANSACTION_AMT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LICENSE_PLATE_NUMBER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SOURCE_TRANSACTION_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TRANSFER_LICENSE_PLATE_NUMBER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LPN_GROUP_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ORDER_TRANSACTION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_ACCOUNT_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_PARTY_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="360"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OE_ORDER_LINE_NUM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OE_ORDER_NUM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PARENT_INTERFACE_TXN_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="JOB_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIMECARD_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIMECARD_OVN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ERECORD_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROJECT_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TASK_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ASN_ATTACH_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ORG_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OPERATING_UNIT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REQUESTED_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MATERIAL_STORED_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="AMOUNT_SHIPPED" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MATCHING_BASIS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REPLENISH_ORDER_LINE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="E0346_STATUS_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_RCV_ERROR_DESCRIPTION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2000"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE8" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_RVC_CORRECTION_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_RCV_STATUS_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LEGACY_TRANSACTION_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="XX_GI_RECEIVING_PKG_DETAIL_T4">
      <sequence>
         <element name="X_DETAIL_TBL_ITEM" type="db:XX_GI_RECEIVING_PKG_DETAIL_R5" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XX_GI_RECEIVING_PKG_ROWTYPE_3">
      <sequence>
         <element name="HEADER_INTERFACE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="GROUP_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EDI_CONTROL_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PROCESSING_STATUS_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RECEIPT_SOURCE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ASN_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TRANSACTION_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="AUTO_TRANSACT_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TEST_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LAST_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_LOGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CREATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NOTICE_CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="SHIPMENT_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RECEIPT_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="RECEIPT_HEADER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VENDOR_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VENDOR_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VENDOR_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VENDOR_SITE_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="35"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VENDOR_SITE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FROM_ORGANIZATION_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FROM_ORGANIZATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SHIP_TO_ORGANIZATION_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_TO_ORGANIZATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LOCATION_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="60"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LOCATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BILL_OF_LADING" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PACKING_SLIP" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIPPED_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="FREIGHT_CARRIER_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="EXPECTED_RECEIPT_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="RECEIVER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NUM_OF_CONTAINERS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="WAYBILL_AIRBILL_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="20"/>
               </restriction>
            </simpleType>
         </element>
         <element name="COMMENTS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="GROSS_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="GROSS_WEIGHT_UOM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="NET_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NET_WEIGHT_UOM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TAR_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TAR_WEIGHT_UOM_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PACKAGING_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="5"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CARRIER_METHOD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CARRIER_EQUIPMENT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SPECIAL_HANDLING_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
               </restriction>
            </simpleType>
         </element>
         <element name="HAZARD_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="HAZARD_CLASS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="4"/>
               </restriction>
            </simpleType>
         </element>
         <element name="HAZARD_DESCRIPTION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="80"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FREIGHT_TERMS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FREIGHT_BILL_NUMBER" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="35"/>
               </restriction>
            </simpleType>
         </element>
         <element name="INVOICE_NUM" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="INVOICE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="TOTAL_INVOICE_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TAX_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="15"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TAX_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FREIGHT_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CURRENCY_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="15"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CONVERSION_RATE_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CONVERSION_RATE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CONVERSION_RATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="PAYMENT_TERMS_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PAYMENT_TERMS_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE_CATEGORY" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE1" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE2" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE3" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE4" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE5" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE6" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE7" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE9" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE10" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE11" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE12" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE13" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE14" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE15" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="USGGL_TRANSACTION_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="EMPLOYEE_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="EMPLOYEE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INVOICE_STATUS_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="25"/>
               </restriction>
            </simpleType>
         </element>
         <element name="VALIDATION_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="1"/>
               </restriction>
            </simpleType>
         </element>
         <element name="PROCESSING_REQUEST_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_ACCOUNT_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_SITE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_PARTY_NAME" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="360"/>
               </restriction>
            </simpleType>
         </element>
         <element name="REMIT_TO_SITE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TRANSACTION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="ORG_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OPERATING_UNIT" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="240"/>
               </restriction>
            </simpleType>
         </element>
         <element name="SHIP_FROM_LOCATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PERFORMANCE_PERIOD_FROM" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="PERFORMANCE_PERIOD_TO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="REQUEST_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="SHIP_FROM_LOCATION_CODE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_RCV_STATUS_FLAG" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="4"/>
               </restriction>
            </simpleType>
         </element>
         <element name="ATTRIBUTE8" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="OD_RCV_ERROR_DESCRIPTION" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="150"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LEGACY_TRANSACTION_TYPE" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="LOC_NBR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XX_GI_RECEIVING_PKG_ROWTYPE_2">
      <sequence>
         <element name="KEYREC_NBR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LOC_NBR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TYPE_CD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2"/>
               </restriction>
            </simpleType>
         </element>
         <element name="STATUS_CD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="4"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CARTON_CNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="COMMENTS" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="50"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FREIGHT_CD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FOB_CD" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="2"/>
               </restriction>
            </simpleType>
         </element>
         <element name="FREIGHT_BILL_NBR" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="15"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CARRIER_NBR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROFORMA_NBR" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
               </restriction>
            </simpleType>
         </element>
         <element name="TOTAL_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NEXT_AP_SEQ_NBR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OB_USER_ID" db:type="VARCHAR2" minOccurs="0" nillable="true">
            <simpleType>
               <restriction base="string">
                  <maxLength value="10"/>
               </restriction>
            </simpleType>
         </element>
         <element name="CREATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_LOGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
</schema>
