xxptp/bpel/I1106-1_PixTransactionsProcess/bpel/LoadPixTransactionInProcess.wsdl

<definitions
     name="LoadPixTransactionInProcess"
     targetNamespace="http://xmlns.oracle.com/LoadPixTransactionInProcess"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://schemas.oracle.com/bpel/extension"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.oracle.com/LoadPixTransactionInProcess"
    >
    <import namespace="http://schemas.oracle.com/bpel/extension" location="RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/LoadPixTransactionInProcess" schemaLocation="LoadPixTransactionInProcess.xsd"/>
        </schema>
    </types>
    <message name="LoadPixTransactionInProcessRequestMessage">
        <part name="payload" element="client:LoadPixTransactionInProcessProcessRequest"/>
    </message>
    <message name="LoadPixTransactionInProcessResponseMessage">
        <part name="payload" element="client:LoadPixTransactionInProcessProcessResponse"/>
    </message>
    <portType name="LoadPixTransactionInProcess">
        <operation name="initiate">
            <input message="client:LoadPixTransactionInProcessRequestMessage"/>
        </operation>
    </portType>
    <portType name="LoadPixTransactionInProcessCallback">
        <operation name="onResult">
            <input message="client:LoadPixTransactionInProcessResponseMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="LoadPixTransactionInProcess">
        <plnk:role name="LoadPixTransactionInProcessProvider">
            <plnk:portType name="client:LoadPixTransactionInProcess"/>
        </plnk:role>
        <plnk:role name="LoadPixTransactionInProcessRequester">
            <plnk:portType name="client:LoadPixTransactionInProcessCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
