xxptp/bpel/I1106-1_PixTransactionsProcess/bpel/LoadPixTransactionInProcess.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/LoadPixTransactionInProcess"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="LoadPixTransactionInProcessProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="LoadPixTransactionInProcessProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>