bpel/I1148DPSCreateOrderProcess_Out/I1148DPSCreateOrderProcess/SendSalesOrderInfo/bpel/SendSalesOrderInfo.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SendSalesOrderInfo"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="SendSalesOrderInfoProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="SendSalesOrderInfoProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>