bpel/ItemCrossRef_rms_outb/bpel/ItemCrossRef_RMS_Out.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ItemCrossRef_RMS_Out"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ItemCrossRef_RMS_OutProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ItemCrossRef_RMS_OutProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>