bpel/OMServiceOrder2Vendor/bpel/ODTechServices_routeTDS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://schemas.officedepot.com/ODTechServices/routeTDS" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="routeTDS" targetNamespace="http://schemas.officedepot.com/ODTechServices/routeTDS">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.officedepot.com/ODTechServices/routeTDS" xmlns:SOAP_ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://schemas.officedepot.com/ODTechServices/routeTDS">
          
          <xsd:element name="vendor" type="xsd:string"/>
          <xsd:element name="action" type="xsd:string"/>
          <xsd:element name="serviceId" type="xsd:string"/>
          <xsd:element name="storeCode" type="xsd:string"/>
          <xsd:element name="comments" type="xsd:string"/>
          <xsd:element name="status" type="xsd:string"/>
          <xsd:element name="customerNumber" type="xsd:string"/>
          <xsd:element name="firstName" type="xsd:string"/>
          <xsd:element name="lastName" type="xsd:string"/>
          <xsd:element name="address1" type="xsd:string"/>
          <xsd:element name="address2" type="xsd:string"/>
          <xsd:element name="city" type="xsd:string"/>
          <xsd:element name="state" type="xsd:string"/>
          <xsd:element name="zipcode" type="xsd:string"/>
          <xsd:element name="phoneNumber" type="xsd:string"/>
          <xsd:element name="workPhoneNumber" type="xsd:string"/>
          <xsd:element name="alternatePhoneNumber" type="xsd:string"/>
          <xsd:element name="faxNumber" type="xsd:string"/>
          <xsd:element name="email" type="xsd:string"/>
          <xsd:element name="manufacturer" type="xsd:string"/>
          <xsd:element name="brand" type="xsd:string"/>
          <xsd:element name="model" type="xsd:string"/>
          <xsd:element name="deviceType" type="xsd:string"/>
          <xsd:element name="operatingSystem" type="xsd:string"/>
          <xsd:element name="serialNumber" type="xsd:string"/>
          <xsd:element name="systemLogin" type="xsd:string"/>
          <xsd:element name="systemPassword" type="xsd:string"/>
          <xsd:element name="description" type="xsd:string"/>
          <xsd:element name="problemDescription" type="xsd:string"/>
          <xsd:element name="skuId" type="xsd:string"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="quantity" type="xsd:string"/>
          <xsd:element name="deliveryLocation" type="xsd:string"/>
          <xsd:complexType name="routeTDS">
            <xsd:sequence>
              <xsd:element name="TDSRequest" nillable="true" type="tns:ODTechServiceRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ODTechServiceRequest">
            <xsd:sequence>
              <xsd:element ref="tns:vendor"/>
              <xsd:element ref="tns:action"/>
              <xsd:element ref="tns:serviceId"/>
              <xsd:element ref="tns:storeCode"/>
              <xsd:element ref="tns:comments"/>
              <xsd:element ref="tns:status"/>
              <xsd:element name="customer" form="qualified" type="tns:docTypeRef_tns_customer"/>
              <xsd:element name="device" form="qualified" type="tns:docTypeRef_tns_device"/>
              <xsd:element name="skus" form="qualified" type="tns:docTypeRef_tns_ArrayOfSku"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="docTypeRef_tns_customer">
            <xsd:sequence>
              <xsd:element ref="tns:customerNumber"/>
              <xsd:element ref="tns:firstName"/>
              <xsd:element ref="tns:lastName"/>
              <xsd:element ref="tns:address1"/>
              <xsd:element ref="tns:address2"/>
              <xsd:element ref="tns:city"/>
              <xsd:element ref="tns:state"/>
              <xsd:element ref="tns:zipcode"/>
              <xsd:element ref="tns:phoneNumber"/>
              <xsd:element ref="tns:workPhoneNumber"/>
              <xsd:element ref="tns:alternatePhoneNumber"/>
              <xsd:element ref="tns:faxNumber"/>
              <xsd:element ref="tns:email"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="docTypeRef_tns_device">
            <xsd:sequence>
              <xsd:element ref="tns:manufacturer"/>
              <xsd:element ref="tns:brand"/>
              <xsd:element ref="tns:model"/>
              <xsd:element ref="tns:deviceType"/>
              <xsd:element ref="tns:operatingSystem"/>
              <xsd:element ref="tns:serialNumber"/>
              <xsd:element ref="tns:systemLogin"/>
              <xsd:element ref="tns:systemPassword"/>
              <xsd:element ref="tns:description"/>
              <xsd:element ref="tns:problemDescription"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="docTypeRef_tns_ArrayOfSku">
            <xsd:sequence>
              <xsd:element name="sku" form="qualified" type="tns:ArrayOfdocTypeRef_tns_sku" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="docTypeRef_tns_sku">
            <xsd:sequence>
              <xsd:element ref="tns:skuId"/>
              <xsd:element ref="tns:name"/>
              <xsd:element ref="tns:quantity"/>
              <xsd:element ref="tns:deliveryLocation"/>
              <xsd:element ref="tns:status"/>
              <xsd:element ref="tns:description"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfdocTypeRef_tns_sku"><xsd:sequence>
			<xsd:element name="ArrayOfdocTypeRef_tns_skuItem" type="tns:docTypeRef_tns_sku" maxOccurs="unbounded"/>
		</xsd:sequence>

          </xsd:complexType>
          <xsd:complexType name="routeTDSResponse">
            <xsd:sequence>
              <xsd:element name="TDSResponse" nillable="true" type="tns:ODTechServiceResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ODTechServiceResponse">
            <xsd:sequence>
              <xsd:element name="serviceId" form="qualified" type="xsd:string"/>
              <xsd:element name="success" form="qualified" type="xsd:boolean"/>
              <xsd:element name="message" form="qualified" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        			<xsd:element name="routeTDS" type="tns:routeTDS"/>
			<xsd:element name="routeTDSResponse" type="tns:routeTDSResponse"/>
	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="routeTDS_PortType_routeTDSResponse">
    <wsdl:part name="parameters" element="tns:routeTDSResponse">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="routeTDS_PortType_routeTDS">
    <wsdl:part name="parameters" element="tns:routeTDS">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="routeTDS_PortType">
    <wsdl:operation name="routeTDS">
      <wsdl:input message="tns:routeTDS_PortType_routeTDS">
    </wsdl:input>
      <wsdl:output message="tns:routeTDS_PortType_routeTDSResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ODTechServices_routeTDS_Binder" type="tns:routeTDS_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="routeTDS">
      <soap:operation soapAction="ODTechServices_routeTDS_Binder_routeTDS" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="routeTDS">
    <wsdl:port name="ODTechServices_routeTDS_Port" binding="tns:ODTechServices_routeTDS_Binder">
      <!--<soap:address location="http://eidev.uschecomrnd.net:5080/ws/ODTechServices:routeTDS"/> -->
      <soap:address location="http://webmethods.service.url/ws/ODTechServices:routeTDS"/>
     </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
