bpel/E0280_CarrierSelection/XXOMWshReceivePShipmentFromOtm/bpel/XXOMWshReceivePShipmentFromOtm.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/XXOMWshReceivePShipmentFromOtm"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="WshReceivePShipmentFromOtmProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="WshReceivePShipmentFromOtmProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>