bpel/E0271_EBSOTMDataMap/XXOMWshSendTxnToOtmService/bpel/XXOMWshSendTxnToOtmService.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/XXOMWshSendTxnToOtmService"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="WshSendTxnToOtmServiceProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="WshSendTxnToOtmServiceProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>