Trunk/xxfin/bpel/archive/ProcessAJB998Inbound/bpel/ServiceTableInsert_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ServiceTableInsert" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ServiceTableInsert" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxCeAjb998Collection" type="XxCeAjb998Collection"/>
   <xs:complexType name="XxCeAjb998Collection">
      <xs:sequence>
         <xs:element name="XxCeAjb998" type="XxCeAjb998" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxCeAjb998">
      <xs:sequence>
         <xs:element name="recordType" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vsetFile" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="sdate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="actionCode" type="xs:decimal" minOccurs="0"/>
         <xs:element name="attribute1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="providerType" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="storeNum" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="terminalNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="trxType" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="cardNum" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute6" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="trxAmount" type="xs:decimal" minOccurs="0"/>
         <xs:element name="invoiceNum" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="countryCode" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="currencyCode" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute7" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute8" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute9" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute10" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute11" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute12" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute13" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute14" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute15" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute16" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute17" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute18" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute19" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute20" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="receiptNum" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="70"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute21" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute22" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="authNum" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute23" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute24" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute25" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute26" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute27" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute28" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute29" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute30" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="bankRecId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute31" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute32" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="trxDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="attribute33" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute34" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute35" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="processorId" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="networkFee" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="adjFee" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="adjDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="adjReasonCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="adjReasonDesc" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rejReasonCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rejReasonDesc" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="otherFee1" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="otherFee2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="fundPercent" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="refNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="disAmt" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="disRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="serviceRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="otherRate1" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="otherRate2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="createdBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdatedBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="attribute36" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute37" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute38" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute39" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute40" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute41" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute42" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute43" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="status" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="status1310" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="status1295" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="sequenceId998" type="xs:decimal" minOccurs="0"/>
         <xs:element name="orgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="ipayBatchNum" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>