bpel/E3010_Vendor_SCAudit/ScAudirResultsResponse.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ScAudirResultsResponse"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ScAudirResultsResponse">
		<complexType>
			<sequence>
				<element name="ReturnCode" type="string"/> 
                                <element name="ReturnMsg" type="string" />
			</sequence>
		</complexType>
	</element>
</schema>